{% extends "layout.html" %}

<!--css file used-->
{% block css %}
<link href="{{ url_for('static', filename='css/activity.css') }}" rel='stylesheet' type='text/css'/> 
{% endblock %}

<!--content-->
{% block content %}
<div id="activity-headline-img">
	<img src="{{url_for('uploaded_activity_title_image', filename='headline.jpg')}}">
</div>

<div id="activity-current">
	<!-- 活动细节 -->
	<h2 class="main-color">当前活动</h2>
	<img id="activity-left-arrow" src="{{ url_for('static', filename='images/arrow-left.png') }}">
	<img id="activity-right-arrow" src="{{ url_for('static', filename='images/arrow-right.png') }}">
	<div id="activity-slide">
		{% if current_activity_list %}
		{% for (i,activity) in current_activity_list|zip %}
		<div class="activity-current-info" data-index='{{i-1}}'>
			<h3>{{activity.name}}</h3>
			<img class="activity-info-img" src="{{activity.picture}}">
		
			<div>
				<strong>活动介绍：</strong>{{activity.abstract}}
			</div>
		
			<p style="margin-top: 20px;"><strong>活动时间：</strong>{{activity.activity_time|time_split_3}}</p>
			<p><strong>活动地点：</strong>{{activity.place}}</p>
			<a href="{{url_for('activity', activity_id = activity.activity_id)}}">MORE&gt;</a>
		</div>
		{% endfor %}
		{% else %}
		{# 没有任何新活动 #}
		<div class="activity-current-info" data-index='0'>
			<div style="margin:200px auto auto auto; text-align: center;">
				当前没有最新活动哦！
			</div>
		</div>
		{% endif %}
	</div>
</div>

<div id="activity-past">
	<h2 class="main-color">以往活动</h2>
	<!-- 右侧排序下拉菜单 -->
<!-- 	<div id="activity-select-part">
		<label>排序方式：</label>
		<select name="sorting">
			<option id="sorting-by-time" value="time" {%if order == 'order_time'%} selected="selected"{% endif %}>时 间</option>
			<option id="sorting-by-heat" value="heat" {%if order != 'order_time'%} selected="selected"{% endif %}>热 度</option>
		</select>
	</div> -->
	<!-- 图片 -->
	<div id="activity-past-info">
		<table>
			<tr id="activity-row-1">
				<td style="background-image: url('{{passed_activity_list[0].picture}}');"><img src="{{ url_for('static', filename='images/transparent-circle.png') }}"/></td>
				<td style="background-image: url('{{passed_activity_list[1].picture}}');"><img src="{{ url_for('static', filename='images/transparent-circle.png') }}"/></td>
				<td style="background-image: url('{{passed_activity_list[2].picture}}');"><img src="{{ url_for('static', filename='images/transparent-circle.png') }}"/></td>
				<td style="background-image: url('{{passed_activity_list[3].picture}}');"><img src="{{ url_for('static', filename='images/transparent-circle.png') }}"/></td>
			</tr>
			<tr id="activity-row-2">
				<td>{{passed_activity_list[0].name}}</td>
				<td>{{passed_activity_list[1].name}}</td>
				<td>{{passed_activity_list[2].name}}</td>
				<td>{{passed_activity_list[3].name}}</td>
			</tr>
			<tr  id="activity-row-3">
				<td>{{passed_activity_list[0].activity_time|time_split_4 if passed_activity_list[0]}}</td>
				<td>{{passed_activity_list[1].activity_time|time_split_4 if passed_activity_list[1]}}</td>
				<td>{{passed_activity_list[2].activity_time|time_split_4 if passed_activity_list[2]}}</td>
				<td>{{passed_activity_list[3].activity_time|time_split_4 if passed_activity_list[3]}}</td>
			</tr>
		</table>
		
	</div>
</div>
{% endblock %}


<!--js file used-->
{% block js %}
<script type="text/javascript">
$(document).ready(function()
{
	var high = 0;
	var index = 0;

	// 各个活动位置初始化
	$('.activity-current-info').each(function()
	{
		var offset = parseInt($(this).attr('data-index')) * 955;
		var offsetStr = '+=' + offset + 'px'; //相对偏移
		$(this).css({left: offsetStr});
		high += 1;
	});

	$('#activity-left-arrow').addClass('display-none');
	if(high == 1) //只有一条活动
		$('#activity-right-arrow').addClass('display-none');

	// 向左向右移动
	$('#activity-right-arrow').click(function()
	{
		if(index < high-1)
		{
			$('.activity-current-info').each(function()
			{
				$(this).animate({left: '-=955px'}, 450);
			});
			index += 1;
			$('#activity-left-arrow').removeClass('display-none');
			if(index == high-1)
				$(this).addClass('display-none');
		}
	});

	$('#activity-left-arrow').click(function()
	{
		if(index > 0)
		{
			$('.activity-current-info').each(function()
			{
				$(this).animate({left: '+=955px'}, 450);
			});
			index -= 1;
			$('#activity-right-arrow').removeClass('display-none');
			if(index == 0)
				$(this).addClass('display-none');
		}
	});

	var myClick = function(){
		if(index < high-1)
			$('#activity-right-arrow').trigger("click");
		else
			for (var i = 0; i < high; i++) {
				$('#activity-left-arrow').trigger("click");
			};
	}

	if(high > 0)
		setInterval(myClick,5000);
});
</script>
{% endblock %}