{% extends "layout.html" %}

<!--css file used-->
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/flexslider.css" />
<link href="{{ url_for('static', filename='css/activity.css') }}" rel='stylesheet' type='text/css'/> 
{% endblock %}

<!--content-->
{% block content %}

<!-- 活动细节 -->
<h2 class="activity-current">当前活动</h2>
<div id="activity-current">
	<div class="flexslider">
		{% if current_activity_list %}
		<ul class="slides">
		{% for activity in current_activity_list %}
		<li class="activity-current-info">
			<h3><a href="{{url_for('activity', activity_id = activity.activity_id)}}">{{activity.name}}</a></h3>

			<a href="{{url_for('activity', activity_id = activity.activity_id)}}"><img class="activity-info-img" src="{{activity.picture}}"></a>
	
			<div>
				<div class="activity-current-abstract"><span>活动介绍：</span>{{activity.abstract}}
				<!--建立名为'xichao'的数据库，命令如下：CREATE DATABASE xichao DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci;(如果数据库中已经有名为'xichao'的数据库，先将其删除)
将functions.py中的导入语句'from xichao import app'注释， models.py中'from xichao import login_serializer'注释
terminal进入到xichao-new，再进入到xichao
进入python shell（在terminal下运行'python'）
运行如下语句：from database import init_db
再运行导入的函数，语句为：init_db()
数据库创建好后，将functions中的'from xichao import app'解除注释
数据库就已经搭好了
在database.py文件中将DB_URL='mysql://root:@localhost/xichao?charset=utf8'中的用户名和密码改为你们自己的，我的用户名是root，密码为空，这样就能连接到数据库了--></div>
				<div style="margin-top: 65px;"><span>活动时间：</span>{{activity.activity_time|time_split_3}}</div>
				<div><span>活动地点：</span>{{activity.place}}</div>
			</div>

		</li>
		{% endfor %}
		</ul>
		{% else %}
		{# 没有任何新活动 #}
		<div class="activity-current-info" data-index='0'>
			<div style="margin:200px auto auto auto; text-align: center;">
				当前没有最新活动哦！
			</div>
		</div>
		{% endif %}
	</div>
</div>

<div id="activity-past">
	<h2>以往活动</h2>
	<!-- 右侧排序下拉菜单 -->
	<div id="activity-select-part">
		<label>排序方式：</label>
		<select id="sort">
			<option id="sorting-by-time" value="time" {%if sort == 'time'%} selected="selected"{% endif %}>时 间</option>
			<option id="sorting-by-favor" value="favor" {%if sort != 'time'%} selected="selected"{% endif %}>热 度</option>
		</select>
	</div>

	<div id="activity-past-info">
		{%for passed_activity in passed_activity_list.items %}
		<a class="thumbnail" href="{{url_for('activity', activity_id = passed_activity.activity_id)}}">
		<div class="passed-activity">
		<div class="passed-activity-image-container">
			
				<div class="passed-activity-image">
					<img src="{{passed_activity.picture}}">
				</div>
	       
		</div>
        <div class="passed-activity-content">
			<div class="passed-activity-name">
				{{passed_activity.name}}
			</div>
			<div class="passed-activity-abstract">
				<span>活动介绍：</span>{{passed_activity.abstract}}
				
				<!--将functions.py中的导入语句'from xichao import app'注释， models.py中'from xichao import login_serializer'注释
terminal进入到xichao-new，再进入到xichao
进入python shell（在terminal下运行'python'）
运行如下语句：from database import init_db
再运行导入的函数，语句为：init_db()
数据库创建好后，将functions中的'from xichao import app'解除注释
数据库就已经搭好了
在database.py文件中将DB_URL='mysql:-->
			</div>
			<div class="passed-activity-info">
				{{passed_activity.activity_time | time_split_6}}&nbsp;&nbsp;&nbsp;&nbsp;<span>收藏</span>（{{passed_activity.favor}}）&nbsp;&nbsp;<span>评论</span>（{{passed_activity.comment_num}}）
			</div>
		</div>
		<div style="clear:both;"></div>
        </div>
         </a>
		{%endfor%}
	</div>
    <div id="activity-paging"> 
        <nav class="pager"> 
        <li>
            {% if passed_activity_list.has_prev %}
                <a href="/activity?sort={{sort}}&page=1">首页</a> 
            {% endif %}  
        </li>
        <li>           
            {% if passed_activity_list.has_prev %}
                <a href="/activity?sort={{sort}}&page={{ passed_activity_list.prev_num }}">上一页</a> 
            {% endif %} 
        </li>
        <li> 
            {{ passed_activity_list.page }} / {{passed_activity_list.pages }}
        </li> 
        <li>
            {% if passed_activity_list.has_next %} 
                <a href="/activity?sort={{sort}}&page={{ passed_activity_list.next_num }}">下一页</a> 
        </li>
        <li>
            {% endif %} 
            {% if passed_activity_list.has_next %} 
                <a href="/activity?sort={{sort}}&page={{ passed_activity_list.pages }}">末页</a> 
            {% endif %}
        </li> 
        </nav> 
    </div>
</div>
{% endblock %}


<!--js file used-->
{% block js %}
	<script type="text/javascript" src="/static/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript">
		$(function() {
    		$(".flexslider").flexslider({
    			animation: "fade",
    			minItems: 1,
    			slideshowSpeed: 7000,
    			prevText: "",
    			nextText: "",
    			
    		});
		});	
	$("#sort").change(function(){
    location.href = "{{sort_change_url | safe}}";
	});
	</script>
{% endblock %}
