{% extends "layout_login.html" %}

{% block login_content %}
    {% from "test_formhelpers.html" import render_login %}
    <form id="login-form-block" method="post" action="/forgetPassword" accept-charset="utf-8">
        <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

        <table id="login-userinfo">
            {{ render_login(form.email) }}
        </table>

        {% if error!=None %}
        <div class="error-tip login-error-not-match">
            {{ error }}
        </div>
        {% endif %}
        <div style="margin: 50px 0 0 0"></div>
        <div id="login-sendmail">
            <input type="submit" value="发送重置密码邮件">
        </div>
    </form>




{% endblock %}

<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='layer-v1.8.5/layer/layer.min.js') }}"></script>

<script type="text/javascript">
{% with messages = get_flashed_messages() %}

    {% for message in messages %}
      {% if messages %}
          layer.msg("{{message}}",1,1);
        {% endif %}
    {% endfor %}
{% endwith %}

</script>