{% extends "layout_login.html" %}

{% block login_content %}
    {% from "test_formhelpers.html" import render_login %}
    <form id="login-form-block" method="post" action="/forgetPassword" accept-charset="utf-8">
        <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

        <table id="login-userinfo">
            {{ render_login(form.email) }}
        </table>

        {% if error!=None %}
        <div class="error-tip login-error-not-match">
            {{ error }}
        </div>
        {% endif %}
        <div style="margin: 50px 0 0 0"></div>
        <div id="login-sendmail">
            <input type="submit" value="发送重置密码邮件">
        </div>
    </form>




{% endblock %}