{% extends "layout_home_page.html" %}

{% block home_page_content %}

	<h1 class="main-color">个人主页</h1>

	<div id="home-personal">
		<div class="personal-left">
			<div class="personal-photo">
				<img src="/static/images/transparent-circle-yellow.png" style="background-image: url('/static/images/square-1.jpg')">

				<div class="personal-name">
					<div style="font-size: 20.8px">荆棘鸟</div>
					<div>作家</div>
					<div style="margin-top: 20px; color: #000000;"><a href="{{url_for('article_upload')}}">写文章</a></div>
				</div>
			</div>

				
			<ul id="left-select" class="idTabs"> 
  				<li><a class="selected" href="#one">个人信息</a></li> 
  				<li><a href="#two">我的发布</a></li> 
  				<li><a href="#three">我的收藏</a></li>
  				<li><a href="#four">我的关注</a></li> 
  				<li><a href="#five">我的粉丝</a></li> 
  				<li><a href="#six">曦潮币</a></li> 
  				<li><a href="#seven">消息中心</a></li> 
			</ul> 
		</div>

		<div class="personal-right">
			<!-- start -->
			<!-- 个人信息 -->
			<div id="one">
				<div class="personal-right-up">
					<ul class="idTabs three-tab">
						<li><a href="#one1"><font>基本信息</font></a></li>
						<li><a href="#one2"><font>个人简介</font></a></li>
						<li><a href="#one3"><font>会员卡</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="one1" class="home-text">
						<table style="margin-left: 50px;">
						<tr>
							<td>昵称：</td>
							<td class="one1-orig" id="show-nick">Frank</td>
							<td class="one1-new"><input id="change-nick" type="text" value="Frank"></td>
						</tr>
						<tr>
							<td>性别：</td>
							<td class="one1-orig" id="show-sex">男</td>
							<td class="one1-new" id="radio-sex">
								<input type="radio" name="identity" value="male" checked="checked" />男
								<input type="radio" name="identity" value="female"/>女
							</td>
						</tr>
						<tr>
							<td>生日：</td>
							<td class="one1-orig" id="show-birthday">2000-01-21</td>
							<td class="one1-new">
								<input id="change-year" type="text" value="2010"/>&nbsp;年&nbsp;
								<input id="change-month" style="width: 50px;" type="text" value="12"/>&nbsp;月&nbsp;
								<input id="change-day" style="width: 50px;" type="text" value="1"/>&nbsp;日&nbsp;
							</td>
						</tr>
						<tr>
							<td>手机号：</td>
							<td class="one1-orig" id="show-phonenumber">13111111111</td>
							<td class="one1-new"><input id="change-phonenumber" type="text" value="13122222222"/></td>

							<td class="one1-orig"><a id="before-change-info" href="javascript:void(0);">修改</a></td>
							<td class="one1-new"><a id="after-change-info" href="javascript:void(0);">修改完成</a></td>
						</tr>
						<tr>
							<td>头像：</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td><img id="show-photo" src="/static/images/transparent-circle.png" style="background-image: url('/static/images/square-1.jpg')"/></td>
						</tr>
						<tr>
							<td></td>
							<td style="padding-left: 40px;"><a href="javascript:void(0);" id="change-photo">更换头像</a></td>
						</tr>
						</table>
						
					</div>
					<div id="one2">
						<textarea class="home-text">
							
						</textarea>
						<input type="button" value="修改" class="home-button" id="change-slogon">
					</div>
					<div id="one3" class="home-text">
						<div style="margin-top: 150px;">卡号：</div>
						<div>绑定日期：</div>

						<div class=""><input type="button" value="修改" class="home-button" id="change-card"></div>
					</div>
				</div>
			</div>

			<!-- 我的发布 -->
			<div id="two">
				<div class="personal-right-up">
					<ul class="idTabs three-tab">
						<li><a href="#two1"><font>发布的文章</font></a></li>
						<li><a href="#two2"><font>发布的评论</font></a></li>
						<li><a href="#two3"><font>草稿箱</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="two1" class="home-text">
					<div class="overflow-handle">
					<table>
					{% for i in range(10)%}
						<tr>
							<td style="width: 280px">青春的故事</td>
							<td style="width: 140px">评论（?）</td>
							<td style="width: 160px">曦潮币（?）</td>
							<td><u><a href="javascript:void(0);">删除</a></u></td>
						</tr>
					{% endfor %}
					</table>
					</div>
					</div>


					<div id="two2" class="home-text">
					<div class="overflow-handle">
					{% for i in range(4)%}
						<p style="clear:both;">“青春的故事青春的故事青春的故事青春的故事青春的故事”</p>
						<table style="float:right; margin: 0 auto 15px; font-size:16.7px; color: gray;">
						<tr>
							<td style="width: 200px;">《青春的故事》</td>
							<td style="width: 180px;">2014-01-23 18:23</td>
							<td><u><a href="javascript:void(0);">删除</a></u></td>
						</tr>
						</table>
					{% endfor %}
					</div>
					</div>


					<div id="two3" class="home-text">
					<div class="overflow-handle">
					<table>
					{% for i in range(10)%}
						<tr>
							<td style="width: 300px">青春的故事</td>
							<td style="width: 280px">2014-01-12 17:28</td>
							<td><u><a href="javascript:void(0);">删除</a></u></td>
						</tr>
					{% endfor %}
					</table>
					</div>
					</div>

				</div>
			</div>

			<!-- 我的收藏 -->
			<div id="three">
				<div class="personal-right-up">
					<ul class="idTabs two-tab">
						<li><a href="#three1"><font>收藏的文章</font></a></li>
						<li><a href="#three2"><font>收藏的活动</font></a></li>
					</ul>
				</div>


				<div class="personal-right-bottom">

					<div id="three1" class="home-text">
					<div class="overflow-handle">
					<table>
					{% for i in range(10)%}
						<tr>
							<td style="width: 300px">青春的故事</td>
							<td style="width: 280px">荆棘鸟</td>
							<td><u><a href="javascript:void(0);">删除</a></u></td>
						</tr>
					{% endfor %}
					</table>
					</div>
					</div>


					<div id="three2" class="home-text">
					<div class="overflow-handle">
					<table>
					{% for i in range(10)%}
						<tr>
							<td style="width: 300px">青春的故事</td>
							<td style="width: 280px">2014-01-12 17:28</td>
							<td><u><a href="javascript:void(0);">删除</a></u></td>
						</tr>
					{% endfor %}
					</table>
					</div>
					</div>
				</div>
			</div>

			<!-- 我的关注 -->
			<div id="four">
				<div class="personal-right-up">
					<ul class="idTabs two-tab">
						<li><a href="#four1"><font>关注的作者</font></a></li>
						<li><a href="#four2"><font>关注的专栏</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="four1">
					<div class="home-photo-row">
					{% for i in range(7)%}
						<div><img src="{{url_for('static', filename='images/transparent-circle.png')}}" style="background-image: url('/static/images/square-1.jpg')"/>
						<div class="home-star-name"><a href="#">HAHA</a></div></div>
					{% endfor %}
					</div>
					</div>


					<div id="four2">
					<div class="home-photo-row">
					{% for i in range(3)%}
						<div><img src="{{url_for('static', filename='images/transparent-circle.png')}}" style="background-image: url('/static/images/square-1.jpg')"/>
						<div class="home-star-name"><a href="#">HEHE</a></div></div>
					{% endfor %}
					</div>
					</div>
				</div>
			</div>

			<!-- 我的粉丝 -->
			<div id="five">
				<div class="personal-right-up">
					<ul class="idTabs one-tab">
						<li><a href="#five1"><font>我的粉丝</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="five1">
					<div class="home-photo-row">
					{% for i in range(7)%}
						<div><img src="{{url_for('static', filename='images/transparent-circle.png')}}" style="background-image: url('/static/images/square-1.jpg')"/>
						<div class="home-star-name"><a href="#">XIXI</a></div></div>
					{% endfor %}
					</div>
					</div>
				</div>
			</div>

			<!-- 曦潮币 -->
			<div id="six">
				<div class="personal-right-up">
					<ul class="idTabs one-tab">
						<li><a href="#six1"><font>我的曦潮币</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="six1" class="home-text">
						<div>我拥有的曦潮币：123</div>
						<div style="margin-top:20px;">可以兑换的物品：</div>
						<div style="margin-top:20px; text-align:center;">敬请期待！</div>
					</div>
				</div>
			</div>

			<!-- 消息中心 -->
			<div id="seven">
				<div class="personal-right-up">
					<ul class="idTabs three-tab">
						<li><a href="#seven1"><font>私信</font></a></li>
						<li><a href="#seven2"><font>收到的评论</font></a></li>
						<li><a href="#seven3"><font>系统消息</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="seven1" class="home-text">
						<div class="overflow-handle">
						{% for i in range(4)%}
							<p style="clear:both;">“青春的故事青春的故事青春的故事青春的故事青春的故事”</p>
							<table style="float:right; margin: 0 auto 15px; font-size:16.7px; color: gray;">
							<tr>
								<td style="width:120px">荆棘鸟</td>
								<td style="width: 180px;">2014-01-23 18:23</td>
								<td style="width: 60px;"><u><a href="javascript:void(0);">删除</a></u></td>
								<td><u><a href="javascript:void(0);">回复</a></u></td>
							</tr>
							</table>
						{% endfor %}
						</div>
					</div>


					<div id="seven2" class="home-text">
						<div class="overflow-handle">
						{% for i in range(5)%}
							<p style="clear:both;">“青春的故事青春的故事青春的故事青春的故事青春的故事”</p>
							<table style="float:right; margin: 0 auto 15px; font-size:16.7px; color: gray;">
							<tr>
								<td style="width:120px">荆棘鸟</td>
								<td style="width: 250px;">评论我《红豆》</td>
								<td style="width: 180px;">2014-01-23 18:23</td>
								<td><u><a href="javascript:void(0);">删除</a></u></td>
							</tr>
							</table>
						{% endfor %}
						</div>
					</div>


					<div id="seven3" class="home-text">
						<div class="overflow-handle">
						{% for i in range(4)%}
							<p style="clear:both;">“青春的故事青春的故事青春的故事青春的故事青春的故事”</p>
							<table style="float:right; margin: 0 auto 15px; font-size:16.7px; color: gray;">
							<tr>
								<td style="width: 180px;">2014-01-23 18:23</td>
								<td><u><a href="javascript:void(0);">删除</a></u></td>
							</tr>
							</table>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>


			<!-- end -->
		</div>
	</div>
		

	<div style="margin-top: 87px;"></div>
	<!-- 个人简介 -->
	<div class="square-part1">
		<!-- 头像 -->
		<div class="square-part1-left">
			<h2 style="line-height: 40px">个人简介</h2>
			<img id="square-part1-img" style="background-image: url('{{current_user.photo}}')" src="{{ url_for('static', filename='images/transparent-circle.png') }}"/>
			<div></div>
		</div>

		<!-- 介绍 -->
		<div class="home-introduction">
			<table>
				<tr>
					<td class="home-col-1">{{user.nick}}</td>
				</tr>
			</table>

			<div>
				{{current_user.slogon}}
			</div>
		</div>
	
	</div>
{% endblock %}


{#


{% extends "layout_login.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div id="base_view">
	<div>
		<label>头像:</label><img src="{{current_user.photo}}" style="width:50px;height:50px;">
	</div>
	<div>
		<label>昵称:</label>{{current_user.nick}}
	</div>

	<div>
		<label>用户身份:</label>
		{% if current_user.role==1 %}
		普通用户
		{% elif current_user.role==2 %}
		专栏作家
		{% else %}
		管理员
		{% endif %}
	</div>
	<div>
		<label>性别:</label>
		{% if current_user.gender==None %}
		尚未填写
		{% else %}
		{{current_user.gender}}
		{% endif %}
	</div>
	<div>
		<label>生日:</label>
		{% if current_user.birthday==None %}
		尚未填写
		{% else %}
		{{current_user.birthday}}
		{% endif %}
	</div>
	<div>
		<input type="button" value="修改" id="modify">
	</div>
</div>

<div id="base_modify" style="display:none;">
	<div>
		<label>头像:</label><img src="{{current_user.photo}}" style="width:50px;height:50px;">
	</div>
	<div>
		<label>昵称:</label><input type="text" value="{{current_user.nick}}">
	</div>

	<div>
		<label>用户身份:</label>
		{% if current_user.role==1 %}
		普通用户
		{% elif current_user.role==2 %}
		专栏作家
		{% else %}
		管理员
		{% endif %}
	</div>
	<div>
		<label>性别:</label>	
		{% if current_user.gender==None %}
		<input type="text">
		{% else %}
		<input type="text" value="{{current_user.gender}}">
		{% endif %}
	</div>
	<div>
		<label>生日:</label>
		{% if current_user.birthday==None %}
		<input type="text">
		{% else %}
		<input type="text" value="{{current_user.birthday}}">
		{% endif %}
	</div>
	<div>
		<input type="button" value="保存" id="save">
	</div>
</div>

<div>
	{{article_draft_pagination.items[0].title}}
	{{article_collection_pagination.items[0].title}}
	{{activity_collection_pagination.items[0].name}}
	{{user_collection_pagination.items[0].nick}}
	{{special_collection_pagination.items[0].name}}
	{{fans_pagination.items[0].nick}}
	{{message_pagination.items[0][0].content}}
	{{message_pagination.items[0][1].nick}}
	{{received_comment_pagination.items[0][0].content}}
	{{received_comment_pagination.items[0][1].nick}}
	{{received_comment_pagination.items[0][2].title}}
	{{notification_pagination.items[0].content}}
</div>




{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#modify").click(function(){
			$("#base_view").css("display","none");
			$("#base_modify").css("display","block");
			$("#save").click(function(){
			});
		});
	});
</script>

{% endblock %}



#}