{% extends "layout_home_page.html" %}

{% block home_page_content %}

	<h1 class="main-color">个人主页</h1>

	<div id="home-personal">
		<div class="personal-left">
			<div class="personal-photo">

				<img src="/static/images/transparent-circle-yellow.png" style="background-image: url('{{current_user.photo}}')">

				<div class="personal-name">
					<div style="font-size: 20.8px">{{current_user.nick}}</div>
					<div style="font-family: 微软雅黑;">
						{% if current_user.role == 1 %}
							普通用户
						{% elif current_user.role == 2 %}
							专栏作家
						{% elif current_user.role == 3 %}
							管理员
						{% endif %}
					</div>
					<div style="margin-top: 20px; color: #000; font-family: 微软雅黑;"><a href="{{url_for('article_upload')}}">写文章</a></div>
				</div>
			</div>

				
			<ul id="left-select" class="idTabs"> 
  				<li><a class="selected" href="#one">个人信息</a></li> 
  				<li><a href="#two">我的发布</a></li> 
  				{% if current_user.role == 2 %}
  					<li><a href="#eight">我的专栏</a></li>
  				{% endif %}
  				<li><a href="#three">我的收藏</a></li>
  				<li><a href="#four">我的关注</a></li> 
  				<li><a href="#five">我的粉丝</a></li> 
  				<li><a href="#six">曦潮币</a></li> 
  				<li><a href="#seven">消息中心</a></li> 
			</ul> 
		</div>

		<div class="personal-right">
			<!-- start -->
			<!-- 个人信息 -->
			<div id="one">
				<div class="personal-right-up">
					<ul class="idTabs three-tab">
						<li><a href="#one1" id="a-one1"><font>基本信息</font></a></li>
						<li><a href="#one2" id="a-one2"><font>个人简介</font></a></li>
						<li><a href="#one3" id="a-one3"><font>会员卡</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="one1" class="home-text">
						<table style="margin-left: 50px;">
						<tr>
							<td>昵称：</td>
							<td class="one1-orig" id="show-nick">{{current_user.nick}}</td>
							<td class="one1-new"><input id="change-nick" type="text" value="{{current_user.nick}}"></td>
						</tr>
						<tr>
							<td>性别：</td>
							{% if current_user.gender=='m' %}
							<td class="one1-orig" id="show-sex">男</td>
							{% elif current_user.gender=='f' %}
							<td class="one1-orig" id="show-sex">女</td>
							{% else %}
							<td class="one1-orig" id="show-sex">暂未填写</td>
							{% endif %}
							<td class="one1-new" id="radio-sex">
								{% if current_user.gender=='f' %}
								<input type="radio" name="gender" value="m" />男
								<input type="radio" name="gender" value="f"  checked="checked"/>女
								{% else %}
								<input type="radio" name="gender" value="m" checked="checked" />男
								<input type="radio" name="gender" value="f"/>女
								{% endif %}								
							</td>
						</tr>
						<tr>
							<td>生日：</td>
							{% if current_user.birthday==None %}
							<td class="one1-orig" id="show-birthday">暂未填写</td>
							<td class="one1-new">
								<input id="change-year" type="text" value=""/>&nbsp;年&nbsp;
								<input id="change-month" style="width: 50px;" type="text" value=""/>&nbsp;月&nbsp;
								<input id="change-day" style="width: 50px;" type="text" value=""/>&nbsp;日&nbsp;
							</td>
							{% else %}
							<td class="one1-orig" id="show-birthday">{{current_user.birthday}}</td>
							<td class="one1-new">
								<input id="change-year" type="text" value="{{current_user.birthday.year}}"/>&nbsp;年&nbsp;
								<input id="change-month" style="width: 50px;" type="text" value="{{current_user.birthday.month}}"/>&nbsp;月&nbsp;
								<input id="change-day" style="width: 50px;" type="text" value="{{current_user.birthday.day}}"/>&nbsp;日&nbsp;
							</td>
							{% endif %}
							
						</tr>
						<tr>
							<td>手机号：</td>
							{% if current_user.phone==None %}
							<td class="one1-orig" id="show-phonenumber">暂未填写</td>
							<td class="one1-new"><input id="change-phonenumber" type="text" value=""/></td>
							{% else %}
							<td class="one1-orig" id="show-phonenumber">{{current_user.phone}}</td>
							<td class="one1-new"><input id="change-phonenumber" type="text" value="{{current_user.phone}}"/></td>
							{% endif %}

							<td class="one1-orig"><a id="before-change-info" href="javascript:void(0);">修改</a></td>
							<td class="one1-new"><a id="after-change-info" href="javascript:void(0);">修改完成</a></td>
						</tr>
						<tr>
							<td>头像：</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td><img id="show-photo" src="/static/images/transparent-circle.png" style="background-image: url({{current_user.photo}})"/></td>
						</tr>
						<tr>
							<td></td>
							<td style="padding-left: 40px;"><a href="javascript:void(0);" id="change-photo">更换头像</a></td>
						</tr>
						</table>
						
					</div>
					<div id="one2">
						<textarea class="home-text" id="slogon">
{{current_user.slogon}}
						</textarea>
						<input type="button" value="修改" class="home-button" id="change-slogon">
					</div>
					<div id="one3" class="home-text">
						<div style="margin-top: 150px;">卡号：</div>
						<div>绑定日期：</div>

						<div class=""><input type="button" value="修改" class="home-button" id="change-card"></div>
					</div>
				</div>
			</div>

			<!-- 我的发布 -->
			<div id="two">
				<div class="personal-right-up">
					<ul class="idTabs three-tab">
						<li><a href="#two1" id="a-two1"><font>发布的文章</font></a></li>
						<li><a href="#two2" id="a-two2"><font>发布的评论</font></a></li>
						<li><a href="#two3" id="a-two3"><font>草稿箱</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="two1" class="home-text">
						<div class="overflow-handle">
						<!-- <div>
						<table>
							<tr>
								<td style='width: 280px'><a href='/article/id'>青春的故事</a></td>
								<td style='width: 140px'>评论（?）</td>
								<td style='width: 160px'>曦潮币（?）</td>
								<td><u><a href='javascript:void(0);' onclick='two1_a_click(a,a,a)'>删除</a></u></td>
							</tr>
						</table>
						</div> -->
						</div>

						<div class="home-paging" id="two1-paging">
							<a href="javascript:void(0);" id="two1-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
							Page&nbsp;<font id="two1-current-page"></font>&nbsp;/&nbsp;<font id="two1-all-page"></font>
							&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="two1-right-arrow">&gt;&gt;</a>
						</div>

					</div>


					<div id="two2" class="home-text">
						<div class="overflow-handle">
						<!-- <div>
						<p style='clear:both;'>“青春的故事青春的故事青春的故事青春的故事青春的故事”</p>
						<table style='float:right; margin: 0 auto 15px; font-size:16.7px; color: gray;'>
						<tr>
							<td style='width: 200px;' ><a href="/article/4">《青春的故事》</a></td>
							<td style='width: 180px;'>2014-01-23 18:23</td>
							<td><u><a href='javascript:void(0);' onclick='two2_a_click(a,a,a)'>删除</a></u></td>
						</tr>
						</table>
						</div> -->
						</div>
						<div class="home-paging" id="two2-paging">
							<a href="javascript:void(0);" id="two2-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
							Page&nbsp;<font id="two2-current-page"></font>&nbsp;/&nbsp;<font id="two2-all-page"></font>
							&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="two2-right-arrow">&gt;&gt;</a>
						</div>
					</div>


					<div id="two3" class="home-text">
						<div class="overflow-handle">
						<!-- <div>
						<table>
						<tr>
							<td style='width: 300px'><a href='/article_modify/article/1'>青春的故事</a></td>
							<td style='width: 280px'>2014-01-12 17:28</td>
							<td><u><a href='javascript:void(0);' onclick='two3_a_click(a,a,a)'>删除</a></u></td>
						</tr>
						</table>
						</div> -->
						</div>
						<div class="home-paging" id="two3-paging">
							<a href="javascript:void(0);" id="two3-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
							Page&nbsp;<font id="two3-current-page"></font>&nbsp;/&nbsp;<font id="two3-all-page"></font>
							&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="two3-right-arrow">&gt;&gt;</a>
						</div>
					</div>

				</div>
			</div>

			<!-- 我的收藏 -->
			<div id="three">
				<div class="personal-right-up">
					<ul class="idTabs two-tab">
						<li><a href="#three1" id="a-three1"><font>收藏的文章</font></a></li>
						<li><a href="#three2" id="a-three1"><font>收藏的活动</font></a></li>
					</ul>
				</div>


				<div class="personal-right-bottom">

					<div id="three1" class="home-text">
					<div class="overflow-handle">
					<!-- <table>
						<tr>
							<td style="width: 300px">青春的故事</td>
							<td style="width: 280px">荆棘鸟</td>
							<td><u><a href="javascript:void(0);">删除</a></u></td>
						</tr>
					</table> -->
					</div>
					<div class="home-paging" id="three1-paging">
							<a href="javascript:void(0);" id="three1-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
							Page&nbsp;<font id="three1-current-page"></font>&nbsp;/&nbsp;<font id="three1-all-page"></font>
							&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="three1-right-arrow">&gt;&gt;</a>
					</div>
					</div>


					<div id="three2" class="home-text">
					<div class="overflow-handle">
					<!-- <table>
						<tr>
							<td style="width: 300px">青春的故事</td>
							<td style="width: 280px">2014-01-12 17:28</td>
							<td><u><a href="javascript:void(0);">删除</a></u></td>
						</tr>
					</table> -->
					</div>
					<div class="home-paging" id="three2-paging">
							<a href="javascript:void(0);" id="three2-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
							Page&nbsp;<font id="three2-current-page"></font>&nbsp;/&nbsp;<font id="three2-all-page"></font>
							&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="three2-right-arrow">&gt;&gt;</a>
					</div>
					</div>
				</div>
			</div>

			<!-- 我的关注 -->
			<div id="four">
				<div class="personal-right-up">
					<ul class="idTabs two-tab">
						<li><a href="#four1" id="a-four1"><font>关注的作者</font></a></li>
						<li><a href="#four2" id="a-four2"><font>关注的专栏</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="four1">
					<div class="home-photo-block">
					<div class="home-photo-row">
						<!-- <div><a href='javascript:void(0);'><img src='/static/images/transparent-circle.png' style='background-image: url("/static/images/square-1.jpg")' onclick='four1_a_click(a,a,a)' onmouseover='mouseOverImage(this)' onmouseout='mouseOutImage(this)' /></a>
						<div class='home-star-name'><a href='/user/id'>HAHA</a></div></div> -->
					</div>
					</div>
					<div  style="margin-top:10px;" class="home-paging" id="four1-paging">
						<a href="javascript:void(0);" id="four1-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
						Page&nbsp;<font id="four1-current-page"></font>&nbsp;/&nbsp;<font id="four1-all-page"></font>
						&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="four1-right-arrow">&gt;&gt;</a>
					</div>
					</div>


					<div id="four2">
					<div class="home-photo-block">
					<div class="home-photo-row">
					<!-- <div><a href='javascript:void(0);'><img src='/static/images/transparent-circle.png' style='background-image: url("/static/images/square-1.jpg")' onclick='four2_a_click(a,a,a)' onmouseover='mouseOverImage(this)' onmouseout='mouseOutImage(this)' /></a>
					<div class='home-star-name'><a href='/user/id'>HAHA</a></div></div> -->
					</div>
					</div>
					<div style="margin-top:10px;" class="home-paging" id="four2-paging">
						<a href="javascript:void(0);" id="four2-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
						Page&nbsp;<font id="four2-current-page"></font>&nbsp;/&nbsp;<font id="four2-all-page"></font>
						&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="four2-right-arrow">&gt;&gt;</a>
					</div>
					</div>
				</div>
			</div>

			<!-- 我的粉丝 -->
			<div id="five">
				<div class="personal-right-up">
					<ul class="idTabs one-tab">
						<li><a href="#five1" id="a-five1"><font>我的粉丝</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="five1">
						<div class="home-photo-block">
						<div class="home-photo-row">
						</div>
						</div>
						<div  style="margin-top:10px;" class="home-paging" id="five1-paging">
							<a href="javascript:void(0);" id="five1-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
							Page&nbsp;<font id="five1-current-page"></font>&nbsp;/&nbsp;<font id="five1-all-page"></font>
							&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="five1-right-arrow">&gt;&gt;</a>
						</div>
					</div>
				</div>
			</div>

			<!-- 曦潮币 -->
			<div id="six">
				<div class="personal-right-up">
					<ul class="idTabs one-tab">
						<li><a href="#six1" id="a-six1"><font>我的曦潮币</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="six1" class="home-text">
						<div>我拥有的曦潮币：{{current_user.coin}}</div>
						<div style="margin-top:20px;">可以兑换的物品：</div>
						<div style="margin-top:20px; text-align:center;">敬请期待！</div>
					</div>
				</div>
			</div>

			<!-- 消息中心 -->
			<div id="seven">
				<div class="personal-right-up">
					<ul class="idTabs three-tab">
						<li><a href="#seven1" id="a-seven1"><font>私信</font></a></li>
						<li><a href="#seven2" id="a-seven2"><font>收到的评论</font></a></li>
						<li><a href="#seven3" id="a-seven3"><font>系统消息</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="seven1" class="home-text">
						<div class="overflow-handle">
						</div>
						<div class="home-paging" id="seven1-paging">
							<a href="javascript:void(0);" id="seven1-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
							Page&nbsp;<font id="seven1-current-page"></font>&nbsp;/&nbsp;<font id="seven1-all-page"></font>
							&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="seven1-right-arrow">&gt;&gt;</a>
						</div>
					</div>


					<div id="seven2" class="home-text">
						<div class="overflow-handle">
						</div>
						<div class="home-paging" id="seven2-paging">
							<a href="javascript:void(0);" id="seven2-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
							Page&nbsp;<font id="seven2-current-page"></font>&nbsp;/&nbsp;<font id="seven2-all-page"></font>
							&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="seven2-right-arrow">&gt;&gt;</a>
						</div>

					</div>


					<div id="seven3" class="home-text">
						<div class="overflow-handle">
						</div>
						<div class="home-paging" id="seven3-paging">
							<a href="javascript:void(0);" id="seven3-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
							Page&nbsp;<font id="seven3-current-page"></font>&nbsp;/&nbsp;<font id="seven3-all-page"></font>
							&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="seven3-right-arrow">&gt;&gt;</a>
						</div>
					</div>
				</div>
			</div>

			{% if current_user.role == 2 %}
			<!-- 我的专栏 -->
			<div id="eight">
				<div class="personal-right-up">
					<ul class="idTabs one-tab">
						<li><a href="#eight1" id="a-eight1"><font>我的专栏</font></a></li>
					</ul>
				</div>
				<div class="personal-right-bottom">
					<div id="eight1" class="home-text">
						<div class="home-photo-block">
							<div class="home-photo-row">
								<!-- <div style='width: 220px; margin: 10px auto;'>
								<img src='/static/images/transparent-circle.png' style='background-image: url("/static/images/square-1.jpg")'/>
								<div class='home-star-name'>专栏名</div>
								<div class='home-star-name'>文章（12）</div>
								<div class='home-star-name'>评论（1234）</div>
								<div class='home-star-name'>曦潮币（123）</div>
								<div class='home-star-name'>
								<table style='margin: auto;'>
									<tr>
										<td><u><a href='#'>查看</a></u></td>
										<td><u><a href='#'>编辑</a></u></td>
										<td><u><a href='#'>删除</a></u></td>
									</tr>
								</table>
								</div>
								</div> -->
							</div>
						</div>
						<!-- <div style="float:right;">
							<a href="/create_special"><input type="button" class="home-button" value="创建专栏"/></a>
						</div> -->
						<div class="home-paging" id="eight1-paging" style="margin-top:10px; clear:both;">
							<a href="javascript:void(0);" id="eight1-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
							Page&nbsp;<font id="eight1-current-page"></font>&nbsp;/&nbsp;<font id="eight1-all-page"></font>
							&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="eight1-right-arrow">&gt;&gt;</a>
						</div>
					</div>
				</div>
			</div>
			{% endif %}

			<!-- end -->
		</div>
	</div>
		

	<div style="margin-top: 87px;"></div>
	<!-- 个人简介 -->
	<div class="square-part1">
		<!-- 头像 -->
		<div class="square-part1-left">
			<h2 style="line-height: 40px">个人简介</h2>
			<img id="square-part1-img" style="background-image: url('{{current_user.photo}}')" src="{{ url_for('static', filename='images/transparent-circle.png') }}"/>
			<div></div>
		</div>

		<!-- 介绍 -->
		<div class="home-introduction">
			<table>
				<tr>
					<td class="home-col-1">{{current_user.nick}}</td>
				</tr>
			</table>

			<div>
				{{current_user.slogon}}
			</div>
		</div>
	
	</div>
{% endblock %}


{#


{% extends "layout_login.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div id="base_view">
	<div>
		<label>头像:</label><img src="{{current_user.photo}}" style="width:50px;height:50px;">
	</div>
	<div>
		<label>昵称:</label>{{current_user.nick}}
	</div>

	<div>
		<label>用户身份:</label>
		{% if current_user.role==1 %}
		普通用户
		{% elif current_user.role==2 %}
		专栏作家
		{% else %}
		管理员
		{% endif %}
	</div>
	<div>
		<label>性别:</label>
		{% if current_user.gender==None %}
		尚未填写
		{% else %}
		{{current_user.gender}}
		{% endif %}
	</div>
	<div>
		<label>生日:</label>
		{% if current_user.birthday==None %}
		尚未填写
		{% else %}
		{{current_user.birthday}}
		{% endif %}
	</div>
	<div>
		<input type="button" value="修改" id="modify">
	</div>
</div>

<div id="base_modify" style="display:none;">
	<div>
		<label>头像:</label><img src="{{current_user.photo}}" style="width:50px;height:50px;">
	</div>
	<div>
		<label>昵称:</label><input type="text" value="{{current_user.nick}}">
	</div>

	<div>
		<label>用户身份:</label>
		{% if current_user.role==1 %}
		普通用户
		{% elif current_user.role==2 %}
		专栏作家
		{% else %}
		管理员
		{% endif %}
	</div>
	<div>
		<label>性别:</label>	
		{% if current_user.gender==None %}
		<input type="text">
		{% else %}
		<input type="text" value="{{current_user.gender}}">
		{% endif %}
	</div>
	<div>
		<label>生日:</label>
		{% if current_user.birthday==None %}
		<input type="text">
		{% else %}
		<input type="text" value="{{current_user.birthday}}">
		{% endif %}
	</div>
	<div>
		<input type="button" value="保存" id="save">
	</div>
</div>





{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='layer-v1.8.5/layer/layer.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#modify").click(function(){
			$("#base_view").css("display","none");
			$("#base_modify").css("display","block");
			$("#save").click(function(){
			});
		});

		$("#change-photo").click(function(){
			alert("hh");
			/*
			$.layer({
		        type: 2,
		        title: [
		            '上传头像', 
		            'background:#2B2E37; height:40px; color:#fff; border:none;' //自定义标题样式
		        ],
		        shadeClose: true,
		        closeBtn: false,
		        border:[0],
		        area: ['90%', '90%'],
		        iframe: {src: "{{url_for('upload_avatar')}}"},
		    });
*/
		});
</script>




{% endblock %}



#}