{% extends "layout.html" %}

{% block css %}
<link href="{{ url_for('static', filename='css/special_all.css') }}" rel='stylesheet' type='text/css'/> 
{% endblock %}

<!--content-->
{% block content %}

    <div class="current-position">
        <p>&nbsp;首页&nbsp;>&nbsp;专栏列表</p>
    </div>

    <div id="sort_select">
    <label>排序方式：</label>
        <select id="sort">
        <option id="sort_by_time" value="time">时 间</option>
        <option id="sort_by_favor" value="favor">收藏人数</option>
    </select>
    </div>

    {% for special in specials_pagination.items %}
    
	<!-- 专栏 -->
	<div class="special-part1">
		<!-- 专栏标题图片 -->
		<div class="special-part1-left">
			<h2></h2>
			
			<img id="special-part1-img" src="{{ url_for('static', filename='images/transparent-circle.png') }}"
			style="background-image: url({{ special.picture | safe }});"/>
			<div></div>
		</div>

		<!-- 内容 -->
		<div class="special-part1-right">
			<div id="special-part1-content" style="width:703px">
			
			<h2>
			        {{ special.name }}
			</h2>
			<hr />
            <div id="author-coin">
			<h4>
			    by: {{ author(special.user_id).nick }}
			    <img id="coin-image" src="{{ url_for('static', filename='images/coins.png') }}">
                {{ special.coin }}
			</h4>
			</div>
			
            <p>
                    专栏介绍：<br>
                    {{ special.introduction | safe }}
            </p>
            <br>    
            <br>
            
            
            <table id="latest-article">
                <tr>
                <th height="40">最新文章</th>
                </tr>
                {% for article in articles(special.special_id, 1, "time").items %}
                  <tr>
                    <th width="300">    <a href = "article/{{ article.article_id }}" > {{ article.title }} </a> </th>
                    <th width="250" style="color:grey;">{{ article.time }}</th>
                    <th>
                    <img id="coin-image" src="{{ url_for('static', filename='images/coins.png') }}">
                    {{ article.coins }}
                    </th>
                </tr>
                {% endfor %}
            </table>
            
            
			</div>
			<a href="{{url_for('special')}}?id={{ special.special_id }}&page=1&sort=time">MORE&gt;</a>
		</div>
	
	</div>


    {% endfor %}
    
    <div id="special-paging" style="float:right"> 
        <div> 
            {% if specials_pagination.has_prev %}
                <a href="/special_all?sort={{sort}}&page={{ specials_pagination.prev_num }}">上一页</a> 
            {% endif %} 
        </div> 
        <div> 
            <p>Page {{ specials_pagination.page }} / {{specials_pagination.pages }}</p> 
        </div> 
        <div>
            {% if specials_pagination.has_next %} 
                <a href="/special_all?sort={{sort}}&page={{ specials_pagination.next_num }}">下一页</a> 
            {% endif %} 
        </div> 
    </div> 
    
{% endblock %}

<!--js file used-->
{% block js %}
<script src="{{ url_for('static', filename='layer-v1.8.5/layer/layer.min.js') }}"></script>
<script type="text/javascript">

$(document).ready(function(){
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);
    
    var Order = $.getUrlParam('sort');
    if (Order == "time"){
        $("#sort_by_time").attr("selected", "selected");
    } else{
        $("#sort_by_favor").attr("selected", "selected");
    }
});

$("#sort").change(function(){
    location.href = "{{sort_change_url | safe}}";
});

</script>
{% endblock %}
