{% extends "layout.html" %}

{% block css %}
<link href="{{ url_for('static', filename='css/square.css') }}" rel='stylesheet' type='text/css'/> 
{% endblock %}

<!--content-->
{% block content %}
	<!-- 对square来说，这部份有内容，对article来说，这部分为空 -->
	{% block square_content %}
	{% endblock %}
	
	{% block opinion_content %}
    {% endblock %}

	<!-- 书评 -->
	<div class="square-part1"  id="book_review">
		<!-- 标题图片 -->
		<div class="square-part1-left">
			<!-- <h2>书评</h2> -->
            <a href="{{url_for('article_group_time', group_id = type, category_id = 1, page_id = 1)}}">
			     <img class="opinion-title" src="{{ url_for('static', filename='images/shuping.png') }}"/>
            </a>
			       
            <div class="square-part1-img2" style="background-image: url({{ url_for('static', filename='images/special-all-left-border.png') }});background-repeat:no-repeat; margin: 0;">
            <a href="{{url_for('article_group_time', group_id = type, category_id = 1, page_id = 1)}}">
                <img class="square-part1-img1" src="{{ url_for('static', filename='images/square.jpg') }}"/>
             </a>
            </div>

		</div>

		<!-- 内容 -->
		<div class="square-part1-right">
			<div class="opinion-headline-text">
                <img  src="{{ url_for('static', filename='images/shuping-text.png') }}"/>
			</div>
			<table id="square-part1-content" >
			{% for (article) in (book_review_list) %}
				<tr>
					<td class="square-col-1"><a href="{{url_for('article', article_id = article[0].article_id)}}">{{article[0].title}}</a></td>
					<td class="square-col-2" style="text-align:left;position:relative;left:6%;"><a href="{{url_for('view_home_page', nick = article[1])}}">{{article[1]}}</a></td>
					<td class="square-col-3" style="text-align:left;position:relative;left:12%;"><img src="{{ url_for('static', filename='images/coins.png') }}"></td>
					<td class="square-col-4" style="text-align:left;position:relative;left:13%;">{{article[0].coins}}</td>
					<td class="square-col-final" style="text-align:left;position:relative;left:12%;">{{article[0].time|time_split}}</td>
				</tr>
			{% endfor %}
			</table>
			<a class="text-more" href="{{url_for('article_group_time', group_id = type, category_id = 1, page_id = 1)}}">MORE&gt;</a>
		</div>
	
	</div>
	

	<!-- 影评 -->
	<div class="square-part1" id="film_review">
		<!-- 标题图片 -->
		<div class="square-part1-left">
			<!-- <h2>影评</h2> -->
            <a href="{{url_for('article_group_time', group_id = type, category_id = 2, page_id = 1)}}">
			     <img  class="opinion-title" src="{{ url_for('static', filename='images/yingping.png') }}"/>
            </a>
            <div class="square-part1-img2" style="background-image: url({{ url_for('static', filename='images/special-all-left-border.png') }});background-repeat:no-repeat; margin: 0;">
            <a href="{{url_for('article_group_time', group_id = type, category_id = 2, page_id = 1)}}">
                <img class="square-part1-img1" src="{{ url_for('static', filename='images/square.jpg') }}"/>
             </a>
            </div>
		</div>
		<!-- 内容 -->
		<div class="square-part1-right">
			<div class="opinion-headline-text">
                <img  src="{{ url_for('static', filename='images/yingping-text.png') }}"/>
			</div>
			<table id="square-part1-content">
			{% for (article) in (film_review_list) %}
				<tr>
					<td class="square-col-1"><a href="{{url_for('article', article_id = article[0].article_id)}}">{{article[0].title}}</a></td>
					<td class="square-col-2" style="text-align:left;position:relative;left:6%;"><a href="{{url_for('view_home_page', nick = article[1])}}">{{article[1]}}</a></td>
					<td class="square-col-3" style="text-align:left;position:relative;left:12%;"><img src="{{ url_for('static', filename='images/coins.png') }}"></td>
					<td class="square-col-4" style="text-align:left;position:relative;left:13%;">{{article[0].coins}}</td>
					<td class="square-col-final" style="text-align:left;position:relative;left:12%;">{{article[0].time|time_split}}</td>
				</tr>
			{% endfor %}
			</table>
			<a class="text-more" href="{{url_for('article_group_time', group_id = type, category_id = 2, page_id = 1)}}">MORE&gt;</a>
		</div>
	

	
	</div>
	
	<!-- 杂文 -->
	<div class="square-part1" id="essay">
		<!-- 标题图片 -->
		<div class="square-part1-left">
			<!-- <h2>杂文</h2> -->
            <a href="{{url_for('article_group_time', group_id = type, category_id = 3, page_id = 1)}}">
			     <img class="opinion-title" src="{{ url_for('static', filename='images/zawen.png') }}"/>
            </a>
            <div class="square-part1-img2" style="background-image: url({{ url_for('static', filename='images/special-all-left-border.png') }});background-repeat:no-repeat; margin: 0;">
            
                <a href="{{url_for('article_group_time', group_id = type, category_id = 3, page_id = 1)}}">
                    <img class="square-part1-img1" src="{{ url_for('static', filename='images/square.jpg') }}"/>
                </a>
            </div>
		</div>
		
		<!-- 内容 -->
		<div class="square-part1-right">
			<div class="opinion-headline-text">
                <img  src="{{ url_for('static', filename='images/zawen-text.png') }}"/>
			</div>
			<table id="square-part1-content">
			{% for (article) in (essay_list) %}
				<tr>
					<td class="square-col-1"><a href="{{url_for('article', article_id = article[0].article_id)}}">{{article[0].title}}</a></td>
					<td class="square-col-2" style="text-align:left;position:relative;left:6%;"><a href="{{url_for('view_home_page', nick = article[1])}}">{{article[1]}}</a></td>
					<td class="square-col-3" style="text-align:left;position:relative;left:12%;"><img src="{{ url_for('static', filename='images/coins.png') }}"></td>
					<td class="square-col-4" style="text-align:left;position:relative;left:13%;">{{article[0].coins}}</td>
					<td class="square-col-final" style="text-align:left;position:relative;left:12%;">{{article[0].time|time_split}}</td>
				</tr>
			{% endfor %}
			</table>
			<a class="text-more" href="{{url_for('article_group_time', group_id = type, category_id = 3, page_id = 1)}}">MORE&gt;</a>
		</div>
	
	</div>
{% endblock %}
