{% extends "layout.html" %}

{% block css %}
<link href="{{ url_for('static', filename='css/square.css') }}" rel='stylesheet' type='text/css'/> 
{% endblock %}

<!--content-->
{% block content %}
	<!-- 对square来说，这部份有内容，对article来说，这部分为空 -->
	{% block square_content %}
	{% endblock %}
	<!-- 书评 -->
	<div class="square-part1" style="margin-top:50px;">
		<!-- 标题图片 -->
		<div class="square-part1-left">
			<h2>书评</h2>
			<img id="square-part1-img" src="{{ url_for('static', filename='images/transparent-circle.png') }}"/>
			<div></div>
		</div>

		<!-- 内容 -->
		<div class="square-part1-right">
			<table id="square-part1-content" style="width:703px">
			{% for (article) in (book_review_list) %}
				<tr>
					<td class="square-col-1"><a href="{{url_for('article', article_id = article[0].article_id)}}">{{article[0].title}}</a></td>
					<td class="square-col-2" style="width:160px;text-align:left;"><a href="{{url_for('view_home_page', nick = article[1])}}">{{article[1]}}</a></td>
					<td class="square-col-3"><img src="{{ url_for('static', filename='images/coins.png') }}"></td>
					<td class="square-col-4">{{article[0].coins}}</td>
					<td class="square-col-final">{{article[0].time|time_split}}</td>
				</tr>
			{% endfor %}
			</table>
			<a href="{{url_for('article_group_time', group_id = type, category_id = 1, page_id = 1)}}">MORE&gt;</a>
		</div>
	
	</div>
	
	<!-- 影评 -->
	<div class="square-part2">
		<!-- 内容 -->
		<div class="square-part2-left">
			<table id="square-part1-content" style="width:703px">
			{% for (article) in (film_review_list) %}
				<tr>
					<td class="square-col-1"><a href="{{url_for('article', article_id = article[0].article_id)}}">{{article[0].title}}</a></td>
					<td class="square-col-2" style="width:160px"><a href="{{url_for('view_home_page', nick = article[1])}}">{{article[1]}}</a></td>
					<td class="square-col-3"><img src="{{ url_for('static', filename='images/coins.png') }}"></td>
					<td class="square-col-4">{{article[0].coins}}</td>
					<td class="square-col-final">{{article[0].time|time_split}}</td>
				</tr>
			{% endfor %}
			</table>
			<a href="{{url_for('article_group_time', group_id = type, category_id = 2, page_id = 1)}}">MORE&gt;</a>
		</div>
	
		<!-- 标题图片 -->
		<div class="square-part2-right">
			<h2>影评</h2>
			<img id="square-part2-img" src="{{ url_for('static', filename='images/transparent-circle.png') }}"/>
			<div></div>
		</div>
	
	</div>
	
	<!-- 杂文 -->
	<div class="square-part1">
		<!-- 标题图片 -->
		<div class="square-part1-left">
			<h2>杂文</h2>
			<img id="square-part3-img" src="{{ url_for('static', filename='images/transparent-circle.png') }}"/>
			<div></div>
		</div>
		
		<!-- 内容 -->
		<div class="square-part1-right">
			<table id="square-part1-content" style="width:703px">
			{% for (article) in (essay_list) %}
				<tr>
					<td class="square-col-1"><a href="{{url_for('article', article_id = article[0].article_id)}}">{{article[0].title}}</a></td>
					<td class="square-col-2" style="width:160px"><a href="{{url_for('view_home_page', nick = article[1])}}">{{article[1]}}</a></td>
					<td class="square-col-3"><img src="{{ url_for('static', filename='images/coins.png') }}"></td>
					<td class="square-col-4">{{article[0].coins}}</td>
					<td class="square-col-final">{{article[0].time|time_split}}</td>
				</tr>
			{% endfor %}
			</table>
			<a href="{{url_for('article_group_time', group_id = type, category_id = 3, page_id = 1)}}">MORE&gt;</a>
		</div>
	
	</div>
{% endblock %}
