{% extends "layout_ext.html" %}

	{% block opinion_content %}
	<div >
		<img class="opinion-author-text" src="{{ url_for('static', filename='images/author_text.png') }}"/>
		<div class="opinion-line">
			<img style="position:relative;left:-7%" src="{{ url_for('static', filename='images/author_line1.png') }}"/>
			<img style="position:relative;left:56.5%;top:-165px;" src="{{ url_for('static', filename='images/author_line2.png') }}"/>
		</div>

		<div class="opinion-box">
			<img src="{{ url_for('static', filename='images/rectangle.png') }}"/>
			1234
		</div>
	</div>
    {% endblock %}
	