<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>曦潮书店 | 青春校园，人文曦潮</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/xichao-logo.png') }}" />

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet' type='text/css'/>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel='stylesheet' type='text/css'/>
        {% block css %}
                
        {% endblock %}
        
        <style>

        /*根据分辨率自适应改变背景图大小*/
        @media screen and (min-width: 1161px) {
            #top-background, #top-background > img {width: 100%;}
            #navbar-info {position: fixed; width: 100%;}
        }

        @media screen and (max-width: 1160px) {
            #top-background, #top-background > img {width: 1160px;}
            #navbar-info {position: absolute; width: 1160px;}
        } 


        @media screen and (min-width: 1161px) {
            .reference-line  {height: 100%; position: fixed;}
        }

        @media screen and (max-width: 1160px) {
            .reference-line {height: 1000px; position: absolute;}
        } 
        </style>
    </head>

    <body>
        
        <div class="reference-block">
        <div class="reference-line">
            {% for i in range(5) %}
            <div class="width-160"></div>
            <div class="width-40"></div>
            {% endfor %}
            <div class="width-160-last"></div>
        </div>
        </div>


        <div id="navbar-info">
            <div class="navbar navbar-default">
                <div class="floatright">
                    <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated() %}
                        {% if current_user.role!=3 %}
                            <li><a href="{{url_for('home_page')}}">{{current_user.nick}}</a></li>
                        {% else %}
                            <li><a href="/admin">{{current_user.nick}}</a></li>
                        {% endif %}
                        <li><a href="/logout">注销</a></li>

                        <li><a href="#">曦潮币(2000)</a></li>
                        <li><a href="#">草稿箱(2000)</a></li>
                        <li><a href="#">消息中心</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">我的发布 
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu menu-min-width">
                                <li><a href="#">发布的文章</a></li>
                                <li class="divider"></li>
                                <li><a href="#">发布的评论</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">我的收藏
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu menu-min-width">
                                <li><a href="#">收藏的文章</a></li>
                                <li class="divider"></li>
                                <li><a href="#">收藏的评论</a></li>
                            </ul>
                        </li>
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">我的关注
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu menu-min-width">
                                <li><a href="#">关注的文章</a></li>
                                <li class="divider"></li>
                                <li><a href="#">关注的评论</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a class="register-login" href="/login">登陆</a></li>
                        <li><a class="register-login" href="/register">注册</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        
        <!--header-->
        <div id="header" style="margin-bottom: 20px;">

            <!--标题栏-->
            <div id="nav-bar-header">

                <!--曦潮logo-->
                <div id="nav-bar-logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}">
                </div>

                <!--注册登陆&搜索-->
 <!--                <div style="float:right">
                    <ul id="nav-bar-button">
                        <li class="nav-bar-login nav-bar-login-first">
                            {% if current_user.is_authenticated() %}
                                {% if current_user.role!=3 %}
                                    <a href="{{url_for('home_page')}}">{{ current_user.nick }}</a>
                                {% else %}
                                    <a href="/admin">{{ current_user.nick }}</a>
                                {% endif %}
                            {% else %}
                                <a href="{{url_for('login')}}">登陆</a>
                            {% endif %}                           
                        </li>
                        <li class="nav-bar-login">
                            {% if current_user.is_authenticated() %}
                                <a href="{{url_for('logout')}}">注销</a>
                            {% else %}
                                <a href="{{url_for('register')}}">注册</a>
                            {% endif %}
                        </li>
                    </ul>

                    <div class="clear"></div> -->
                    <div class="floatright">
                        <div id="nav-bar-search">
                            <form action="#" method="post">
                                <input type="text" name="search">
                            </form>
                        </div>
                    

                        <div id="navbar-main" class="navbar navbar-default">
                            <ul class="nav navbar-nav" style="width: 100%;">
                                <li><a href="{{url_for('index')}}">首页</a></li>
                                <li><a href="{{url_for('special_all')}}?sort=time&page=1">专栏</a></li>
                                <li><a href="{{url_for('activity_main')}}">活动</a></li>
                                <li class="dropdown">
                                    <a href="{{url_for('opinion')}}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">观点 
                                    <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu menu-min-width">
                                        <li><a href="{{url_for('opinion')}}">书评</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{url_for('opinion')}}">影评</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{url_for('opinion')}}">杂文</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">广场 
                                    <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu menu-min-width">
                                        <li><a href="{{url_for('square')}}">书评</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{url_for('square')}}">影评</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{url_for('square')}}">杂文</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>

                <div id="parting-line">
                    <img src="{{ url_for('static', filename='images/border.png') }}">
                </div>
            </div>

            <!--导航栏-->
            <!-- <ul id="nav-bar">
                <li class="nav-bar-item"> <a href="{{url_for('index')}}">首页</a> </li>
                <li class="nav-bar-item"> <a href="{{url_for('special_all')}}?sort=time&page=1">专栏</a> </li>
                <li class="nav-bar-item"> <a href="{{url_for('activity_main')}}">活动</a> </li>
                <li class="nav-bar-item"> <a href="{{url_for('opinion')}}">观点</a> </li>
                <li class="nav-bar-item"> <a href="{{url_for('square')}}">广场</a> </li>
            </ul> -->

        <!--body主题-->
        <div id="content">

            {% block content %}
            {% endblock %}

        </div>
        <!---->

        <!--footer-->
        <div id="footer">

        </div>
    <script src="{{ url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/twitter-bootstrap-hover-dropdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block js %}
    {% endblock %}
    </body>


</html>
