<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>曦潮书店 | 青春校园，人文曦潮</title>
        <meta name="Keywords" content="曦潮, xichao, 书店, 校园, 社交, 创业" />
        <meta name="description" content="曦潮由新蜂工作室负责维护" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/xichao-logo.png') }}" />

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet' type='text/css'/>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel='stylesheet' type='text/css'/>
        {% block css %}
                
        {% endblock %}
        
        <style>

        /*根据分辨率自适应改变背景图大小*/
        @media screen and (min-width: 1161px) {
            #top-background, #top-background > img {width: 100%;}
            #navbar-info {position: fixed; width: 100%;}
            #footer {width: 100%;}
        }

        @media screen and (max-width: 1160px) {
            #top-background, #top-background > img {width: 1160px;}
            #navbar-info {position: absolute; width: 1160px;}
            #footer {width: 1160px;}
        } 


        @media screen and (min-width: 1161px) {
            .reference-line  {height: 100%; position: fixed;}
        }

        @media screen and (max-width: 1160px) {
            .reference-line {height: 1000px; position: absolute;}
        } 
        </style>
    </head>

    <body>
        
        <div class="reference-block">
        <div class="reference-line">
            {% for i in range(5) %}
            <div class="width-160"></div>
            <div class="width-40"></div>
            {% endfor %}
            <div class="width-160-last"></div>
        </div>
        </div>


        <div id="navbar-info">
            <div class="navbar navbar-default">
                <div class="floatright">
                    <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated() %}
                        <li><a href="{{url_for('article_upload')}}"><img src="{{ url_for('static', filename='images/pen.png') }}">&nbsp;写文章</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">{{current_user.nick}}<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu menu-min-width">
                                {% if current_user.role!=3 %}
                                    <li><a href="{{url_for('home_page')}}">个人中心</a></li>
                                {% else %}
                                    <li><a href="/admin">个人中心</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="/logout">注销</a></li>
                            </ul>
                        </li>
                        

                        <li><a href="{{url_for('home_page')}}#xichao-coin">曦潮币(2000)</a></li>
                        <li><a href="{{url_for('home_page')}}#draft">草稿箱</a></li>
                        <li><a href="#">消息中心</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">我的发布 
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu menu-min-width">
                                <li><a href="{{url_for('home_page')}}#release-article">发布的文章</a></li>
                                <li class="divider"></li>
                                <li><a href="{{url_for('home_page')}}#release-comment">发布的帖子</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">我的收藏
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu menu-min-width">
                                <li><a href="{{url_for('home_page')}}#collection-article">收藏的文章</a></li>
                                <li class="divider"></li>
                                <li><a href="{{url_for('home_page')}}#collection-activity">收藏的活动</a></li>
                            </ul>
                        </li>
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">我的关注
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu menu-min-width">
                                <li><a href="{{url_for('home_page')}}#focus-user">关注的作家</a></li>
                                <li class="divider"></li>
                                <li><a href="{{url_for('home_page')}}#focus-special">关注的专栏</a></li>
                            </ul>
                        </li>

                    {% else %}
                        <li><a class="register-login" href="/login">登陆</a></li>
                        <li><a class="register-login" href="/register">注册</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        
        <!--header-->
        <div id="header">

            <!--标题栏-->
            <div id="nav-bar-header">

                <!--曦潮logo-->
                <div id="nav-bar-logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}">
                </div>
                    
                <div id="nav-bar-right">
                    <div id="nav-bar-search">
                        <form action="#" method="post">
                            <input type="text" name="search">
                        </form>
                    </div>
                    

                    <div id="navbar-main" class="navbar navbar-default">
                        <ul class="nav navbar-nav" style="width: 100%;">
                            <li><a href="{{url_for('index')}}">首页</a></li>
                            <li><a href="{{url_for('special_all')}}?view=list&sort=favor&page=1">专栏</a></li>
                            <li><a href="{{url_for('activity_main')}}">活动</a></li>
                            <li class="dropdown">
                                <a href="{{url_for('opinion')}}" class="dropdown-toggle" data-hover="dropdown">观点 <b class="caret"></b></a>
                                <ul class="dropdown-menu menu-min-width">
                                    <li><a href="{{url_for('opinion')}}#book_review">书评</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{url_for('opinion')}}#film_review">影评</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{url_for('opinion')}}#essay">杂文</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="{{url_for('square')}}" class="dropdown-toggle" data-hover="dropdown">广场 
                                <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu menu-min-width">
                                    <li><a href="{{url_for('square')}}#book_review">书评</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{url_for('square')}}#film_review">影评</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{url_for('square')}}#essay">杂文</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                    
            </div>

            <div id="parting-line">
                <img src="{{ url_for('static', filename='images/border.png') }}">
            </div>
        </div>

            <!--导航栏-->
            <!-- <ul id="nav-bar">
                <li class="nav-bar-item"> <a href="{{url_for('index')}}">首页</a> </li>
                <li class="nav-bar-item"> <a href="{{url_for('special_all')}}?sort=time&page=1">专栏</a> </li>
                <li class="nav-bar-item"> <a href="{{url_for('activity_main')}}">活动</a> </li>
                <li class="nav-bar-item"> <a href="{{url_for('opinion')}}">观点</a> </li>
                <li class="nav-bar-item"> <a href="{{url_for('square')}}">广场</a> </li>
            </ul> -->

        <!--body主题-->
        <div id="content">

            {% block content %}
                {% block opinion_content %}
                {% endblock %}
            {% endblock %}

        </div>
        <!---->

        <!--footer-->
        <div id="footer" style="margin-bottom:-20px;">
            <div id="footer-block">
                <ul>
                    <h3>关于我们</h3>
                    {% for i in range(4)%}
                        <li><a href="#">新蜂工作室</a></li>
                    {% endfor %}
                </ul>
                <ul>
                    <h3>曦潮招募</h3>
                    {% for i in range(3)%}
                        <li><a href="#">新蜂工作室</a></li>
                    {% endfor %}
                </ul>
                <ul>
                    <h3>友情链接</h3>
                    {% for i in range(2)%}
                        <li><a href="#">新蜂工作室</a></li>
                    {% endfor %}
                </ul>
                <ul>
                    <h3>联系我们</h3>
                    {% for i in range(3)%}
                        <li><a href="#">新蜂工作室</a></li>
                    {% endfor %}
                </ul>
                <ul>
                    <h3>合作伙伴</h3>
                    {% for i in range(1)%}
                        <li><a href="#">新蜂工作室</a></li>
                    {% endfor %}
                </ul>
                <ul style="width:100px;">
                    <h3>版权说明</h3>
                    {% for i in range(2)%}
                        <li><a href="#">新蜂工作室</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div id="footer-statement">
                <div>沪ICP备 15007577号</div>
                <div style="margin-top:10px;"><a href="http://newbee.io">新蜂工作室 提供支持</a></div>
            </div>
        </div>

    <script src="{{ url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/twitter-bootstrap-hover-dropdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block js %}
    {% endblock %}
    </body>


</html>
