{% extends "layout.html" %}

<!--css file used-->
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.11.2/jquery-ui.css" />
<link href="{{ url_for('static', filename='css/square.css') }}" rel='stylesheet' type='text/css'/> 
<link href="{{ url_for('static', filename='css/homepage.css') }}" rel='stylesheet' type='text/css'/> 
{% endblock %}

<!--content-->
{% block content %}

{% block home_page_content %}

{% endblock %}
	<!-- 文章列表 -->
	<div class="square-part2" id="home-article-list">
		<!-- 内容 -->
		<div class="square-part2-left" style="width:703px;">
			<div id="home-select">
				<label>排序方式：</label>
				<select name="sorting">
					<option id="sorting-by-time" value="time" selected="selected">时 间</option>
					<option id="sorting-by-heat" value="heat">热 度</option>
				</select>
			</div>

			<div id="ajax-field">
			<div id="ajax-inner-field">
			<table id="square-part1-content" style="width:703px; margin-top: 60px;">
				{% for article in article_pagination.items %}
				<tr>
					<td class="square-col-1" style="width:500px;"><a href="{{url_for('article', article_id = article.article_id)}}">{{article.title}}</a></td>
					<td class="square-col-3"><img src="{{ url_for('static', filename='images/coins.png') }}"></td>
					<td class="square-col-4" style="width: 80px;">{{article.coins}}</td>
					<td class="square-col-final">{{article.time|time_split}}</td>
				</tr>
				{% endfor %}
			</table>
			</div>

			<div class="home-paging">
				{% if article_pagination.has_prev %}
				<a href="javascript:void(0);" id="home-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
				{% else %}
				<a href="javascript:void(0);" id="home-left-arrow" style="display:none;">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
				{% endif %}

				{% if article_pagination.pages %}
				Page&nbsp;<font id="home-current-page">{{ article_pagination.page }}</font>&nbsp;/&nbsp;{{ article_pagination.pages }}
				{% endif %}
				
				{% if article_pagination.has_next %}
				&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="home-right-arrow">&gt;&gt;</a>
				{% else %}
				&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="home-right-arrow" style="display:none;">&gt;&gt;</a>
				{% endif %}
			</div>
			</div>
		</div>
	
		<!-- 标题图片 -->
		<div class="square-part2-right">
			<h2 style="line-height: 40px">文章列表</h2>
			<img id="square-part2-img" src="{{ url_for('static', filename='images/transparent-circle.png') }}"/>
			<div></div>
		</div>
	
	</div>

	{% if current_user != user %}
	<!-- 关注作者 -->
	<div id="home-star">
		<h2>关注的作者：</h2>
		<div style="margin-top: 30px"></div>
		<div class="home-star-row">
		{% for author in collection_author_list%}
			<div><img src="{{url_for('static', filename='images/transparent-circle.png')}}" style="background-image: url('{{author.photo}}')"/><div class="home-star-name"><a href="{{url_for('view_home_page', nick=author.nick)}}">{{author.nick}}</a></div></div>
		{% endfor %}
		</div>

	</div>

	{% endif %}

{% endblock %}

<!--js file used-->
{% block js %}
<script src="{{ url_for('static', filename='layer-v1.8.5/layer/layer.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.idTabs.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function()
	{
		
	{#仅在看别人主页时会出现#}
	{% if current_user != user %}
		if ('{{collection}}'=='yes'){
			flag=true;
		}
		else{
			flag=false;
		}
		$("#collection_user").click(function()
		{
			if (flag) {url='/collection_cancel/user';}
			else{url='/collection/user';}
			$.post(url,
			{
				_csrf_token:"{{ csrf_token() }}",
				user_id: {{user.user_id}}
			},
			function(data){
			if (data=='success'){
				var follow_num = parseInt($('#home_be_followed_num').html());
				if (flag) {
					layer.msg("取消关注成功",1,1);
					$("#collection_user").val("关注");
					var newstr = (follow_num-1);
					$('#home_be_followed_num').html(newstr);
					flag=false;
				}
				else{
					layer.msg("关注成功",1,1);
					$("#collection_user").val("取消关注");
					var newstr = (follow_num+1);
					$('#home_be_followed_num').html(newstr);
					flag=true;
				}
			}
			else {
				if ('{{collection}}'=='yes'){
					layer.msg("关注失败",1,3);
				}
				else{
					layer.msg("取消关注失败",1,3);
				}
			}
			});  
		});


		$("#message_button").click(function()
		{
			var url = "{{ url_for('message_page', to_user_id=user.user_id) }}";
			$.layer({
				type: 2,
				title: ['私信'],
				shade: [0.65, '#000'],
				shadeClose: true,
				closeBtn: false,
				border: [2, 1, '#D9AE48'],
				area: ['560px', '258px'],
				iframe: {src: url},
			});
		});

	{% endif %}

		var current_page = 1;

		//第二块文章的分页操作
		var onHomeArrowClick = function(page){
			var url = "";
			if($("#sorting-by-time").attr('selected') == 'selected'){
				url = "/user/{{user.user_id}}/article/pagination/by_time/page/"+page;
			}
			else{
				url = "/user/{{user.user_id}}/article/pagination/by_coins/page/"+page;
			}

			$.get(url, function(data)
			{
    			text = '<div id="ajax-inner-field"><table id="square-part1-content" style="width:703px; margin-top: 60px;">'
    			var article = data.rows;
    			for(var i = 0; i < article.length; ++i){
    				var time = article[i].time.split(' ')[0].substr(2);
    				text += '<tr><td class="square-col-1" style="width:500px;"><a href="/article/' + article[i].article_id + '">'+ article[i].title + '</a></td><td class="square-col-3"><img src="/static/images/coins.png"></td><td class="square-col-4" style="width: 80px;">' + article[i].coins + '</td><td class="square-col-final">' + time + '</td></tr>';
				};
    			text += '</table>';
    			text += '</div>';

    			$('#ajax-inner-field').remove();
    			$('#ajax-field').prepend(text);
    			if(data.has_prev == 'no')
    				$('#home-left-arrow').css("display", "none");
    			else
    				$('#home-left-arrow').css("display", "inline");
    			if(data.has_next == 'no')
    				$('#home-right-arrow').css("display", "none");
    			else
    				$('#home-right-arrow').css("display", "inline");

    			$('#home-current-page').html(page);
  			});
		};

		$("#home-left-arrow").click(function()
		{
			current_page -= 1;
			onHomeArrowClick(current_page);
			
		});

		$("#home-right-arrow").click(function()
		{
			current_page += 1;
			onHomeArrowClick(current_page);
		});

		$('select').change(function()
		{
			current_page = 1;
			onHomeArrowClick(current_page);
		});

	});
</script>

{#仅在自己看的主页会出现#}
{% if current_user == user %}
<!-- 选项卡tab动态 -->
<script type="text/javascript">
	$('#left-select a').click(function()
	{
		$('#left-select a').each(function()
		{
			$(this).removeClass('background-white');
		});
		$(this).addClass('background-white');
	});

	$('.personal-right-up a').click(function()
	{
		$(this).parent().siblings().children().children().each(function()
		{
			$(this).removeClass('underline');
		});
		$(this).children().addClass('underline');
	});

</script>

<!-- 个人信息修改 -->
<script type="text/javascript">
	$('.one1-new').addClass('display-none'); //默认不显示修改信息;

	// 点击修改进行的操作
	$('#before-change-info').click(function()
	{
		$('.one1-new').removeClass('display-none');
		$('.one1-orig').addClass('display-none');
	});

	// 点击修改完成进行的操作
	$('#after-change-info').click(function()
	{
		val_nick=$('.one1-new #change-nick').val();
		val_genger=$('input[name="gender"]:checked').val();
		val_birthday_year=$('#change-year').val();
		val_birthday_month=$('#change-month').val();
		val_birthday_day=$('#change-day').val();
		val_phone=$('#change-phonenumber').val();
		$.post('/homepage/modify/basic_information',
			{
				_csrf_token:"{{ csrf_token() }}",
				nick: val_nick,
				gender: val_genger,
				birthday_year: val_birthday_year,
				birthday_month: val_birthday_month,
				birthday_day: val_birthday_day,
				phone: val_phone
			},
			function(result){
				if (result=='birthday_error') {layer.msg("生日格式错误",1,3);}
				else if (result=='nick_length_error') {layer.msg("该昵称长度不合法",1,3);}
				else if (result=='nick_error') {layer.msg("该昵称已存在",1,3);}
				else if (result=='phone_error') {layer.msg("手机号格式错误",1,3);}
				else{
					$('.one1-orig').removeClass('display-none');
					$('.one1-new').addClass('display-none');
					$('#show-nick').text(val_nick);
					if (val_genger=='f') {$('#show-sex').text('女');}
					else{
						$('#show-sex').text('男');
					}
					$('#show-birthday').text(val_birthday_year+'-'+val_birthday_month+'-'+val_birthday_day);
					$('#show-phonenumber').text(val_phone);
					layer.msg("修改成功",1,1);
					
				}
			});


	});

</script>
<!-- 更换头像操作 -->
<script type="text/javascript">
	$("#change-photo").click(function(){
		$.layer({
	        type: 2,
	        title: [
	            '上传头像', 
	            'background:#2B2E37; height:40px; color:#fff; border:none;' //自定义标题样式
	        ],
	        shadeClose: true,
	        closeBtn: false,
	        border:[0],
	        area: ['90%', '90%'],
	        iframe: {src: "{{url_for('upload_avatar')}}"},
	    });

	});
</script>

<!-- 图片触碰操作 -->
<script type="text/javascript">
	function mouseOverImage(img)
	{
		var img1 = img
		$(img1).attr('src', "{{url_for('static', filename='images/transparent-circle-cancel.png')}}");
	};
	function mouseOutImage(img)
	{
		var img1 = img
		$(img1).attr('src', "{{url_for('static', filename='images/transparent-circle.png')}}");
	};

</script>

<!-- 发布的文章AJAX -->
<script type="text/javascript">
	var two1_refresh = function(page_id)
	{
		$("#two1 .overflow-handle").empty();
		$.get("/homepage/pagination/article/page/"+page_id,function(data)
		{
			items=data.rows;
			for(var i = 0; i < items.length; ++i){
				text="<div><table><tr><td style='width: 280px'><a href='/article/"+items[i].article_id+"'>"+items[i].title+"</a></td><td style='width: 140px'>评论（"+items[i].comment_num+"）</td><td style='width: 160px'>曦潮币（"+items[i].coins+"）</td><td><u><a href='javascript:void(0);' onclick='two1_a_click("+items[i].article_id+","+page_id+","+items.length+")'>删除</a></u></td></tr></table></div>"
				$("#two1 .overflow-handle").append(text);
			}
			if(data.pages == '0')
				$('#two1-paging').css("display", "none");
			else
				$('#two1-paging').css("display", "block");
			if(data.has_prev == 'no')
    			$('#two1-left-arrow').css("display", "none");
    		else
    			$('#two1-left-arrow').css("display", "inline");
    		if(data.has_next == 'no')
    			$('#two1-right-arrow').css("display", "none");
    		else
    			$('#two1-right-arrow').css("display", "inline");
    		$('#two1-current-page').html(data.page);
    		$('#two1-all-page').html(data.pages);
		});
	};
	
	function two1_a_click(article_id,page_id,article_length)
	{
		$.post('/homepage/delete/article',
			{
				_csrf_token:"{{ csrf_token() }}",
				article_id: article_id
			},
			function(data){
				if (data=='fail') {alert('fail');}
				else{
					if (article_length==1 && page_id>1) {two1_refresh(page_id-1);}
					else{
						two1_refresh(page_id);
					}		
				}
		});
	};

	$("#a-two1").click(function(){two1_refresh(1);});
	$("#two1-left-arrow").click(function(){two1_refresh(parseInt($('#two1-current-page').html())-1);});
	$("#two1-right-arrow").click(function(){two1_refresh(parseInt($('#two1-current-page').html())+1);});
</script>

<!-- 自己发布的评论AJAX -->
<script type="text/javascript">
	var two2_refresh = function(page_id)
	{
		$("#two2 .overflow-handle").empty();
		$.get("/homepage/pagination/comment/page/"+page_id,function(data)
		{
			items_article=data.rows_article;
			items_comment=data.rows_comment;

			for(var i = 0; i < items_comment.length; ++i){

				text="<div><p style='clear:both;'>“"+items_comment[i].content+"”</p><table style='float:right; margin: 0 auto 15px; font-size:16.7px; color: gray;'><tr><td style='width: 200px;' ><a href='/article/"+items_article[i].article_id+"'>《"+items_article[i].title+"》</a></td><td style='width: 180px;'>"+items_comment[i].time+"</td><td><u><a href='javascript:void(0);' onclick='two2_a_click("+items_comment[i].comment_id+","+page_id+","+items_comment.length+")'>删除</a></u></td></tr></table></div>"

				$("#two2 .overflow-handle").append(text);
			}
			if(data.pages == '0')
				$('#two2-paging').css("display", "none");
			else
				$('#two2-paging').css("display", "block");
			if(data.has_prev == 'no')
    			$('#two2-left-arrow').css("display", "none");
    		else
    			$('#two2-left-arrow').css("display", "inline");
    		if(data.has_next == 'no')
    			$('#two2-right-arrow').css("display", "none");
    		else
    			$('#two2-right-arrow').css("display", "inline");
    		$('#two2-current-page').html(data.page);
    		$('#two2-all-page').html(data.pages);
		});
	};
	
	function two2_a_click(comment_id,page_id,comment_length)
	{
		$.post('/homepage/delete/comment',
			{
				_csrf_token:"{{ csrf_token() }}",
				comment_id: comment_id
			},
			function(data){
				if (data=='fail') {alert('fail');}
				else{
					if (comment_length==1 && page_id>1) {two2_refresh(page_id-1);}
					else{
						two2_refresh(page_id);
					}		
				}
		});
	};

	$("#a-two2").click(function(){two2_refresh(1);});
	$("#two2-left-arrow").click(function(){two2_refresh(parseInt($('#two2-current-page').html())-1);});
	$("#two2-right-arrow").click(function(){two2_refresh(parseInt($('#two2-current-page').html())+1);});
</script>

<!-- 草稿箱AJAX -->
<script type="text/javascript">
	var two3_refresh = function(page_id)
	{
		$("#two3 .overflow-handle").empty();
		$.get("/homepage/pagination/article_draft/page/"+page_id,function(data)
		{
			items=data.rows;
			for(var i = 0; i < items.length; ++i){
				text="<div><table><tr><td style='width: 300px'><a href='/article_modify/article/"+items[i].article_id+"'>"+items[i].title+"</a></td><td style='width: 280px'>"+items[i].time+"</td><td><u><a href='javascript:void(0);' onclick='two3_a_click("+items[i].article_id+","+page_id+","+items.length+")'>删除</a></u></td></tr></table></div>";

				$("#two3 .overflow-handle").append(text);
			}
			if(data.pages == '0')
				$('#two3-paging').css("display", "none");
			else
				$('#two3-paging').css("display", "block");
			if(data.has_prev == 'no')
    			$('#two3-left-arrow').css("display", "none");
    		else
    			$('#two3-left-arrow').css("display", "inline");
    		if(data.has_next == 'no')
    			$('#two3-right-arrow').css("display", "none");
    		else
    			$('#two3-right-arrow').css("display", "inline");
    		$('#two3-current-page').html(data.page);
    		$('#two3-all-page').html(data.pages);
		});
	};
	
	function two3_a_click(article_id,page_id,article_length)
	{
		$.post('/homepage/delete/article',
			{
				_csrf_token:"{{ csrf_token() }}",
				article_id: article_id
			},
			function(data){
				if (data=='fail') {alert('fail');}
				else{
					if (article_length==1 && page_id>1) {two3_refresh(page_id-1);}
					else{
						two3_refresh(page_id);
					}		
				}
		});
	};

	$("#a-two3").click(function(){two3_refresh(1);});
	$("#two3-left-arrow").click(function(){two3_refresh(parseInt($('#two3-current-page').html())-1);});
	$("#two3-right-arrow").click(function(){two3_refresh(parseInt($('#two3-current-page').html())+1);});
</script>

<!-- 收藏的文章AJAX -->
<script type="text/javascript">
	var three1_refresh = function(page_id)
	{
		$("#three1 .overflow-handle").empty();
		$.get("/homepage/pagination/article_collection/page/"+page_id,function(data)
		{
			items_article=data.rows_article;
			items_user=data.rows_user;
			items_collection_article = data.rows_collection_article;
			for(var i = 0; i < items_user.length; ++i){
				text="<div><table><tr><td style='width:300px'><a href='/article/" + items_article[i].article_id + "'>" + items_article[i].title + "</a></td><td style='width:280px'><a href='/user/" + items_user[i].nick +"'>" + items_user[i].nick + "</a></td><td><u><a href='javascript:void(0);' onClick='three1_a_click("+items_collection_article[i].collection_article_id+","+page_id+","+items_article.length+")'>删除</a></u></td></tr></table></div>";
				
				$("#three1 .overflow-handle").append(text);
			}
			if(data.pages == '0')
				$('#three1-paging').css("display", "none");
			else
				$('#three1-paging').css("display", "block");
			if(data.has_prev == 'no')
    			$('#three1-left-arrow').css("display", "none");
    		else
    			$('#three1-left-arrow').css("display", "inline");
    		if(data.has_next == 'no')
    			$('#three1-right-arrow').css("display", "none");
    		else
    			$('#three1-right-arrow').css("display", "inline");
    		$('#three1-current-page').html(data.page);
    		$('#three1-all-page').html(data.pages);
		});
	};
	
	function three1_a_click(collection_article_id,page_id,collection_article_length)
	{
		$.post('/homepage/delete/collection/article',
			{
				_csrf_token:"{{ csrf_token() }}",
				collection_article_id: collection_article_id
			},
			function(data){
				if (data=='fail') {alert('fail');}
				else{
					if (collection_article_length==1 && page_id>1) {three1_refresh(page_id-1);}
					else{
						three1_refresh(page_id);
					}		
				}
		});
	};

	$("#a-three1").click(function(){three1_refresh(1);});
	$("#three1-left-arrow").click(function(){three1_refresh(parseInt($('#three1-current-page').html())-1);});
	$("#three1-right-arrow").click(function(){three1_refresh(parseInt($('#three1-current-page').html())+1);});
</script>

<!-- 收藏的活动AJAX -->
<script type="text/javascript">
	var three2_refresh = function(page_id)
	{
		$("#three2 .overflow-handle").empty();
		$.get("/homepage/pagination/activity_collection/page/"+page_id,function(data)
		{
			items_activity=data.rows_activity;
			items_collection_activity=data.rows_collection_activity;
			for(var i = 0; i < items_activity.length; ++i){
				text="<div><table><tr><td style='width:300px'><a href='/activity/" + items_activity[i].activity_id + "'>" + items_activity[i].name + "</a></td><td style='width:280px'>" + items_activity[i].activity_time +"</td><td><u><a href='javascript:void(0);' onClick='three2_a_click("+items_collection_activity[i].collection_activity_id+","+page_id+","+items_activity.length+")'>删除</a></u></td></tr></table></div>";
				
				$("#three2 .overflow-handle").append(text);
			}
			if(data.pages == '0')
				$('#three2-paging').css("display", "none");
			else
				$('#three2-paging').css("display", "block");
			if(data.has_prev == 'no')
    			$('#three2-left-arrow').css("display", "none");
    		else
    			$('#three2-left-arrow').css("display", "inline");
    		if(data.has_next == 'no')
    			$('#three2-right-arrow').css("display", "none");
    		else
    			$('#three2-right-arrow').css("display", "inline");
    		$('#three2-current-page').html(data.page);
    		$('#three2-all-page').html(data.pages);
		});
	};
	
	function three2_a_click(collection_activity_id,page_id,collection_activity_length)
	{
		$.post('/homepage/delete/collection/activity',
			{
				_csrf_token:"{{ csrf_token() }}",
				collection_activity_id: collection_activity_id
			},
			function(data){
				if (data=='fail') {alert('fail');}
				else{
					if (collection_activity_length==1 && page_id>1) {three2_refresh(page_id-1);}
					else{
						three2_refresh(page_id);
					}		
				}
		});
	};

	$("#a-three2").click(function(){three2_refresh(1);});
	$("#three2-left-arrow").click(function(){three2_refresh(parseInt($('#three2-current-page').html())-1);});
	$("#three2-right-arrow").click(function(){three2_refresh(parseInt($('#three2-current-page').html())+1);});
</script>

<!-- 关注的作者AJAX -->
<script type="text/javascript">
	var four1_refresh = function(page_id)
	{
		$("#four1 .home-photo-row").empty();
		$.get("/homepage/pagination/user_collection/page/"+page_id,function(data)
		{
			items_user=data.rows_user;
			items_collection_user=data.rows_collection_user;
			for(var i = 0; i < items_user.length; ++i){
				text="<div><a href='javascript:void(0);'><img src='/static/images/transparent-circle.png' style='background-image: url(\""+items_user[i].photo+"\")' onclick='four1_a_click("+items_user[i].user_id+","+page_id+","+items_user.length+")' onmouseover='mouseOverImage(this)' onmouseout='mouseOutImage(this)' /></a><div class='home-star-name'><a href='/user/"+items_user[i].nick+"'>"+items_user[i].nick+"</a></div></div>"

				$("#four1 .home-photo-row").append(text);
			}
			if(data.pages == '0')
				$('#four1-paging').css("display", "none");
			else
				$('#four1-paging').css("display", "block");
			if(data.has_prev == 'no')
    			$('#four1-left-arrow').css("display", "none");
    		else
    			$('#four1-left-arrow').css("display", "inline");
    		if(data.has_next == 'no')
    			$('#four1-right-arrow').css("display", "none");
    		else
    			$('#four1-right-arrow').css("display", "inline");
    		$('#four1-current-page').html(data.page);
    		$('#four1-all-page').html(data.pages);
		});
	};
	
	function four1_a_click(user_id,page_id,length)
	{
		$.post('/collection_cancel/user',
			{
				_csrf_token:"{{ csrf_token() }}",
				user_id: user_id //后台的接口是获得被关注者的id(user_id)和当前用户id(session获得)，查找并删除对应内容
			},
			function(data){
				if (data=='fail') {alert('fail');}
				else{
					if (length==1 && page_id>1) {four1_refresh(page_id-1);}
					else{
						four1_refresh(page_id);
					}		
				}
		});
	};

	$("#a-four1").click(function(){four1_refresh(1);});
	$("#four1-left-arrow").click(function(){four1_refresh(parseInt($('#four1-current-page').html())-1);});
	$("#four1-right-arrow").click(function(){four1_refresh(parseInt($('#four1-current-page').html())+1);});
</script>

<!-- 关注的专栏AJAX -->
<script type="text/javascript">
	var four2_refresh = function(page_id)
	{
		$("#four2 .home-photo-row").empty();
		$.get("/homepage/pagination/special_collection/page/"+page_id,function(data)
		{
			items_special=data.rows_special;
			items_collection_special=data.rows_collection_special;
			for(var i = 0; i < items_special.length; ++i){
				text="<div><a href='javascript:void(0);'><img src='/static/images/transparent-circle.png' style='background-image: url(\""+items_special[i].picture+"\")' onclick='four2_a_click("+items_collection_special[i].special_id+","+page_id+","+items_special.length+")' onmouseover='mouseOverImage(this)' onmouseout='mouseOutImage(this)' /></a><div class='home-star-name'><a href='/special?id="+items_special[i].special_id+"&page=1'>"+items_special[i].name+"</a></div></div>"

				$("#four2 .home-photo-row").append(text);
			}
			if(data.pages == '0')
				$('#four2-paging').css("display", "none");
			else
				$('#four2-paging').css("display", "block");
			if(data.has_prev == 'no')
    			$('#four2-left-arrow').css("display", "none");
    		else
    			$('#four2-left-arrow').css("display", "inline");
    		if(data.has_next == 'no')
    			$('#four2-right-arrow').css("display", "none");
    		else
    			$('#four2-right-arrow').css("display", "inline");
    		$('#four2-current-page').html(data.page);
    		$('#four2-all-page').html(data.pages);
		});
	};
	
	function four2_a_click(id,page_id,length)
	{
		$.get('/collection_special_cancel?id='+id,
			function(data){
				if (data=='already') {alert('fail');}
				else{
					if (length==1 && page_id>1) {four2_refresh(page_id-1);}
					else{
						four2_refresh(page_id);
					}		
				}
		});
	};

	$("#a-four2").click(function(){four2_refresh(1);});
	$("#four2-left-arrow").click(function(){four2_refresh(parseInt($('#four2-current-page').html())-1);});
	$("#four2-right-arrow").click(function(){four2_refresh(parseInt($('#four2-current-page').html())+1);});
</script>

<!-- 我的粉丝AJAX -->
<script type="text/javascript">
	var five1_refresh = function(page_id)
	{
		$("#five1 .home-photo-row").empty();
		$.get("/homepage/pagination/fans/page/"+page_id,function(data)
		{
			items=data.rows;
			for(var i = 0; i < items.length; ++i){
				text="<div><img src='/static/images/transparent-circle.png' style='background-image: url(\"" + items[i].photo + "\")'/><div class='home-star-name'><a href='/user/" + items[i].nick + "'>" + items[i].nick + "</a></div></div>";
					
				$("#five1 .home-photo-row").append(text);
			}
			if(data.pages == '0')
				$('#five1-paging').css("display", "none");
			else
				$('#five1-paging').css("display", "block");
			if(data.has_prev == 'no')
    			$('#five1-left-arrow').css("display", "none");
    		else
    			$('#five1-left-arrow').css("display", "inline");
    		if(data.has_next == 'no')
    			$('#five1-right-arrow').css("display", "none");
    		else
    			$('#five1-right-arrow').css("display", "inline");
    		$('#five1-current-page').html(data.page);
    		$('#five1-all-page').html(data.pages);
		});
	};
	

	$("#a-five1").click(function(){five1_refresh(1);});
	$("#five1-left-arrow").click(function(){five1_refresh(parseInt($('#five1-current-page').html())-1);});
	$("#five1-right-arrow").click(function(){five1_refresh(parseInt($('#five1-current-page').html())+1);});
</script>

<!-- 收到的私信AJAX -->
<script type="text/javascript">
	var seven1_refresh = function(page_id)
	{
		$("#seven1 .overflow-handle").empty();
		$.get("/homepage/pagination/message/page/"+page_id,function(data)
		{
			items_message=data.rows_message;
			items_user=data.rows_user;
			for(var i = 0; i < items_user.length; ++i){
				text="<div><p style='clear:both;'>“"+items_message[i].content+"”</p><table style='float:right; margin:0 auto 15px; font-size:16.7px; color: gray;'><tr><td style='width: 120px;'>"+"<a href='/user/" + items_user[i].nick + "'>" +items_user[i].nick+"</a></td><td style='width: 180px;'>"+items_message[i].time+"</td><td style='width: 60px;'><u><a href='javascript:void(0);' onClick='seven1_a_click("+items_message[i].message_id+","+page_id+","+items_message.length+")'>删除</a></u></td></tr></table></div>";
					
				$("#seven1 .overflow-handle").append(text);
			}
			if(data.pages == '0')
				$('#seven1-paging').css("display", "none");
			else
				$('#seven1-paging').css("display", "block");
			if(data.has_prev == 'no')
    			$('#seven1-left-arrow').css("display", "none");
    		else
    			$('#seven1-left-arrow').css("display", "inline");
    		if(data.has_next == 'no')
    			$('#seven1-right-arrow').css("display", "none");
    		else
    			$('#seven1-right-arrow').css("display", "inline");
    		$('#seven1-current-page').html(data.page);
    		$('#seven1-all-page').html(data.pages);
		});
	};
	
	function seven1_a_click(message_id,page_id,message_length)
	{
		$.post('/homepage/delete/message',
			{
				_csrf_token:"{{ csrf_token() }}",
				message_id: message_id
			},
			function(data){
				if (data=='fail') {alert('fail');}
				else{
					if (message_length==1 && page_id>1) {seven1_refresh(page_id-1);}
					else{
						seven1_refresh(page_id);
					}		
				}
		});
	};

	$("#a-seven1").click(function(){seven1_refresh(1);});
	$("#seven1-left-arrow").click(function(){seven1_refresh(parseInt($('#seven1-current-page').html())-1);});
	$("#seven1-right-arrow").click(function(){seven1_refresh(parseInt($('#seven1-current-page').html())+1);});
</script>

<!-- 收到的评论AJAX -->
<script type="text/javascript">
	var seven2_refresh = function(page_id)
	{
		$("#seven2 .overflow-handle").empty();
		$.get("/homepage/pagination/received_comment/page/"+page_id,function(data)
		{
			items_comment=data.rows_comment;
			items_user=data.rows_user;
			items_article=data.rows_article;
			for(var i = 0; i < items_article.length; ++i){
				text="<div><p style='clear:both;'>"+items_comment[i].content+"</p><table style='float:right; margin:0 auto 15px; font-size:16.7px; color: gray;'><tr><td style='width: 120px;'><a href='/user/"+items_user[i].nick+"'>"+items_user[i].nick+"</a></td><td style='width: 250px;'>评论我<a style='display:inline;' href='/article/"+items_article[i].article_id+"'>《"+items_article[i].title+"》</a></td><td style='width: 180px;'>"+items_comment[i].time+"</td><td><u><a href='javascript:void(0);' onClick='seven2_a_click("+items_comment[i].comment_id+","+page_id+","+items_comment.length+")'>删除</a></u></td></tr></table></div>";
				
				$("#seven2 .overflow-handle").append(text);
			}
			if(data.pages == '0')
				$('#seven2-paging').css("display", "none");
			else
				$('#seven2-paging').css("display", "block");
			if(data.has_prev == 'no')
    			$('#seven2-left-arrow').css("display", "none");
    		else
    			$('#seven2-left-arrow').css("display", "inline");
    		if(data.has_next == 'no')
    			$('#seven2-right-arrow').css("display", "none");
    		else
    			$('#seven2-right-arrow').css("display", "inline");
    		$('#seven2-current-page').html(data.page);
    		$('#seven2-all-page').html(data.pages);
		});
	};
	
	function seven2_a_click(comment_id,page_id,comment_length)
	{
		$.post('/homepage/delete/received_comment',
			{
				_csrf_token:"{{ csrf_token() }}",
				comment_id: comment_id
			},
			function(data){
				if (data=='fail') {alert('fail');}
				else{
					if (comment_length==1 && page_id>1) {seven2_refresh(page_id-1);}
					else{
						seven2_refresh(page_id);
					}		
				}
		});
	};

	//显示收到的评论
	$("#a-seven2").click(function(){seven2_refresh(1);});
	$("#seven2-left-arrow").click(function(){seven2_refresh(parseInt($('#seven2-current-page').html())-1);});
	$("#seven2-right-arrow").click(function(){seven2_refresh(parseInt($('#seven2-current-page').html())+1);});
</script>


<!-- 系统消息AJAX -->
<script type="text/javascript">
	// 刷新页面，AJAX
	var seven3_refresh = function(page_id)
	{
		$("#seven3 .overflow-handle").empty();
		$.get("/homepage/pagination/notification/page/"+page_id, function(data)
		{
			items=data.rows;
			for(var i = 0; i < items.length; ++i)
			{
				text="<div><p style='clear:both;'>"+items[i].content+"</p><table style='float:right; margin: 0 auto 15px; font-size:16.7px; color: gray;'><tr><td style='width: 180px;'>"+items[i].time+"</td><td><u><a href='javascript:void(0);' onClick='seven3_a_click("+items[i].message_id+","+page_id+","+items.length+")'>删除</a></u></td></tr></table></div>";
				
				$("#seven3 .overflow-handle").append(text);
			}
			if(data.pages == '0')
				$('#seven3-paging').css("display", "none");
			else
				$('#seven3-paging').css("display", "block");
			if(data.has_prev == 'no')
    			$('#seven3-left-arrow').css("display", "none");
    		else
    			$('#seven3-left-arrow').css("display", "inline");
    		if(data.has_next == 'no')
    			$('#seven3-right-arrow').css("display", "none");
    		else
    			$('#seven3-right-arrow').css("display", "inline");
    		$('#seven3-current-page').html(data.page);
    		$('#seven3-all-page').html(data.pages);
		});
	};

	//删除事件绑定点击事件
	function seven3_a_click(message_id,page_id,items_length)
	{
		$.post('/homepage/delete/message',
			{
				_csrf_token:"{{ csrf_token() }}",
				message_id: message_id
			},
		function(data)
		{
			if (data=='fail') {alert('fail');}
			else{
				if (items_length==1 && page_id>1) {
					seven3_refresh(page_id-1);
				}
				else {
					seven3_refresh(page_id);
				}	
			}
		});
	};

	$("#a-seven3").click(function(){seven3_refresh(1);});
	$("#seven3-left-arrow").click(function(){seven3_refresh(parseInt($('#seven3-current-page').html())-1);});
	$("#seven3-right-arrow").click(function(){seven3_refresh(parseInt($('#seven3-current-page').html())+1);});
</script>

<!-- 更新头像AJAX -->
<script type="text/javascript">
function update_avatar(data){
  $('#show-photo').css("background-image","url("+data+")");
  $('.personal-photo img').css("background-image","url("+data+")");
  $.post('/homepage/modify/avatar',
  	{
  		_csrf_token:"{{ csrf_token() }}",
  		avatar:data
  	},
  	function(result){
  	});
  
}
</script>

<!-- 更新个人简介AJAX -->
<script type="text/javascript">
$("#change-slogon").click(function(){
	val_slogon=$("#slogon").val();
	$.post('/homepage/modify/slogon',
		{
			_csrf_token:"{{ csrf_token() }}",
			slogon: val_slogon
		},
		function(result){
			layer.msg('个人简介保存成功',1,1);
		});
});
</script>


<!-- 我的专栏AJAX -->
<script type="text/javascript">
	var eight1_refresh = function(page_id)
	{
		$("#eight1 .home-photo-row").empty();
		$.get("/homepage/pagination/special/page/"+page_id, function(data)
		{
			items=data.rows;
			for(var i = 0; i < items.length; ++i)
			{
				text="<div style='width: 220px; margin: 10px auto;'><img src='/static/images/transparent-circle.png' style='background-image: url(\""+items[i].picture+"\")'/><div class='home-star-name'>"+items[i].name+"</div><div class='home-star-name'>文章（"+items[i].article_num+"）</div><div class='home-star-name'>被收藏（"+items[i].favor+"）</div><div class='home-star-name'>曦潮币（"+items[i].coin+"）</div><div class='home-star-name'><table style='margin: auto;'><tr><td><u><a href='/special?id="+items[i].special_id+"&page=1'>查看</a></u></td><td><u><a href='javascript:void(0);'>编辑</a></u></td><td><u><a href='javascript:void(0);' onClick='eight1_a_click("+items[i].special_id+","+page_id+","+items.length+")'>删除</a></u></td></tr></table></div></div>";
				
				$("#eight1 .home-photo-row").append(text);
			}
			if(data.pages == '0')
				$('#eight1-paging').css("display", "none");
			else
				$('#eight1-paging').css("display", "block");
			if(data.has_prev == 'no')
    			$('#eight1-left-arrow').css("display", "none");
    		else
    			$('#eight1-left-arrow').css("display", "inline");
    		if(data.has_next == 'no')
    			$('#eight1-right-arrow').css("display", "none");
    		else
    			$('#eight1-right-arrow').css("display", "inline");
    		$('#eight1-current-page').html(data.page);
    		$('#eight1-all-page').html(data.pages);
		});
	};

	//删除事件绑定点击事件
	function eight1_a_click(special_id,page_id,items_length)
	{
		$.post('/homepage/delete/special',
			{
				_csrf_token:"{{ csrf_token() }}",
				special_id: special_id
			},
		function(data)
		{
			if (data=='fail') {alert('fail');}
			else{
				if (items_length==1 && page_id>1) {
					eight1_refresh(page_id-1);
				}
				else {
					eight1_refresh(page_id);
				}	
			}
		});
	};

	$("#a-eight1").click(function(){eight1_refresh(1);});
	$("#eight1-left-arrow").click(function(){eight1_refresh(parseInt($('#eight1-current-page').html())-1);});
	$("#eight1-right-arrow").click(function(){eight1_refresh(parseInt($('#eight1-current-page').html())+1);});
</script>


{% endif %}
{% endblock %}