{% extends "layout.html" %}

<!--css file used-->
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.11.2/jquery-ui.css" />
<link href="{{ url_for('static', filename='css/square.css') }}" rel='stylesheet' type='text/css'/> 
<link href="{{ url_for('static', filename='css/homepage.css') }}" rel='stylesheet' type='text/css'/> 
{% endblock %}

<!--content-->
{% block content %}

{% block home_page_content %}

{% endblock %}
	<!-- 文章列表 -->
	<div class="square-part2" id="home-article-list">
		<!-- 内容 -->
		<div class="square-part2-left" style="width:703px;">
			<div id="home-select">
				<label>排序方式：</label>
				<select name="sorting">
					<option id="sorting-by-time" value="time" selected="selected">时 间</option>
					<option id="sorting-by-heat" value="heat">热 度</option>
				</select>
			</div>

			<div id="ajax-field">
			<div id="ajax-inner-field">
			<table id="square-part1-content" style="width:703px; margin-top: 60px;">
				{% for article in article_pagination.items %}
				<tr>
					<td class="square-col-1" style="width:500px;"><a href="{{url_for('article', article_id = article.article_id)}}">{{article.title}}</a></td>
					<td class="square-col-3"><img src="{{ url_for('static', filename='images/coins.png') }}"></td>
					<td class="square-col-4" style="width: 80px;">{{article.coins}}</td>
					<td class="square-col-final">{{article.time|time_split}}</td>
				</tr>
				{% endfor %}
			</table>
			</div>

			<div id="home-paging">
				{% if article_pagination.has_prev %}
				<a href="javascript:void(0);" id="home-left-arrow">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
				{% else %}
				<a href="javascript:void(0);" id="home-left-arrow" style="display:none;">&lt;&lt;</a>&nbsp;&nbsp;&nbsp;
				{% endif %}

				{% if article_pagination.pages %}
				Page&nbsp;<font id="home-current-page">{{ article_pagination.page }}</font>&nbsp;/&nbsp;{{ article_pagination.pages }}
				{% endif %}
				
				{% if article_pagination.has_next %}
				&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="home-right-arrow">&gt;&gt;</a>
				{% else %}
				&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" id="home-right-arrow" style="display:none;">&gt;&gt;</a>
				{% endif %}
			</div>
			</div>
		</div>
	
		<!-- 标题图片 -->
		<div class="square-part2-right">
			<h2 style="line-height: 40px">文章列表</h2>
			<img id="square-part2-img" src="{{ url_for('static', filename='images/transparent-circle.png') }}"/>
			<div></div>
		</div>
	
	</div>

	{% if current_user != user %}
	<!-- 关注作者 -->
	<div id="home-star">
		<h2>关注的作者：</h2>
		<div style="margin-top: 30px"></div>
		<div class="home-star-row">
		{% for author in collection_author_list%}
			<div><img src="{{url_for('static', filename='images/transparent-circle.png')}}" style="background-image: url('{{author.photo}}')"/><div class="home-star-name"><a href="{{url_for('view_home_page', nick=author.nick)}}">{{author.nick}}</a></div></div>
		{% endfor %}
		</div>

	</div>

	{% endif %}
{% endblock %}

<!--js file used-->
{% block js %}
<script src="{{ url_for('static', filename='layer-v1.8.5/layer/layer.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.idTabs.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function()
	{
		
	{#仅在看别人主页时会出现#}
	{% if current_user != user %}
		if ('{{collection}}'=='yes'){
			flag=true;
		}
		else{
			flag=false;
		}
		$("#collection_user").click(function()
		{
			if (flag) {url='/collection_cancel/user';}
			else{url='/collection/user';}
			$.post(url,
			{
			user_id: {{user.user_id}}
			},
			function(data){
			if (data=='success'){
				var follow_num = parseInt($('#home_be_followed_num').html());
				if (flag) {
					layer.msg("取消关注成功",1,1);
					$("#collection_user").val("关注");
					var newstr = (follow_num-1);
					$('#home_be_followed_num').html(newstr);
					flag=false;
				}
				else{
					layer.msg("关注成功",1,1);
					$("#collection_user").val("取消关注");
					var newstr = (follow_num+1);
					$('#home_be_followed_num').html(newstr);
					flag=true;
				}
			}
			else {
				if ('{{collection}}'=='yes'){
					layer.msg("关注失败",1,3);
				}
				else{
					layer.msg("取消关注失败",1,3);
				}
			}
			});  
		});


		$("#message_button").click(function()
		{
			var url = "{{ url_for('message_page', to_user_id=user.user_id) }}";
			$.layer({
				type: 2,
				title: ['私信'],
				shade: [0.65, '#000'],
				shadeClose: true,
				closeBtn: false,
				border: [2, 1, '#D9AE48'],
				area: ['560px', '258px'],
				iframe: {src: url},
			});
		});

	{% endif %}

		var current_page = 1;

		$("#home-left-arrow").click(function()
		{
			var url = "";
			current_page -= 1;
			if($("#sorting-by-time").attr('selected') == 'selected'){
				url = "/user/{{user.user_id}}/article/pagination/by_time/page/"+current_page;
			}
			else{
				url = "/user/{{user.user_id}}/article/pagination/by_coins/page/"+current_page;
			}

			$.get(url, function(data)
			{
    			text = '<div id="ajax-inner-field"><table id="square-part1-content" style="width:703px; margin-top: 60px;">'
    			var article = data.rows;
    			for(var i = 0; i < article.length; ++i){
    				var time = article[i].time.split(' ')[0].substr(2);
    				text += '<tr><td class="square-col-1" style="width:500px;"><a href="/article/' + article[i].article_id + '">'+ article[i].title + '</a></td><td class="square-col-3"><img src="/static/images/coins.png"></td><td class="square-col-4" style="width: 80px;">' + article[i].coins + '</td><td class="square-col-final">' + time + '</td></tr>';
				};
    			text += '</table>';
    			text += '</div>';

    			$('#ajax-inner-field').remove();
    			$('#ajax-field').prepend(text);
    			if(data.has_prev == 'no')
    				$('#home-left-arrow').css("display", "none");
    			else
    				$('#home-left-arrow').css("display", "inline");
    			if(data.has_next == 'no')
    				$('#home-right-arrow').css("display", "none");
    			else
    				$('#home-right-arrow').css("display", "inline");

    			$('#home-current-page').html(current_page);
  			});
		});

		$("#home-right-arrow").click(function()
		{
			var url = "";
			current_page += 1;
			if($("#sorting-by-time").attr('selected') == 'selected'){
				url = "/user/{{user.user_id}}/article/pagination/by_time/page/"+current_page;
			}
			else{
				url = "/user/{{user.user_id}}/article/pagination/by_coins/page/"+current_page;
			}

			$.get(url, function(data)
			{
    			text = '<div id="ajax-inner-field"><table id="square-part1-content" style="width:703px; margin-top: 60px;">'
    			var article = data.rows;
    			for(var i = 0; i < article.length; ++i){
    				var time = article[i].time.split(' ')[0].substr(2);
    				text += '<tr><td class="square-col-1" style="width:500px;"><a href="/article/' + article[i].article_id + '">'+ article[i].title + '</a></td><td class="square-col-3"><img src="/static/images/coins.png"></td><td class="square-col-4" style="width: 80px;">' + article[i].coins + '</td><td class="square-col-final">' + time + '</td></tr>';
				};
    			text += '</table>';
    			text += '</div>';

    			$('#ajax-inner-field').remove();
    			$('#ajax-field').prepend(text);

    			if(data.has_prev == 'no')
    				$('#home-left-arrow').css("display", "none");
    			else
    				$('#home-left-arrow').css("display", "inline");
    			if(data.has_next == 'no')
    				$('#home-right-arrow').css("display", "none");
    			else
    				$('#home-right-arrow').css("display", "inline");

    			$('#home-current-page').html(current_page);
    			
  			});
		});

		$('select').change(function()
		{
			var url = "";
			current_page = 1;
			if($("#sorting-by-time").attr('selected') == 'selected'){
				url = "/user/{{user.user_id}}/article/pagination/by_time/page/"+current_page;
			}
			else{
				url = "/user/{{user.user_id}}/article/pagination/by_coins/page/"+current_page;
			}

			$.get(url, function(data)
			{
    			text = '<div id="ajax-inner-field"><table id="square-part1-content" style="width:703px; margin-top: 60px;">'
    			var article = data.rows;
    			for(var i = 0; i < article.length; ++i){
    				var time = article[i].time.split(' ')[0].substr(2);
    				text += '<tr><td class="square-col-1" style="width:500px;"><a href="/article/' + article[i].article_id + '">'+ article[i].title + '</a></td><td class="square-col-3"><img src="/static/images/coins.png"></td><td class="square-col-4" style="width: 80px;">' + article[i].coins + '</td><td class="square-col-final">' + time + '</td></tr>';
				};
    			text += '</table>';
    			text += '</div>';

    			$('#ajax-inner-field').remove();
    			$('#ajax-field').prepend(text);

    			if(data.has_prev == 'no')
    				$('#home-left-arrow').css("display", "none");
    			else
    				$('#home-left-arrow').css("display", "inline");
    			if(data.has_next == 'no')
    				$('#home-right-arrow').css("display", "none");
    			else
    				$('#home-right-arrow').css("display", "inline");

    			$('#home-current-page').html(current_page);
    			
  			});
		});

	});
</script>

{#仅在自己看的主页会出现#}
{% if current_user == user %}
<!-- 选项卡tab动态 -->
<script type="text/javascript">
	$('#left-select a').click(function()
	{
		$('#left-select a').each(function()
		{
			$(this).removeClass('background-white');
		});
		$(this).addClass('background-white');
	});

	$('.personal-right-up a').click(function()
	{
		$(this).parent().siblings().children().children().each(function()
		{
			$(this).removeClass('underline');
		});
		$(this).children().addClass('underline');
	});


</script>

<script type="text/javascript">
		function seven3_a_click(id){
			$.post('/homepage/delete/message',
				{
					message_id: id
				},
				function(data){
					if (data=='fail') {alert('fail');}
					else{
						seven3_refresh(1)

					}
			});
		}
		var seven3_refresh=function (page_id){
			$("#seven3 .overflow-handle").empty();
			$.get("/homepage/pagination/notification/page/"+page_id,function(data){
				items=data.rows;
				for(var i = 1; i <= items.length; ++i){
					text="<div><p style='clear:both;'>"+items[i-1].content+"</p><table style='float:right; margin: 5px auto 35px; font-size:16.7px; color: gray;'><tr><td style='width: 180px;'>"+items[i-1].time+"</td><td><u><a href='javascript:void(0);' onClick='seven3_a_click("+items[i-1].message_id+")'>删除</a></u></td></tr></table></div>";
					$("#seven3 .overflow-handle").append(text);
				}
			});
		}
		//私信的显示功能
		$("#a-seven3").click(seven3_refresh(1));
</script>
{% endif %}
{% endblock %}