{% extends "layout.html" %}

{% block css %}
<link href="{{ url_for('static', filename='css/login.css') }}" rel='stylesheet' type='text/css'/>
{% endblock %}

{% block content %}
<!--当前位置-->
<div class="current-position">
    <p style="font-size: 16px; font-family: 黑体;">登陆</p>
</div>
<!--登陆入口-->
<div id="login-content">
    <img src="{{ url_for('static', filename='images/login-lantern.png') }}" id="login-lantern">

    <div id="login-inside-circle" >
        <!--<img src="{{ url_for('static', filename='images/login-gray-circle.png') }}" id="login-gray-circle">-->
    	{% block login_content %}
        {% endblock %}
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".error-tip").fadeOut(4000);
    });
</script>
{% endblock %}
