{% extends "layout_login.html" %}

{% block login_content %}
    {% from "test_formhelpers.html" import render_login, render_login_autologin %}
    <form id="login-form-block" method="post" action="/login" accept-charset="utf-8">
        <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
        <!-- 跳转页面参数 -->
        {% if request_url %}
        <input name="request_url" type=hidden value="{{ request_url }}" />
        {% elif request.args.get('next') %}
        <input name="request_url" type=hidden value="{{ request.args.get('next') }}" />
        {% endif %}

        <table id="login-userinfo">
            {{ render_login(form.email) }}
            {{ render_login(form.password) }}
        </table>
        {{ render_login_autologin(form.stay) }}
                {% if error!=None %}
        <div class="error-tip login-error-not-match">
            {{ error }}
        </div>
        {% endif %}
            <!--<input type="submit" value="登陆">-->
            <div id="submit">
                <a href="javascript:return false;" onclick="javascript:$('#login-form-block').submit();">登陆</a>
            </div>
            <a id="register" href="{{url_for('register')}}">还没有账号？点击注册 >>></a>
    </form>
{% endblock %}
