<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/pay_author.css" />
	<meta charset="UTF-8" />
	<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#button").click(function(){
				val_award_num=$("#award_num").val();
				var re = /^[0-9]+.?[0-9]*$/;  
				if (val_award_num=='') 
					{alert("打赏值不能为空");}
				else if (!re.test(val_award_num))
					{alert("打赏数额应为数字")}
				else if ( val_award_num > {{current_user.coin}} )
					{alert("您的曦潮币余值不够");}
				else{
					$("#num_xichao").html({{current_user.coin}} - val_award_num);
					$.post('127.0.0.1:5000/award',
						{
							award_num: val_award_num,
							article_id: {{article_id}}
						},
						function(data){

						});
				}
			});
		});
	</script>
</head>
<body>
	<div id="my_xichao">
		<p id="p_my_xichao">我的曦潮币 : </p>
		<P id="num_xichao">{{current_user.coin}}</P>
		<p id="author"></p>
	</div>

	<div id="pay">
		<p id="num_pay">打赏数额 ：</p>
		<input type="text" id="award_num" oonkeyup=”this.value=this.value.replace(/\D/g,”)” style=”ime-mode:disabled”>
	</div>

	<div id="review">
		<input id="input_review">
		</input>
	</div>

	<div id="push_review">
		<input type="checkbox" id="message_author" />
		私信作者
		<input type="checkbox" id="comment_article" />
		同时评论
	</div>
	<div>
		<button class="myButton" id="button">打赏作者</button>
	</div>

	
</body>
</html>