<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/pay_author.css" />
	<meta charset="UTF-8" />
</head>
<body>
	<div id="my_xichao">
		<p id="p_my_xichao">我的曦潮币 : </p>
		<P id="num_xichao">xxx</P>
	</div>

	<div id="pay">
		<p id="num_pay">打赏数额 ：</p>
		<input type="text">
	</div>

	<div id="review">
		<input id="input_review">
		</input>
	</div>

	<div id="push_review">
		<input type="checkbox" id="to_author" />
		打赏作者
		<input type="checkbox" id="input_push_review" />
		同时评论
	</div>

	<button class="myButton" id="button">打赏作者</button>
</body>
</html>