{% extends "layout.html" %}

{% block css %}
<link href="{{ url_for('static', filename='css/register.css') }}" rel='stylesheet' type='text/css'/>
{% endblock %}

{% block content %}
    <!--当前位置-->
    <div class="current-position">

    </div>
    <!--注册表单-->
    {% from "test_formhelpers.html" import render_register %}
    <form method="post" action="/register" accept-charset="utf-8" enctype="multipart/form-data">
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <dl>
        {{ render_register(form.email, 0) }}
        {{ render_register(form.nick, 1) }}
        {{ render_register(form.password, 2) }}
        {{ render_register(form.confirm, 3) }}
        {{ render_register(form.photo, 4) }}
        {% if photo_error != None%}
            {{ photo_error }}
        {% endif %}
        </dl>
      <input class="register-button" type="reset" value="取消">
      <input class="register-button" type="submit" value="提交">
    </form>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    
      $(".register-form-value input").change(function(){
      var index = parseInt($(this).parent().attr("data-index")); //changed line number
      // alert(index);
      var info = new Array();
      $(".register-form-value input").each(function(){
        info[parseInt($(this).parent().attr("data-index"))] = $(this).val();
      });
      // alert(info);
      $.getJSON($SCRIPT_ROOT + '/ajax_register', {
        email: info[0],
        nick: info[1],
        password: info[2],
        confirm: info[3]}, function(data){
        $(".register-error").each(function(){
            if(parseInt($(this).attr("data-index")) == index){
            if(index == 0)
              $(this).text(data.email);
            else if(index == 1)
              $(this).text(data.nick);
            else if(index == 2)
              $(this).text(data.password);
            else if(index == 3)
              $(this).text(data.confirm);
          }
        });
      });
    });
});
</script>
{% endblock %}