{% extends "layout_login.html" %}

{% block login_content %}
    {% from "test_formhelpers.html" import render_login %}
    <form id="login-form-block" method="post" action="#" accept-charset="utf-8">
        <input name="_csrf_token" type=hidden value="{{ csrf_token() }}">
        <dl>
           <dt> {{ render_login(form.password) }}</dt>
            <dt>{{ render_login(form.confirm) }}</dt>
        </dl>
        <div id="login-submit" style="margin-top: 50px">
            <input type="submit" value="重设密码">
        </div>
    </form>
{% endblock %}