<ul style="width:730px;">
<li style="color:#444444;list-style:none;font-size:12px;line-height:20px;width:700px;">尊敬的{{nick}}:</li>
<li style="color:#444444;list-style:none;font-size:12px;line-height:20px;width:700px;">您正在请求重置密码，请点击下面的链接进行重置：</li>
<li style="color:#444444;list-style:none;font-size:12px;line-height:20px;width:700px;">
<a href="{{verify_url | safe}}">{{verify_url | safe}}</a></li>
<li style="color:#444444;list-style:none;font-size:12px;line-height:20px;width:700px;">（如果链接无法点击，请将它复制到浏览器的地址栏中）</li>
<li style="color:#444444;list-style:none;font-size:12px;line-height:20px;width:700px;">曦潮书店</li>
<li style="color:#444444;list-style:none;font-size:12px;line-height:20px;width:700px;font-size:24px;font-weight:bold;">（此为自动发送邮件，无需回复）</li>
</ul>
