{% extends "layout.html" %}

<!--css file used-->
{% block css %}
	<link href="{{ url_for('static', filename='css/special_detail.css') }}" rel='stylesheet' type='text/css'/> 
	
	{% if author_itself %}
	<style type="text/css">
	#special-draft h3{
	margin-top: 36px;
	margin-bottom: 30px;
	color: #d19413;
	font-size: 22px;
}


#special-draft p{
	font-family: 黑体;
	font-size: 18px;
}

#special-draft table{
	padding-top: 20px;
	padding-bottom: 30px;

	float: left;
	/*border: 1px solid #D9AE48;*/
}

#special-draft td{
	padding-right: 15px;
	font-family: 黑体;
	font-size: 15px;
}

#special-draft input{
	margin-top: 6px;
	float: right;
	/*border: 1px solid #D9AE48;*/
}


#special-draft hr{
	color: #d19413;

	clear: both;
}
	</style>
	
	{% endif %}
{% endblock %}

<!--content-->
{% block content %}

<!--当前位置-->
<div class="current-position">
    <p>&nbsp;首页&nbsp;>&nbsp;专栏列表&nbsp;>&nbsp;专栏详情</p>
</div>



<!-- ===================专栏名称及作者====================== -->
<div id="special-info-part">
	<!-- 左侧专栏信息 -->
	<div id="special-info">
		<!-- 专栏名称和介绍 -->
		<div id="special-name">
			<!-- 专栏封面 -->
			<div id="special-cover">
				<img src="{{ special_image }}">
			</div>

			<!-- 专栏介绍 -->
			<div id="special-introduction">
				<h2>{{ special_title }}</h2>
				<!-- 正文如果超过一定范围自动出现滑动条-->
				<div id="special-introduction-content"> {{ special_introduction | safe }}
				</div>
	

		
				<!-- 分享和订阅怎么实现 -->
<!--				<input style="float:right" class="input-button" type="submit" value="分享">
-->
					<div id="special-introduction-share" style="float:right">
					<!--
                		<p id="p_share">分享</p>
                    -->
                        <!-- 新浪微博 -->
                		<a rel="nofollow" href="javascript:void((function(s,d,e){try{}catch(e){}var%20f='http://v.t.sina.com.cn/share/share.php?',u=d.location.href,p=['url=',e(u),'&title=','曦潮书香生态系统 | 专栏 | ','  {{ special_title }}','&appkey=1392530042'].join('');function a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=620,height=450,left=',(s.width-620)/2,',top=',(s.height-450)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})(screen,document,encodeURIComponent));">
                		<img src="/static/images/share_sinaweibo.png"/>
                		</a>

                        <!-- 人人网 -->
                        <a name="xn_share" onclick="shareClick()" type="button_medium" href="javascript:;">
                		<img src="/static/images/share_renren.png"/>
                		</a>

                        <!-- QQ空间 -->
                        <!--
                        <a href="javascript:void(0);" onclick="window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(document.location.href));return false;">
                		<img src="/static/images/share_qzone.png"/>
                		</a>
                		
                		<img src="/static/images/share_rss.png"/>
                		-->
                    </div>
            </div>
	    </div>
	
		<!-- 日程&订阅栏 -->
		<div id="special-memo">
			<img src="{{ url_for('static', filename='images/calendar-ico.png') }}">

			<p>已发表 {{articles_pagination.total}} 篇文章</p>

			<p style="margin-left:170px">{{special_favor}}人关注</p>

			<!-- 分享和订阅怎么实现 -->
			{% if not author_itself %}
                {% if has_collected_special %}
        			<input id="collection_special_cancel" style="float:right" class="input-button" type="submit" value="取消关注">
                {% else %}
        			<input id="collection_special" style="float:right" class="input-button" type="submit" value="关注">
                {% endif %}
            {% else %}
            <input id="write_special_article" style="float:right" class="input-button" type="submit" value="写文章">
            {% endif %}
		</div>
	</div>

	<!-- 右侧专栏作者介绍 -->
	<div id="special-auther">
		<!-- 外围圆 -->
		<img src="{{ url_for('static', filename='images/white-circle-with-border.png') }}">

		<!-- 作者信息 -->
		<div id="special-auther-inner">
			<img id="special-transparent-circle" src="{{ url_for('static', filename='images/transparent-circle.png') }}">

			<!-- 作者头像 -->
			<img id="special-auther-pic" src="{{ special_author_avatar }}">

			<h2> {{ special_author }} </h2>

			<!-- 关注按钮 -->
			{% if not has_collected_author %}
    			<input id = "collection_user" class="special-button" type="submit" value="关注作者">
            {% else %}
                <input id = "collection_user_cancel" class="special-button" type="submit" value="取消关注">
            {% endif %}
			<p>{{ special_author_slogon }}

			</p>
				
		</div>
	</div>
</div>



<!-- ===================专栏文章====================== -->
<div id="special-article-part">
	<!-- 左侧专栏文章信息 -->
	<div id="special-article-info">

		<!-- 专栏标题部分 -->
		<div id="special-title">
			<h3 style="float:left">专栏文章</h3>
			<div style="float:right">
			
            	<label>排序方式：</label>
	            <select id="sort">
                    <option id="sort_by_time" value="time">时 间</option>
                    <option id="sort_by_favor" value="favor">曦潮币</option>
                </select>
<!--
			<input type="submit" value="按发表时间顺序" id = "sort_by_time">

			<input type="submit" value="按收藏人数排序" id = "sort_by_favor">
-->			</div>
		</div>

		<hr/>
		
		<!-- 专栏文章 -->
		<div  id="special-article">
            {%- for entry in articles_pagination.items %}
        		<div>
        			<h3>{{ entry.title }}</h3>
        			<p>{{ entry.abstract }}</p>
        			
        			<table>
        			<tr>
        			<td>{{ entry.time | time_split_2 }}</td>
        			<td>阅读({{ entry.read_num }})</td>
        			<td><font color="#d19413">收藏</font>({{ entry.favor }})</td>
        			<td><font color="#d19413">曦潮币</font>({{ entry.coins }})</td>
        			</tr>
        			</table>
                    
        			<input class="special-button" type="submit" value="查看详情" onclick="location='article/{{ entry.article_id }}' ">
                    {% if author_itself %}
                    <input class="special-button" type="submit" value="删除"
        		    onclick="
        		        $.get('/special_article_remove?id={{ entry.article_id }}',{}, 
        		        function(data){
                           if (data == 'success'){
                               layer.msg('删除成功',1,1,function(){location.reload();});
                           }
                           if (data == 'failed'){
                               layer.msg('对不起！删除失败，请联系管理员',1,3,function(){});
                           }
                        });"
                    >
                    {% endif %}

        			<hr />
                </div>
            
            {%- endfor %}
        

    <div id="special-paging" style="float:right"> 
        <div> 
            {% if articles_pagination.has_prev %}
                <a href="/special?id={{special_id}}&page={{ articles_pagination.prev_num }}&sort={{sort}}">上一页</a> 
            {% endif %} 
        </div> 
        <div> 
            <p>Page {{ articles_pagination.page }} / {{articles_pagination.pages }}</p> 
        </div> 
        <div>
            {% if articles_pagination.has_next %} 
                <a href="/special?id={{special_id}}&page={{ articles_pagination.next_num }}&sort={{sort}}">下一页</a> 
            {% endif %} 
        </div> 
    </div> 

		</div>


        {% if author_itself %}

    		<div id = "special-draft" style="margin-top:100px">
			<h2>草稿列表</h2>
			<br>
			
            {%- for entry in drafts %}
        		<div>
        			<h3>{{ entry.title }}</h3>
        			<p>{{ entry.abstract }}</p>
        			<table>
        			<tr>
        			<td>保存时间：{{ entry.time | time_split_3 }}</td>
        			</tr>
        			</table>

        		    <input class="special-button" type="submit" value="编辑" onclick="location='{{ url_for('special_article_modify', article_id=entry.article_id) }}' ">
        		    <input class="special-button article-remove" type="submit" value="删除"
        		    onclick="
        		        $.get('/special_article_remove?id={{ entry.article_id }}',{}, 
        		        function(data){
                           if (data == 'success'){
                               layer.msg('删除成功',1,1,function(){location.reload();});
                           }
                           if (data == 'failed'){
                               layer.msg('对不起！删除失败，请联系管理员',1,3,function(){});
                           }
                        });"
                    >

        			<hr />
                </div>
            
            {%- endfor %}
			</div>
        {% endif %}



		<!-- 类似专栏 -->
		<div id="special-related">
			<div id="special-separate-block"></div>
			<h3>类似专栏</h3>
			<table>
				<!-- 相关专栏图片 -->
				<tr>
					<td><img src="{{url_for('uploaded_special_image',filename='special_detail_pic_1.png')}}"></td>
					<td><img src="{{url_for('uploaded_special_image',filename='special_detail_pic_1.png')}}"></td>
					<td><img src="{{url_for('uploaded_special_image',filename='special_detail_pic_1.png')}}"></td>
					<td><img src="{{url_for('uploaded_special_image',filename='special_detail_pic_1.png')}}"></td>
				</tr>

				<!-- 专栏名称 -->
				<tr id="special-related-name">
					<td>我的咖啡，你的故事</td>
					<td>我的咖啡，你的故事</td>
					<td>我的咖啡，你的故事</td>
					<td>我的咖啡，你的故事</td>
				</tr>

				<!-- 专栏作者 -->
				<tr id="special-related-auther">
					<td> {{ special_author }} </td>
					<td> {{ special_author }} </td>
					<td> {{ special_author }} </td>
					<td> {{ special_author }} </td>
				</tr>

				<!-- 专栏订阅数 -->
				<tr id="special-related-subscription">
					<td>10000人订阅</td>
					<td>10000人订阅</td>
					<td>10000人订阅</td>
					<td>10000人订阅</td>
				</tr>
			</table>
		</div>
	</div>

	<!-- 右侧其他作品 -->
	<div id="special-other-works">
		<h3>{{special_author}}的所有专栏</h3>

		<ul>
        {% for item in other %}
			<li>
			<a href = "{{url_for('special')}}?id={{item.special_id}}&page=1&sort=time">
			{{ item.name }}
			</a>
			</li>
        {% endfor %}
		</ul>
	</div>
</div>

{% endblock %}


<!--js file used-->
{% block js %}

<!-- 人人网分享Js代码 -->
<script type="text/javascript" src="http://widget.renren.com/js/rrshare.js"></script>
<script type="text/javascript">
	function shareClick() {
    	var link = window.location.href;
		var rrShareParam = {
			resourceUrl : link,	//分享的资源Url
			srcUrl : '',	//分享的资源来源Url,默认为header中的Referer,如果分享失败可以调整此值为resourceUrl试试
			pic : 'http://xichao-o.com{{ special_image }}',		//分享的主题图片Url
			title : '曦潮书香生态系统 | 专栏 | '+'{{ special_title }}',		//分享的标题
			description : ''	//分享的详细描述
		};
		rrShareOnclick(rrShareParam);
	}
</script>



<script src="{{ url_for('static', filename='layer-v1.8.5/layer/layer.min.js') }}"></script>
<script type="text/javascript">

$(document).ready(function(){
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);
    
    var Order = $.getUrlParam('sort');
    if (Order == "time"){
        $("#sort_by_time").attr("selected", "selected");
    } else{
        $("#sort_by_favor").attr("selected", "selected");
    }
});

$("#collection_special").click(function () {
//获得URL中id的函数
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);

    var id = $.getUrlParam('id');

    $.post('/collection_special?id=' + id,
        {
            _csrf_token:"{{ csrf_token() }}"
        },
    function(data){
           if (data == "success"){
            layer.msg("您已成功收藏该专栏",1,1,function(){location.reload();});
           }
           if (data == "already"){
            layer.msg("对不起，您已经收藏过该专栏",1,3,function(){location.reload();});
           }
           if (data == "login"){
            layer.msg("请您先登陆",1,3,function(){
               location.href ="/login";
            });
           }
    });
});


$("#collection_special_cancel").click(function () {
//获得URL中id的函数
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);

    var id = $.getUrlParam('id');

    $.post('/collection_special_cancel?id=' + id, {_csrf_token:"{{ csrf_token() }}"
},
    function(data){
           if (data == "success"){
            layer.msg("您已成功取消收藏该专栏",1,1,function(){location.reload();});
           }
           if (data == "already"){
            layer.msg("对不起，您尚未收藏该专栏",1,3,function(){location.reload();});
           }
           if (data == "login"){
            layer.msg("请您先登陆",1,3,function(){
               location.href ="/login";
            });
           }
    });
});


$("#collection_user").click(function () {
//获得URL中id的函数
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);

    var id = $.getUrlParam('id');
//    alert('http://127.0.0.1:5000/collection_special?id=' + id)

    $.post('/collection_special_author?id=' + id,
    {
        _csrf_token:"{{ csrf_token() }}"
    }, function(data){
           if (data == "success"){
            layer.msg("您已成功关注该用户",1,1,function(){location.reload();});
           }
           if (data == "self"){
            layer.msg("对不起，您不能关注自己",1,3,function(){location.reload();});
           }
           if (data == "already"){
            layer.msg("对不起，您已经关注了该用户",1,3,function(){location.reload();});
           }
           if (data == "login"){
            layer.msg("请您先登陆",1,3,function(){
               location.href ="/login";
            });
           }
       });
});

$("#collection_user_cancel").click(function () {
//获得URL中id的函数
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);

    var id = $.getUrlParam('id');
//    alert('http://127.0.0.1:5000/collection_special?id=' + id)

    $.post('/collection_special_author_cancel?id=' + id,
    {
        _csrf_token:"{{ csrf_token() }}"
    }, function(data){
           if (data == "success"){
            layer.msg("您已成功取消关注该用户",1,1,function(){location.reload();});
           }
           if (data == "self"){
            layer.msg("非法操作",1,3,function(){location.reload();});
           }
           if (data == "already"){
            layer.msg("对不起，您尚未关注该用户",1,3,function(){location.reload();});
           }
           if (data == "login"){
            layer.msg("请您先登陆",1,3,function(){
               location.href ="/login";
            });
           }
       });
});

$("#sort").change(function(){
    location.href = "{{sort_change_url | safe}}";
});

$("#write_special_article").click(function(){
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);

    var id = $.getUrlParam('id');
    location.href = "/special_article_upload?id="+id;
});


</script>
{% endblock %}
