{% extends "layout.html" %}

{% block css %}
<link href="{{ url_for('static', filename='css/special_all.css') }}" rel='stylesheet' type='text/css'/> 
{% endblock %}

<!--content-->
{% block content %}
 <!--
    <div id="special-search">
    <p>搜索专栏</p>
    <form action="/special_search" method="get">
        <input type="text" name="search" />
    </form>
    </div>
-->



    <div id="sort_select">
        <ul id="display-type-select" class="nav nav-pills">
  <li role="presentation" id="change-display-list" class="active"><a>显示专栏列表</a></li>
  <li role="presentation" id="change-display-all" class="change-display-type"><a>显示所有专栏</a></li>
</ul>

            <select id="sort">
        <option id="sort_by_time" value="time">按照时间排序</option>
        <option id="sort_by_favor" value="favor">按照热度排序</option>

    </select>
        
    </div>

<div id="seperator"></div>

<div id="display-list">
    {% set special_num = 1 %}
    {% for special in specials_pagination_list.items %}
    {% set special_num = special_num + 1 %}
    <!-- 专栏 -->
    
	<div class="special-part1">
		<!-- 专栏标题图片 -->
        
        {% if special_num%2 == 1 %}
        <div class="long-background special_background">
        </div>
        {% endif %}
        
        
		<div class="special-part1-left">
			
            <img class="special-left-top" src="{{ url_for('static', filename='images/special-left-top-%d.png'%(special_num-1)) }}">
            
<div id="special-part1-img2" style="background-image: url({{ url_for('static', filename='images/special-all-left-border.png') }});background-repeat:no-repeat;">
            <a href="{{url_for('special')}}?id={{ special.special_id }}&page=1&sort=time">
                
			<img id="special-part1-img1" src="{{ special.picture | safe }}"/><!--
            <img  src="{{ url_for('static', filename='images/special-all-left-border.png') }}"/>-->
			</a>
</div>			
		</div>

		<!-- 内容 -->
		<div class="special-part1-right">
			<div id="special-part1-content">
			<a href="{{url_for('special')}}?id={{ special.special_id }}&page=1&sort=time">
			<h2>
			        {{ special.name }}
			</h2>
			</a>
			<img src="{{ url_for('static', filename='images/special-right-line.png')}}">
            <div id="author-coin">
			<h4 style="margin:0px;">
			    &nbsp;&nbsp;{{ author(special.user_id).nick }}
			    <img id="coin-image" src="{{ url_for('static', filename='images/coins.png') }}" style="height: 20px; width: 20px;">
                {{ special.coin }}
			</h4>
			</div>
			
            <p>
                    {{ special.introduction | safe }}
            </p>
            <br>    
            <br>
            
            <div id="latest-article" style="
            background-image: url({{ url_for('static', filename='images/special_list_border.png') }});">
            <table>
                <thead></thead>
                <tfoot></tfoot>
                <tbody>
                {% for article in articles(special.special_id, 1, "time", 5).items %}
                  <tr>
                    <td width="480" height="35">    <a href = "article/{{ article.article_id }}" > {{ article.title }} </a> </td>
                    <td width="100" style="color:grey;">
                    <img id="coin-image" src="{{ url_for('static', filename='images/coins.png') }}">
                    {{ article.coins }}
                    </td>
                      <td  style="color:grey;">{{ article.time | time_split_2 }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            
            
			</div>
            
		</div>
	
	</div>


    {% endfor %}

    <div style="clear:both"></div>
    <div id="special-paging" style="margin-top: 30px;"> 
        <nav>
            <ul class="pager">
                
                <li>
                <a href="/special_all?view={{view}}&sort={{sort}}&page=1">
                       首页</a></li>
                <li {% if not specials_pagination_list.has_prev %}class="disabled"{%endif%}>
                <a {% if specials_pagination_list.has_prev %} href="/special_all?view={{view}}&sort={{sort}}&page={{ specials_pagination_list.prev_num }}"{%endif%}>
                       上一页</a></li>
                
                <li>{{ specials_pagination_list.page }} / {{specials_pagination_list.pages }}</li>
                
                <li {% if not specials_pagination_list.has_next %}class="disabled"{%endif%}><a {% if specials_pagination_list.has_next %}href="/special_all?view={{view}}&sort={{sort}}&page={{ specials_pagination_list.next_num }}"{%endif%}>下一页</a>                     </li>
                <li><a href="/special_all?view={{view}}&sort={{sort}}&page={{specials_pagination_list.pages}}">末页</a>                     </li>
                
            </ul>
        </nav>
    </div>
    

</div>


{% endblock %}

<!--js file used-->
{% block js %}
<script src="{{ url_for('static', filename='layer-v1.8.5/layer/layer.min.js') }}"></script>
<script type="text/javascript">

$(document).ready(function(){
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);
    
    var Order = $.getUrlParam('sort');
    if (Order == "time"){
        $("#sort_by_time").attr("selected", "selected");
    } else{
        $("#sort_by_favor").attr("selected", "selected");
    }
});


$("#sort").change(function(){
    location.href = "{{sort_change_url | safe}}";
});

    
$(".change-display-type").click(function(){
    location.href = "{{view_change_url | safe}}";
    /*
    var wasFocus = $(this).attr("class");
    var thisID = $(this).attr("id");
    var otherID;
    if (thisID == "change-display-list")
        otherID = "#change-display-all";
    else
        otherID = "#change-display-list";

    if (wasFocus == "change-display-type"){
        $(this).attr("class", "change-display-type active");
        $(otherID).attr("class", "change-display-type");
        
        if (otherID == "#change-display-list"){
            $("#display-list").css("display", "none");
            $("#display-all").css("display", "inline");
        } else{
            $("#display-list").css("display", "inline");
            $("#display-all").css("display", "none");
        }
    }*/
});
</script>
{% endblock %}
