{% extends "layout.html" %}

<!--css file used-->
{% block css %}
	<link href="{{ url_for('static', filename='css/special_detail.css') }}" rel='stylesheet' type='text/css'/> 
{% endblock %}

<!--content-->
{% block content %}

<!--当前位置-->
<div class="current-position">
    <p>&nbsp;首页&nbsp;>&nbsp;专栏列表&nbsp;>&nbsp;专栏详情</p>
</div>



<!-- ===================专栏名称及作者====================== -->
<div id="special-info-part">
	<!-- 左侧专栏信息 -->
	<div id="special-info">
		<!-- 专栏名称和介绍 -->
		<div id="special-name">
			<!-- 专栏封面 -->
			<div id="special-cover">
				<img src="{{ special_image }}">
			</div>

			<!-- 专栏介绍 -->
			<div id="special-introduction">
				<h2>{{ special_title }}</h2>
				<!-- 正文如果超过一定范围自动出现滑动条-->
				<p> {{ special_introduction }}
				</p>
	
				<table>
 				<tr>
    				<td>作者</td>
    				<td> {{ special_author }} </td>
  				</tr>
  				<tr>
    				<td>类别</td>
    				<td>饮食/专栏</td>
  				</tr>
  				<tr>
    				<td>期数</td>
    				<td>共11期，正在更新</td>
  				</tr>
				</table>
		
				<!-- 分享和订阅怎么实现 -->
				<input style="float:right" class="input-button" type="submit" value="分享">
			</div>
		</div>
	
		<!-- 日程&订阅栏 -->
		<div id="special-memo">
			<img src="{{ url_for('static', filename='images/calendar-ico.png') }}">

			<p>每周五更新</p>
			<p>已发表4/11期</p>

			<p style="margin-left:170px">{{special_favor}}人收藏</p>

			<!-- 分享和订阅怎么实现 -->
			<input id="collection_special" style="float:right" class="input-button" type="submit" value="收藏">
		</div>
	</div>

	<!-- 右侧专栏作者介绍 -->
	<div id="special-auther">
		<!-- 外围圆 -->
		<img src="{{ url_for('static', filename='images/white-circle-with-border.png') }}">

		<!-- 作者信息 -->
		<div id="special-auther-inner">
			<img id="special-transparent-circle" src="{{ url_for('static', filename='images/transparent-circle.png') }}">

			<!-- 作者头像 -->
			<img id="special-auther-pic" src="{{ special_author_avatar }}">

			<h2> {{ special_author }} </h2>

			<!-- 关注按钮 -->
			<input id = "collection_user" class="special-button" type="submit" value="关注作者">

			<p>{{ special_author_slogon }}

			</p>
				
		</div>
	</div>
</div>



<!-- ===================专栏文章====================== -->
<div id="special-article-part">
	<!-- 左侧专栏文章信息 -->
	<div id="special-article-info">

		<!-- 专栏标题部分 -->
		<div id="special-title">
			<h3 style="float:left">专栏文章</h3>
			<div style="float:right">
			
            	<label>排序方式：</label>
	            <select id="sort">
                    <option id="sort_by_time" value="time" {%if order == 'order_time'%} selected="selected"{% endif %}>时 间</option>
                    <option id="sort_by_favor" value="heat" {%if order != 'order_time'%} selected="selected"{% endif %}>收藏人数</option>
                </select>
<!--
			<input type="submit" value="按发表时间顺序" id = "sort_by_time">

			<input type="submit" value="按收藏人数排序" id = "sort_by_favor">
-->			</div>
		</div>

		<hr/>
		
		<!-- 专栏文章 -->
		<div  id="special-article">
            {%- for entry in articles_pagination.items %}
        		<div>
        			<h3>{{ entry.title }}</h3>
        			<p>{{ entry.abstract }}</p>
        			<table>
        			<tr>
        			<td>{{ entry.time }}</td>
        			<td>收藏({{ entry.favor }})</td>
        			<td>受赏({{ entry.coins }})</td>
        			</tr>
        			</table>

        			<input class="special-button" type="submit" value="查看详情" onclick="location='article/{{ entry.article_id }}' ">
        			<hr />
                </div>
            
            {%- endfor %}

    <div id="special-paging" style="float:right"> 
        <div> 
            {% if articles_pagination.has_prev %}
                <a href="/special?id={{special_id}}&page={{ articles_pagination.prev_num }}&sort={{sort}}">上一页</a> 
            {% endif %} 
        </div> 
        <div> 
            <p>Page {{ articles_pagination.page }} / {{articles_pagination.pages }}</p> 
        </div> 
        <div>
            {% if articles_pagination.has_next %} 
                <a href="/special?id={{special_id}}&page={{ articles_pagination.next_num }}&sort={{sort}}">下一页</a> 
            {% endif %} 
        </div> 
    </div> 

		</div>
		<!-- 类似专栏 -->
		<div id="special-related">
			<div id="special-separate-block"></div>
			<h3>类似专栏</h3>
			<table>
				<!-- 相关专栏图片 -->
				<tr>
					<td><img src="{{url_for('uploaded_special_image',filename='special_detail_pic_1.png')}}"></td>
					<td><img src="{{url_for('uploaded_special_image',filename='special_detail_pic_1.png')}}"></td>
					<td><img src="{{url_for('uploaded_special_image',filename='special_detail_pic_1.png')}}"></td>
					<td><img src="{{url_for('uploaded_special_image',filename='special_detail_pic_1.png')}}"></td>
				</tr>

				<!-- 专栏名称 -->
				<tr id="special-related-name">
					<td>我的咖啡，你的故事</td>
					<td>我的咖啡，你的故事</td>
					<td>我的咖啡，你的故事</td>
					<td>我的咖啡，你的故事</td>
				</tr>

				<!-- 专栏作者 -->
				<tr id="special-related-auther">
					<td> {{ special_author }} </td>
					<td> {{ special_author }} </td>
					<td> {{ special_author }} </td>
					<td> {{ special_author }} </td>
				</tr>

				<!-- 专栏订阅数 -->
				<tr id="special-related-subscription">
					<td>10000人订阅</td>
					<td>10000人订阅</td>
					<td>10000人订阅</td>
					<td>10000人订阅</td>
				</tr>
			</table>
		</div>
	</div>

	<!-- 右侧其他作品 -->
	<div id="special-other-works">
		<h3>所有作品</h3>

		<ul>
        {%- for item in other %}
			<li>{{ item.name }}</li>
        {%- endfor %}
		</ul>
	</div>
</div>

{% endblock %}


<!--js file used-->
{% block js %}
<script src="{{ url_for('static', filename='layer-v1.8.5/layer/layer.min.js') }}"></script>
<script type="text/javascript">

$(document).ready(function(){
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);
    
    var Order = $.getUrlParam('sort');
    if (Order == "time"){
        $("#sort_by_time").attr("selected", "selected");
    } else{
        $("#sort_by_favor").attr("selected", "selected");
    }
});

$("#collection_special").click(function () {
//获得URL中id的函数
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);

    var id = $.getUrlParam('id');

    $.get('/collection_special?id=' + id, {},
    function(data){
           if (data == "success"){
            layer.msg("您已成功收藏该专栏",1,1,function(){});
           }
           if (data == "already"){
            layer.msg("对不起，您已经收藏过该专栏",1,3,function(){});
           }
           if (data == "login"){
            layer.msg("请您先登陆",1,3,function(){
               location.href ="/login";
            });
           }
    });
});

$("#collection_user").click(function () {
//获得URL中id的函数
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);

    var id = $.getUrlParam('id');
//    alert('http://127.0.0.1:5000/collection_special?id=' + id)

    $.get('/collection_special_author?id=' + id,
    {
    }, function(data){
           if (data == "success"){
            layer.msg("您已成功关注该用户",1,1,function(){});
           }
           if (data == "self"){
            layer.msg("对不起，您不能关注自己",1,3,function(){});
           }
           if (data == "already"){
            layer.msg("对不起，您已经关注了该用户",1,3,function(){});
           }
           if (data == "login"){
            layer.msg("请您先登陆",1,3,function(){
               location.href ="/login";
            });
           }
       });
});


$("#sort").change(function(){
    location.href = "{{sort_change_url | safe}}";
});


</script>
{% endblock %}
