{% extends "layout_article.html" %}

<!--content-->
{% block square_content %}
<!-- 热门文章 -->
<div class="square-headline">
	<h2>热门文章</h2>
	<div class="square-hot">
		<div style="height:466px">
			<div style="margin-top:13px"></div>
			<table id="square-hot-article">
			<!-- 热门文章2~10 -->
			{% for (i, article) in hot_ground_article_list[1:]|zip %}
				<tr>
					<td class="square-col-1"><a href="{{url_for('article', article_id = article[0].article_id)}}">{{i}}、{{article[0].title}}</a></td>
					<td class="square-col-2"><a href="{{url_for('view_home_page', nick = article[1])}}">{{article[1]}}</a></td>
					<td class="square-col-3"><img src="{{ url_for('static', filename='images/coins.png') }}"></td>
					<td class="square-col-final">{{article[0].coins}}</td>
				</tr>
			{% endfor %}
			</table>
		</div>
		<a class="square-more" href="{{url_for('article', article_id = hot_ground_article_list[0][0].article_id)}}">MORE&gt;</a>
	</div>
</div>

<!-- 今日推荐 -->
<div class="square-headline square-recommend " style="margin-bottom: 105px;">
	<h2>今日推荐</h2>
	<div id="recommend-content" class="square-hot">
		<div id="recommend-img">
			<img src="{{hot_ground_article_list[0][0].picture}}"/>
		</div>	

		<div id="recomment-box">
			<div>
				<h3><a class="hot-title" href="{{url_for('article', article_id = hot_ground_article_list[0][0].article_id)}}">{{hot_ground_article_list[0][0].title}}</a></h3>
			</div>
			<div id="recommend-title">
				<span> {{hot_ground_article_list[0][0].time|time_split_2}} </span>
				<span> 阅读({{hot_ground_article_list[0][0].read_num}})</span>
				<span> <font color="#D9AE48">收藏</font>({{hot_ground_article_list[0][0].favor}})</span>
				<span> <font color="#D9AE48">评论</font>({{hot_ground_article_list[0][0].comment_num}})</span>
				<span> <font color="#D9AE48">曦潮币</font>({{hot_ground_article_list[0][0].coins}})</span>
			</div>
			<div id="pre-read">
				{{hot_ground_article_list[0][0].abstract}}
			</div>
		</div>
		
	</div>
</div>

{% endblock %}
