{% extends "layout.html" %}

<!--css file used-->
{% block css %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel='stylesheet' type='text/css'/> 
{% endblock %}

<!--content-->
{% block content %}
<!--
	<h2>
			热门专栏
	</h2>
-->
	<div id="index-up">

	{% for i in range(4) %}
		<!-- data-index值从"0"到"3" -->
		<div id="index-up-{{i}}" data-index="{{i}}" style="background-image: url('{{slideUrl[i]}}');
		z-index: 0;">
		<div class="index-up-middle-layer" style="
background-image: url('{{url_for('static', filename='images/index-up-middle-layer.png')}}');
		z-index: -1;">

		</div>
			<div class="index-up-content" style="z-index: 1;">
                <a href="{{url_for('special')}}?id={{special_list[i].special_id}}&page=1&sort=time">
				<div class="index-up-content-left">
					
					<h3>

						{{ special_list[i].name }}
					</h3>
                    
                    <h4>
                    	{{get_author(special_list[i].user_id)}}
                    </h4>
				</div>
				    </a>

				<div class="index-up-content-right">
					<div>
						<div class="index-special-abstract">
							{{ special_list[i].introduction }}
						</div>
						<table class="index-special-recommend">
						<ul>
                            {% for article in articles(special_list[i].special_id, 1, "time", 5).items %}
                                <tr>
                                    <td style="
                                    width: 490px;
                                    height: 35px;
                                    max-width: 490px;
                                    overflow: hidden;
                                    ">    <a href = "{{url_for('article', article_id = article.article_id)}}" > <li>{{ article.title }}</li> </a> </td>
                                    <td width="90">
                                    <img style="width: 16px;height: 16px;" src="{{ url_for('static', filename='images/coins.png') }}">
                                    {{ article.coins }}
                                    </td>
                                     <td width="150">{{ article.time | time_split_2 }}</td>

                                </tr>
                            {% endfor %}
						</ul>
						</table>
	<!--
						<a href="{{url_for('special')}}?id={{special_list[i].special_id}}&page=1&sort=time" style="float:right;font-family: 微软雅黑; margin-top: 20px;">&gt;&gt;&gt;&gt;&nbsp;View More</a>-->
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
<!--
	<div>
		<a href="{{url_for('special_all')}}?sort=time&page=1" class="index-view-more" style="margin-top: 30px;">&gt;&gt;&gt;&gt;&nbsp;View More</a>
	</div>
-->
	<div id="index-middle">
		<h2 style="margin-bottom:0px">
			热门文章Top10
		</h2>
		<img src="{{ url_for('static', filename='images/border-long.png')}}" >
		

        {% set count = 0 %}
        {% for article in hot_articles %}
        {% set count = count + 1 %}
        <a class="thumbnail index-hot-entry"href="{{ url_for('article', article_id=article.article_id)}}">
        <div>
            <div class="index-hot-entry-left" style="
background-image: url('{{article.picture | safe}}');
background-size: 100%, 100%">
                <div class="index-hot-entry-left-num">
                    {{count}}
                </div>
                <div class="index-hot-entry-left-title">
	                <p>
	                {% if article.groups == '1' %}
	                广场
	                	{% if article.category == '1' %}
	                	书评
	                	{% endif %}
	                	{% if article.category == '2' %}
	                	影评
	                	{% endif %}
	                	{% if article.category == '3' %}
	                	杂文
	                	{% endif %}
	                {% endif %}
	                {% if article.groups == '3' %}
	                专栏《{{article.title}}》
	                {% endif %}
	                <!--《{{article.title}}》-->
                    </p>
                </div>
            </div>
            
            <div class="index-hot-entry-right">
                <div class="index-hot-entry-right-title">{{article.title}}</div>
                <table>
        			<tr>
                    <td>文|{{get_author(article.user_id)}}&nbsp;&nbsp;</td>
        			<td>{{ article.time | time_split_2 }}&nbsp;&nbsp;</td>
        			<td>评论({{ article.comment_num }})&nbsp;&nbsp;</td>
        			<td><font color="#d19413">收藏&nbsp;</font>({{ article.favor }})&nbsp;&nbsp;</td>
        			<td><img id="coin-image" src="{{ url_for('static', filename='images/coins.png') }}" style="height: 20px; width: 20px;">&nbsp;{{ article.coins }}</td>
        			</tr>
        			</table>
                <div class="index-hot-entry-right-intro">
                    <p>{{article.abstract}}</p>
                </div>
            </div>
        </div>
        </a>
        {% endfor %}
	</div>

    <div id="index-right">
        <div class="index-right-activity">
        <a href="{{url_for('activity', activity_id = most_hot_activity.activity_id)}}">
        <h2>
			热门活动
		</h2>
            <img src="{{ url_for('static', filename='images/border-short.png')}}">
		<div class="index-hot-activity">
            <div class="index-hot-activity-img" >
            	<img src="{{most_hot_activity.picture}}">
            	<div id="hot-activity-intro">
            		<p>活动介绍：{{most_hot_activity.abstract}}</p>

            		<h3>活动时间：{{most_hot_activity.activity_time|time_split_3}}</h3>
            		<h3>活动地点：{{most_hot_activity.place}}</h3>
            	</div>
            </div>
         </a>
            <h3>
                {{most_hot_activity.name}}
            </h3>
        </div>

        </div>
        
        <div id="index-right-square">
	        <img src="{{ url_for('static', filename='images/border-short.png')}}">
            <h2>
			最新动态
		  	</h2>

			{% if logged_in %}
		  	<div id="user-focus-select-div">
<ul id="user-focus-select" class="nav nav-pills">
  <li role="presentation" id="change-focus" class="active"><a>我的关注</a></li>
  <li role="presentation" id="change-hot"><a>最新文章</a></li>
</ul>
			</div>
			{% endif %}

			<div style="clear:both"></div>
		  	<div id="user-focus">
		  	{% if logged_in and user_focus==[] %}
		  	<p style="margin-top:50px">您还没有关注任何专栏或用户哦，快去专栏广场转转吧～</p>
		  	{% endif %}
            {% for article in user_focus %}
            <a class="thumbnail" href="{{ url_for('article', article_id=article.article_id)}}">
            <div class="index-user-focus">
            <!--
            	<img class="index-user-focus-article-img" src="{{article.picture}}">
            -->

            	<h3>
            	{% if article.groups == '1' %}
            		{{get_author(article.user_id)}}
            	{% endif %}
            	{% if article.groups == '3' %}
            		{{get_special_information(article.special_id).name}}
            	{% endif %}
            	<span style="color: black">更新：</span>
            	</h3>
                <h4>
                {{article.title}}
                </h4>
                
                <table>
                	<tr>
                	<td width="140">
                    {{article.time | time_split_3}}
                    </td>
                    <td style="color:#D9AE48">评论</td>
                    <td width="40">({{article.comment_num}})</td>
                    <td>
                    <img style="height:16px;width:16px;margin-top:-5px" src="{{ url_for('static', filename='images/coins.png') }}">
                    {{article.coins}}
                    </td>
                    </tr>
                </table>
                
                <p>
                {{article.abstract}}
            	</p>
            	<!--
            	<img src="{{ url_for('static', filename='images/special-right-line.png')}}">
            	-->
            </div>
            </a>
            {% endfor %}
            </div>
                
            <div id="latest_articles" style="display:none">
            {% for article in latest_articles %}
            <a class="thumbnail" href="{{ url_for('article', article_id=article.article_id)}}">
            <div class="index-user-focus">
            <!--
            	<img class="index-user-focus-article-img" src="{{article.picture}}">-->

            	<h3>
            	{% if article.groups == '1' %}
            		{{get_author(article.user_id)}}
            	{% endif %}
            	{% if article.groups == '3' %}
            		{{get_special_information(article.special_id).name}}
            	{% endif %}
            	<span style="color: black">更新：</span>
            	</h3>
                <h4>
                {{article.title}}
                </h4>
                
                <table>
                	<tr>
                	<td width="140">
                    {{article.time | time_split_3}}
                    </td>
                    <td style="color:#D9AE48">评论</td>
                    <td width="40">({{article.comment_num}})</td>
                    <td>
                    <img style="height:16px;width:16px;margin-top:-5px" src="{{ url_for('static', filename='images/coins.png') }}">
                    {{article.coins}}
                    </td>
                    </tr>
                </table>
                
                <p>
                {{article.abstract}}
            	</p>
            	<!--
            	<img src="{{ url_for('static', filename='images/special-right-line.png')}}">
            	-->
            </div>
            </a>
            {% endfor %}
            </div>
        </div>
    </div>
<div style="clear:both"></div>

{% endblock %}


<!--js file used-->
{% block js %}
<script src="{{ url_for('static', filename='layer-v1.8.5/layer/layer.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function()
	{
		{% if not logged_in %}
			$("#latest_articles").show();
			$("#user-focus").css("margin-top", "0px");
			$("#latest_articles").css("margin-top", "20px");
		{% endif %}

		$("#hot-activity-intro").hide();
	
			//未验证邮箱弹窗
    {% if not current_user.is_anonymous() %}
		if({{current_user.state}} == 0){
			var url = "{{ url_for('verify_remind') }}";
			$.layer({
				type: 2,
				title: ['请验证邮箱'],
				shade: [0.65, '#000'],
				shadeClose: true,
				closeBtn: false,
				border: [2, 1, '#D9AE48'],
				area: ['350px', '200px'],
				iframe: {src: url}
			});
		};
    {% endif %}	
		
		// 主页上面的四副图片
		var gap = 30; //图片间距，折叠后的边长
		var picNum = 4; //不可变
		var slideTime = 500; //毫秒，越大滑动时间越长
		var MouseIn = false;

		$('#index-up > div').each(function()
		{
			var offset = parseInt($(this).attr("data-index"))*290 + "px";
			$(this).css("left", offset);
		});
     
     
       // var autoTimer;
        var autoIndex=0;

		var onMouseIn = function()
		{
		    MouseIn = true;
		    //clearInterval(autoTimer);

			var index = parseInt($(this).attr("data-index")); 
			$("#index-up > div").each(function()
			{
				$(this).stop(true, false); //停止之前效果(参数二：是否到达最后结果)
				var curIndex = parseInt($(this).attr("data-index"));
				var leftOrIn = gap * curIndex;
				var right = 1160 - (picNum - curIndex) * gap;

				//alert("leftOrIn");
				if(curIndex <= index)
					$(this).animate({left:leftOrIn+"px"}, slideTime);
				else
					$(this).animate({left:right+"px"}, slideTime);
			});
		};

        
		var autoOnMouseIn = function()
		{
		    if (!MouseIn){
		    index = autoIndex;
		    autoIndex = autoIndex + 1;
		    
		    if (autoIndex == 4) autoIndex = 0;
			$("#index-up > div").each(function()
			{
				$(this).stop(true, false); //停止之前效果(参数二：是否到达最后结果)
				var curIndex = parseInt($(this).attr("data-index"));
				var leftOrIn = gap * curIndex;
				var right = 1087 - (picNum - curIndex) * gap;

				//alert("leftOrIn");
				if(curIndex <= index)
					$(this).animate({left:leftOrIn+"px"}, slideTime);
				else
					$(this).animate({left:right+"px"}, slideTime);
			});}
		};
        
//        autoOnMouseIn();
//        autoTimer = setInterval(autoOnMouseIn, 2500);


		var onMouseOut = function()
		{
            MouseIn = false;
            autoIndex = parseInt($(this).attr("data-index"));
			$("#index-up > div").each(function()
			{
				$(this).stop(true, false);
				var curIndex = parseInt($(this).attr("data-index"));
				var left = 290*curIndex;
				$(this).animate({left:left+"px"}, slideTime);

			});
            //autoOnMouseIn();
//            autoTimer = setInterval(autoOnMouseIn, 2500);
		};

        
		$("#index-up > div").hover(onMouseIn, onMouseOut);

		var activity_intro_in = function(){
			$("#hot-activity-intro").fadeIn();
		};
		var activity_intro_out = function(){
			$("#hot-activity-intro").fadeOut();
		};
        $(".index-hot-activity-img").hover(activity_intro_in, activity_intro_out);
	});

	$("#change-hot").click(function(){
		$("#change-focus").attr("class", "disactive");
		$("#change-hot").attr("class", "active");
		$("#user-focus").hide();
		$("#latest_articles").show()
	});

	$("#change-focus").click(function(){
		$("#change-focus").attr("class", "active");
		$("#change-hot").attr("class", "disactive");
		$("#user-focus").show();
		$("#latest_articles").hide()
	});
</script>

{% endblock %}
