{% extends "layout.html" %}

<!--css file used-->
{% block css %}
<!--e.g. <link href="{{ url_for('static', filename='css/register.css') }}" rel='stylesheet' type='text/css'/> -->
	<link rel="stylesheet" type="text/css" href="/static/css/article.css" />
{% endblock %}

<!--content-->
{% block content %}
	<p id="p_title_1">&nbsp;首页&nbsp;>&nbsp;文章&nbsp;>书评&nbsp;>&nbsp;</p>
	<p id="p_title_2">文章详情</p>
	<div id="article_title">
		<p id="p_article_title">{{article.title}}</p>
	</div>
	<div id="article_content">
		<p id="p_article_author_1">作者</p>
		<p id="p_article_author_2">{{author}}</p>
		<p id="p_article_time_1">发表时间</p>
		<p id="p_article_time_2">{{article.time}}</p>
		<p id="p_article_content">
			{{article.content}}
		</p>
	</div>
	<div id="share">
		<p id="p_share">分享</p>
		<img src="/static/images/share_sinaweibo.png"/>
		<img src="/static/images/share_qzone.png"/>
		<img src="/static/images/share_renren.png"/>
		<img src="/static/images/share_rss.png"/>
	</div>
	<div id="read">
		<p id="p_read">阅读</p>
		<p id="p_read_content">(xxx)</p>
		<p id="p_review">评论</p>
		<p id="p_review_content">({{comment_num}})</p>
		<p id="p_collection">收藏</p>
		<p id="p_collection_content">({{article.favor}})</p>
	</div>
	<hr>
	<div id="book_info">
		<div id="pic_book">
			<img style="width:225px;height:205px;" src="http://127.0.0.1:5000/upload/article/article_title_image/test.jpg" />
		</div>
		<div id="p_book_info">
			<p id="name">书名</p>
			<p id="author">作者</p>
			<p id="publish">出版社</p>
			<p id="date">出版年份</p>
			<p id="page">页数</p>
			<p id="price">定价</p>
			<p id="ISBN">ＩＳＢＮ</p>
		</div>
		<div id="p_book_info_content">
			<p id="name_content">{{book.title}}</p>
			<p id="author_content">{{book.author}}</p>
			<p id="publish_content">{{book.press}}</p>
			<p id="date_content">XXX</p>
			<p id="page_content">{{book.page_num}}</p>
			<p id="price_content">{{book.price}}</p>
			<p id="ISBN_content">{{book.ISBN}}</p>
		</div>
	</div>
	<hr>
	<div id="publish_review">
		<p id="p_publish_review">发表评论 :</p>
		<input id="input_publish_review" type="text">
	</div>
	<hr>
	<div id="list_review">
		<p id="p_list_review">评论列表</p>
	</div>
{% endblock %}


<!--js file used-->
{% block js %}

{% endblock %}