{% macro render_register(field, data_index) %}
  <div class="register-form-field">
    <table class="register-table">
      <tr>
        <td class="register-label">{{ field.label }}</td>
        <td class="register-form-value" data-index="{{ data_index }}">{{ field(**kwargs)|safe }}</td>
      </tr>
    </table>
    <div class="error-tip register-error" data-index="{{ data_index }}">
      {{ field.errors[0] }}
    </div>
  </div>
{% endmacro %}

{% macro render_login(field) %}
<tr>
    <td>
        <label>{{field.label}}</label>
    </td>
    <td>
        {% if field.errors[0] %}
            <div class="error-tip login-error-empty">
        {{ field.errors[0] }}
            </div>
        {% endif %}
        {{ field(**kwargs)|safe }}
    </td>
</tr>
{% endmacro %}

{% macro render_login_autologin(field) %}
<div id="login-autologin">
    {{ field(**kwargs)|safe }}
    {{ field.label }}
    <a style="float: right" href="{{url_for('forgetPassword')}}">忘记密码</a>
</div>
    <!--<a style="float: right" class="login-yellow" href="{{url_for('forgetPassword')}}">忘记密码</a>-->
{% endmacro %}
