{% macro render_register(field, data_index) %}
  <div class="register-form-field">
  <table>
    <tr>
      <td class="register-label">{{ field.label }}</td>
      <td class="register-form-value" data-index="{{ data_index }}">{{ field(**kwargs)|safe }}</td>
      <td class="register-warning" data-index="{{ data_index }}">
        <!--
        {% for error in field.errors %}
          <li>{{ error }} </li>
        {% endfor %}-->
        {{ field.errors[0] }}
      </td>
    </tr>
  </table>
  </div>
{% endmacro %}

{% macro render_login(field) %}
  <table>
    <tr>
      <!-- <td style="width:200px">{{ field.label }}</td> -->
      <td class="login-userinfo">{{ field(**kwargs)|safe }}</td>
      <td>
        {% if field.errors[0] %}
            <div class="login-error-tip login-error-1">
                {{ field.errors[0] }}
            </div>
        {% endif %}
        <!-- {{ field.errors[0] }} -->
      </td>
    </tr>
  </table>
{% endmacro %}

{% macro render_login_autologin(field) %}
  <div id="login-autologin">
    {{ field(**kwargs)|safe }}
    {{ field.label }}
    <a href="#">忘记密码</a>
  </div>
{% endmacro %}