{% macro render_register(field, data_index) %}
  <div class="register-form-field">
    <table class="register-table">
      <tr>
        <td class="register-label">{{ field.label }}</td>
        <td class="register-form-value" data-index="{{ data_index }}">{{ field(**kwargs)|safe }}</td>
      </tr>
    </table>
    <div class="error-tip register-error" data-index="{{ data_index }}">
      {{ field.errors[0] }}
    </div>
  </div>
{% endmacro %}

{% macro render_login(field) %}
  <table>
    <tr>
      <td class="login-userinfo">{{ field(**kwargs)|safe }}</td>
    </tr>
  </table>
  {% if field.errors[0] %}
    <div class="error-tip login-error-empty">
      {{ field.errors[0] }}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_login_autologin(field) %}
  <div id="login-autologin">
    {{ field(**kwargs)|safe }}
    {{ field.label }}
    <a href="{{url_for('forgetPassword')}}">忘记密码</a>
  </div>
{% endmacro %}
