{% extends "layout.html" %}

<!--css file used-->
{% block css %}
<!--e.g. <link href="{{ url_for('static', filename='css/register.css') }}" rel='stylesheet' type='text/css'/> -->
	<link rel="stylesheet" type="text/css" href="/static/css/article.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/button.css" />
{% endblock %}

<!--content-->
{% block content %}
	<div id="p_title">
		<p id="p_title_1">&nbsp;首页&nbsp;>&nbsp;文章&nbsp;>&nbsp;书评&nbsp;></p>
		<p id="p_title_2">&nbsp;文章详情</p>
	</div>
	
	<div id="article">
	<input type="hidden" id="article_id" value="{{article.article_id}}">

	<div id="article_title">
		<p id="p_article_title">{{article.title}}</p>
	</div>

	<div id="article_content">
		<p id="p_read">阅读</p>
		<p id="p_read_content">({{article.read_num}})</p>
		<p id="p_num_xichao">曦潮币  (</p>
		<p id="p_num_xichao_content">{{article.coins}}</p>
		<p id="p_num_xichao_bracket">)</p>
		<p id="p_review">评论 ({{article.comment_num}})</p>
		<p id="p_collection">收藏 ({{article.favor}})</p>
		<p id="p_article_author_1">作者</p>
		<p id="p_article_author_2"><a href="{{url_for('view_home_page', nick = author.nick)}}">{{author.nick}}</a></p>
		<p id="p_article_time">发表时间&nbsp;&nbsp;{{article.time}}</p>
	</div>
		
	<div id="article_content_html"></br>{{article.content|safe}}</div>
	{%if current_user.state=='1'%}
	<div id="share">
	
        <!-- 新浪微博 -->
  		<a rel="nofollow" href="javascript:void((function(s,d,e){try{}catch(e){}var%20f='http://v.t.sina.com.cn/share/share.php?',u=d.location.href,p=['url=',e(u),'&title=','曦潮书香生态系统 | 文章 | ','  {{ article.title }}','&appkey=1392530042'].join('');function a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=620,height=450,left=',(s.width-620)/2,',top=',(s.height-450)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})(screen,document,encodeURIComponent));">
		<img class="img_share" src="/static/images/share_sinaweibo.png"/>
        </a>

        <!-- 人人网 -->
        <a name="xn_share" onclick="shareClick()" type="button_medium" href="javascript:;">
		<img class="img_share" src="/static/images/share_renren.png"/>
        </a>

        <!--
		<img class="img_share" src="/static/images/share_qzone.png"/>
		<img class="img_share" src="/static/images/share_rss.png"/>
		<p id="p_share">分享</p>
		-->

	</div>

	<div class="bdsharebuttonbox"><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
	<div id="button_pay_to">
		<button class="register-button" id="pay_button">打赏作者</button>	
	</div> 
	</div>
		{%endif%}
	<hr>
	<div id="book_info">
		<div id="pic_book">
			<img style="width:225px;height:255px;" src="{{book.picture}}" />
		</div>
		<div id="p_book_info">
			<p id="name">书名</p>
			<p id="author">作者</p>
			<p id="publish">出版社</p>
			<p id="date">出版年份</p>
			<p id="page">页数</p>
			<p id="price">定价</p>
			<p id="ISBN">ＩＳＢＮ</p>
		</div>
		<div id="p_book_info_content">
			<p id="name_content">{{book.title}}</p>
			<p id="author_content">{{book.author}}</p>
			<p id="publish_content">{{book.press}}</p>
			<p id="date_content">{{book.press_time}}</p>
			<p id="page_content">{{book.page_num}}</p>
			<p id="price_content">{{book.price}}</p>
			<p id="ISBN_content">{{book.ISBN}}</p>
		</div>
	</div>

	{%if current_user.state=='1'%}

	<div id="publish_review">
		<p id="p_publish_review">发表评论 :</p>
		<div id="img_user" style="width: 90px;">
			<img id="user_pic_1" src="{{avatar}}">
			<p id="p_user_name" style="text-align: center; margin: auto;">{{nick}}</p>
		</div>

		<iframe id="input_publish_review"></iframe>
		<div class="clear"></div>
		<button  class="register-button" id="comment_reset_button">取消</button>
		<button  class="register-button" id="comment_publish_button">确认</button>
	</div>
	{%endif%}
	<div id="list_review">
		<p id="p_list_review">评论列表</p>

		<div id="comment_new">

		{% if comments!=None %}
			{% for comment in comments %}
				<div class="comment">
					<img class="user_pic_2" src="{{comment[2]}}">
					<div class="line"></div>
					<p class="p_review_author">{{comment[1]}}</p>
					<div class="comment_content"><font size="3px">{{comment[0].content | safe}}</font></div>
					<p class="p_publish_time"><font size="2px">{{comment[0].time}}</font></p>
				</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>
{% endblock %}


<!--js file used-->
{% block js %}
<!-- 人人网分享Js代码 -->
<script type="text/javascript" src="http://widget.renren.com/js/rrshare.js"></script>
<script type="text/javascript">
	function shareClick() {
    	var link = window.location.href;
		var rrShareParam = {
			resourceUrl : link,	//分享的资源Url
			srcUrl : '',	//分享的资源来源Url,默认为header中的Referer,如果分享失败可以调整此值为resourceUrl试试
			pic : '',		//分享的主题图片Url
			title : '曦潮书香生态系统 | 文章 | '+'{{ article.title }}',		//分享的标题
			description : ''	//分享的详细描述
		};
		rrShareOnclick(rrShareParam);
	}
</script>



<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='layer-v1.8.5/layer/layer.min.js') }}"></script>


<script type="text/javascript">
	$(function(){
		$d = $("#input_publish_review")[0].contentWindow.document;
		$d.designMode="on";
    	$d.contentEditable= true;
    	$d.open();
    	$d.close();
	});
</script>  


<!--获取评论内容，更新数据库，返回评论时间-->
<script type="text/javascript">
$("#comment_publish_button").click(function(){
	//val_content=$("#input_publish_review").text();
	val_content = $('#input_publish_review').contents().find('body').html();
	if (val_content == '')
		{alert("评论不能为空");}
	else {
	$('#input_publish_review').contents().find('body').empty();
	$.post('/article/comment',
		{
			_csrf_token:"{{ csrf_token() }}",
			content:val_content,
			article_id:{{article.article_id}},
			to_user_id:{{article.user_id}}
		},
		function(data){
			$("#comment_publish_time").text(data);
			layer.msg("评论成功",1,1);
			add_commit(data, val_content);
		});
	}
});

$("#comment_reset_button").click(function(){
	$('#input_publish_review').contents().find('body').empty();
});

$("#p_collection").click(function(){
	$.post("{{url_for('ajax_collection_article')}}",
		{
			_csrf_token:"{{ csrf_token() }}",
			article_id: {{article.article_id}}
		},
		function(data){
			if (data=="fail"){
				layer.msg("不能收藏自己的文章",1,3);
			}
			else if (data=="already") {
				layer.msg("你已收藏该文章",1,3);
			}
			else{
				layer.msg("收藏成功",1,1,function(){location.reload();});
			}
	});
});

$("#p_review").click(function(){
    var pos = $("#publish_review").offset().top;
    $("html,body").animate({ scrollTop: pos-30 }, 500);
//    alert("HERE");
});

</script>

<script type="text/javascript">
	/*$(document).ready(function(){
		url = "{{ url_for('pay_author', article_id=article.article_id) }}"
		$("#pay_button").click(function(){
			$.layer({
				type: 2,
				title: ['打赏曦潮币'],
				shade: [0.65, '#000'],
				shadeClose: true,
				closeBtn: false,
				border: [2, 1, '#D9AE48'],
				area: ['760px', '300px'],
				iframe: {src: url},
			});
		});
	});*/
</script>

</script>

<script type="text/javascript">
function update_xichao(data){
	//alert(data);
	//alert($('#p_num_xichao_content').text());
	var tmp = parseInt(data) + parseInt($('#p_num_xichao_content').text());
	//alert(tmp);
  	$('#p_num_xichao_content').html(tmp);
}
</script>

<script type="text/javascript">
function get_author_id() {
	return {{ author.user_id }};
}

function get_article_id() {
	return {{ article.article_id }};
}

function get_user_id() {
	return {{ article.user_id }};
}

function add_commit(data, val_content) {
	$('#comment_new').prepend('<div class="comment">'+
				'<img class="user_pic_2" src="{{avatar}}">'+
				'<div class="line"></div>'+
				'<p class="p_review_author">'+ '{{nick}}' +'</p>'+
				'<div class="comment_content"><font size="3px">'+val_content+'</font></div>'+
				'<p class="p_publish_time"><font size="2px">'+data+'</font></p></div>');
}
</script>

<script type="text/javascript">
	$(document).ready(function(){
		if ('{{ nick }}' == '{{ author.nick }}')
		{
		    {% if article.special_id %}
			    url = "{{ url_for('special_article_modify', article_id=article.article_id) }}"
            {% else %}
                url = "{{ url_for('article_modify', article_id=article.article_id) }}"
            {% endif %}
			$('#pay_button').html("编辑");
			$("#pay_button").click(function(){
				window.location = url;
			});
			
			
			var pay_action = function(){
			    layer.msg("您不能打赏自己的文章",1,3);
			}
			$("#p_num_xichao").click(pay_action);
			$("#p_num_xichao_bracket").click(pay_action);
			$("#p_num_xichao_content").click(pay_action);
		}
		else {
			url = "{{ url_for('pay_author', article_id=article.article_id) }}"
			var pay_action = function(){
				$.layer({
					type: 2,
					title: ['打赏曦潮币'],
					shade: [0.65, '#000'],
					shadeClose: true,
					closeBtn: [0,true],
					border: [2, 1, '#D9AE48'],
					area: ['760px', '300px'],
					iframe: {src: url},
			    });
		    }
			$("#pay_button").click(pay_action);
			$("#p_num_xichao").click(pay_action);
			$("#p_num_xichao_bracket").click(pay_action);
			$("#p_num_xichao_content").click(pay_action);
		}
		
	});
</script>
<!--
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["tsina","weixin"],"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},"image":{"viewList":["tsina","weixin"],"viewText":"分享到：","viewSize":"24"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
!-->
{% endblock %}
