{% extends "layout_home_page_new.html" %}

{% block home_page_content %}
<div id="information">
	<!-- 个人信息 -->
	<div id="homepage-info">
		<!-- 四个主tab -->
		<div id="info-main-tab" class="main-tab">	
			<ul id="info-main-tab-ul" class="idTabs main-tab-ul"> 
				<li><a id="bt-release" href="#release">发布</a></li>
			</ul> 
		</div>

		<!-- 子tab -->
		<div id="info-sub-tabs" class="sub-tabs">
			<!-- 发布tab -->
			<div id="release">
				<div class="sub-tab">
					<div id="total-count">
						Total:<span>{{article_number}}</span>
					</div>
					<ul class="idTabs">
						<h3>类型：</h3>
						<li><a class="selected" href="#release-article" id="bt-release-article">文章</a></li>
						<li><a href="#release-comment" id="bt-release-comment">帖子</a></li>
						<!-- <li><a href="#release-all" id="bt-release-all">全部</a></li> -->
					</ul>
					<ul class="idTabs" id="release-sort-ul">
						<h3>排序：</h3>
						<li><a id="bt-release-by-time" class="selected" href="#information">时间</a></li>
						<li><a id="bt-release-by-coins" href="#information">热度</a></li>
					</ul>
				</div>

				<div class="sub-content">
					<div id="release-article">
						{#<!-- <div class='content-box'>
						<div class='table-layout'>
						{% for i in range(5) %}
							<div class='table-row'>
								<div class='table-cell col-1'><a href='#'>如何有效地应对需求频繁更改</a></div>
								<div class='table-cell col-2'>评论&nbsp;(xx)</div>
								<div class='table-cell col-3'><img src='/static/images/coins.png'>&nbsp;xx</div>
							</div>
						{% endfor %}
						</div></div> -->#}
					</div>

					<div id="release-comment">
						{#<!-- <div class='content-box'>
						<div class='table-layout'>
						{% for i in range(5) %}
							<div class='table-row'>
								<div class='table-cell col-1'>“加班!”</div>
								<div class='table-cell col-2'><a href='#'>《如何有效地应对需求频繁更改》</a></div>
								<div class='table-cell col-3'>20xx-xx-xx xx:xx</div>
							</div>
						{% endfor %}
						</div></div>-->#}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}