{% extends "layout_home_page.html" %}

{% block home_page_content %}
	<div style="margin-top: 87px;"></div>
	<!-- 个人简介 -->
	<div class="square-part1">
		<!-- 头像 -->
		<div class="square-part1-left">
			<h2 style="line-height: 40px">个人简介</h2>
			<img id="square-part1-img" src="{{user.photo}}"/>
			<div></div>
		</div>

		<!-- 介绍 -->
		<div class="home-introduction">
			<table>
				<tr>
					<td class="home-col-1">{{user.nick}}</td>
					<td class="home-col-2">关注<br/>{{user.follow_num}}</td>
					<td class="home-col-3">被关注<br/><font id="home_be_followed_num">{{user.be_followed_num}}</font></td>
					<td class="home-col-4">
					{% if collection=='yes' %}
						<input type="button" value="取消关注" id="collection_user">
					{% else %}
						<input type="button" value="关注" id="collection_user">
					{% endif %}</td>
					<td class="home-col-5"><input type="button" value="发送私信" id="message_button"></td>
				</tr>
			</table>

			<div>
				{{user.slogon}}
			</div>
		</div>
	
	</div>
{% endblock %}