h2.activity-current{
	font-family: 黑体;
	font-size: 24px;
}

span{
	color: black;
}

/*当前活动*/
#activity-current, #activity-past{

}

#activity-current{
	height: 432px;
}

/*当前活动*/
div.flexslider{
	position: relative;
	height: 420px;
	overflow: hidden;
}

.activity-current-info{
	position: absolute;
	margin: auto;
	width: 889px;
	height: 100%;
}

.flexslider .slides img{
	width: 265px;
	height: 265px;
	float: left;
	margin-left: 93px;
}

.activity-current-abstract{
	height: 161px;
	color: gray;
}


.activity-current-info h3{
	margin: 30px auto 30px auto;
	font-weight: bold;
	font-family: 黑体;
	font-size: 24px;
	text-align: center;
}

.activity-current-info > div{
	margin-left: 401px;
	font-family: 黑体;
	font-weight: lighter;
	font-size: 18px;
	color: #000000;
	height: 265px;
}

.activity-current-info div{
	width: 666px;
	overflow: hidden;
}

/*滚动点*/
.flex-control-nav{
	bottom: 10px;
}

/*左右箭头位置*/



.flex-prev{
	margin-left: -32px!important;
	background-image: url('/static/images/arrow-left.png');
}

.flex-next{
	margin-right: -29px!important;
	background-image: url('/static/images/arrow-right.png');
}

.flex-direction-nav a:before{
	content: ''!important;
}

.flex-direction-nav a{
	margin-top: -35px;
	width: 100px;
	height: 140px;
}


.flex-direction-nav .flex-next {
    margin-right: -10px;
    text-align: right;
}

/*过去活动*/
#activity-past{
	margin-top: 86px;
}

#activity-past h2{
	font-family: 黑体;
	font-weight: bold;
	font-size: 24px;
}

#activity-select-part{
	margin-top: -44px;
	margin-right: 20px;
	float: right;
}

#activity-select-part > label{
	font-family: 黑体;
	font-size: 18px;
	font-weight: lighter;
}

#activity-select-part > select{
	margin-right: -20px;
	height: 25px;
	width: 120px;
	font-family: 黑体;
	font-size: 12.5px;
	color: gray;
	vertical-align: baseline;
}

.passed-activity{
	margin-top: 10px;
	margin-bottom: 10px;
}

#activity-past-info{
	margin-top: 30px;
}

#activity-past-info a{
	width: 960px;
	margin-left: 100px;
	margin-top: 15px;
}

#activity-past-info a:hover{
	border: 1px solid #D9AE48;
}

.passed-activity-image{
	width: 160px;
	height: 160px;
	margin: auto;
}

.passed-activity-image > img{
	width: 160px;
	height: 160px;
	border-radius: 160px;
	position: relative;
	behavior: url(/static/css/PIE.htc);
}

.passed-activity-image-container{
	float: left;
}

.passed-activity-content{
	float: right;
	width: 760px;
}

.passed-activity-abstract{
	height: 40px;
	overflow: hidden;
	margin-top: 22px;
	font-family: 黑体;
	font-size: 18px;
	font-weight: lighter;
	color: gray;
}

.passed-activity-info{
	margin-top: 22px;
	font-family: 黑体;
	font-size: 14px;
	color: gray;
	font-weight: lighter;
}

.passed-activity-name{
	margin-top: 25px;
	font-family: 黑体;
	font-size: 20px;
	font-weight: bold;
}

.passed-activity-info span{
	color: rgb(214,167,0)
}

/* 页码 */
#activity-paging{
    margin-top: 40px;
	margin-bottom: 50px;
    width: 100%;
}

#activity-paging > div{
	margin-left: 50px;
	text-align: center;
	font-family: 微软雅黑;
	font-size: 16.7px;
}

.pager li>a:hover{
    text-decoration: none;
    background-color: #D9AE48;
}

.pager li>a, .pager li>span {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}