#activity-headline-img{
	margin: 66px auto auto auto;
	width: 1028px;
}

#activity-headline-img > img{
	width: 1028px; 
	height: 380px;
}


/*当前活动*/
#activity-current, #activity-past{
	margin: auto;
	width: 955px;
}

#activity-current{
	margin-top: 124px;
}

#activity-current h2, #activity-past h2{
	font-family: 黑体;
	font-size: 29.2px;
}

#activity-current h2{
	margin-top: -45px;
}

#activity-current{
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	height: 432px;
}

/*左右箭头*/
img#activity-left-arrow, img#activity-right-arrow{
	margin-top: 170px;

	width: 57px;
	height: 89px;

	/*opacity: 0.5;*/
}

.display-none{
	display: none;
}

img#activity-left-arrow{
	margin-left: -60px;
	float: left;
}

img#activity-right-arrow{
	margin-right: -60px;
	float: right;
}


div#activity-slide{
	position: relative;
	width: 955px;
	height: 100%;

	overflow: hidden;
}

/*当前活动*/
.activity-current-info{
	position: absolute;
	margin: auto;
	left: 33px;
	width: 889px;
	height: 100%;
}

.activity-current-info > h3{
	margin: 30px auto 30px auto;
	font-family: 尚黑;
	font-size: 45.8px;

	text-align: center;
}

img.activity-info-img{
	width: 264px;
	height: 264px;

	float: left;
}

.activity-current-info > div{
	margin-left: 312px;
	font-family: 黑体;
	font-size: 22.9px;
	color: #000000;

	height: 240px;
}

.activity-current-info div{
	width: 573px;
	overflow: hidden;
}

.activity-current-info > a{
	margin-top: 30px;
	color: gray;

	font-family: 黑体;

	letter-spacing: 3px;
	font-size: 22.9px;
	float: right;
}

/*过去活动*/
#activity-past{
	margin-top: 86px;
}

#activity-select-part{
	margin-top: 46px;
	float: right;
}

#activity-select-part > label{
	font-family: 黑体;
	font-size: 16.7px;
}

#activity-select-part > select{
	margin-right: -20px;
	height: 22px;
	width: 120px;
	font-family: 黑体;
	font-size: 12.5px;
	color: gray;
}

#activity-past-info{
	margin: 48px auto;
	height: 350px;

	/*border: 1px solid #ff0000;*/
}

.passed-activity{
	float: left;
	width: 238px;
}

.passed-activity-image{
	width: 215px;
	height: 215px;
	margin: auto;
}

.passed-activity-image > img{
	width: 215px;
	height: 215px;

	border-radius: 215px;
	position: relative;
	behavior: url(/static/css/PIE.htc);
}

.passed-activity-name{
	margin-top: 25px;
	font-family: 宋体;
	font-size: 25px;
	text-align: center;
}

.passed-activity-time{
	margin-top: 12px;
	font-family: 宋体;
	font-size: 16.7px;
	text-align: center;
}