#p_title {
	margin-top: 45px;
	font-size: 16.67px;
	letter-spacing: 2px;
}

#p_title_1 {
	float: left;
	font-family: 黑体;
	color: rgb(114, 114, 114);
}

#p_title_2 {
	color: #D9AE48;
	font-family: 黑体;
} 

#article {
	margin-left: 100px;
	margin-right: 100px;
}

#article_title {
	margin-top: 74px;
}

#p_article_title {
	text-align: center;
	font-family: 微软雅黑;
	font-size: 25px;
}

#article_content {
	margin-top: 50px;
	font-family: 微软雅黑;
}

#article_content_html {
	font-family: 微软雅黑;
}

#p_num_xichao {
	float: left;
	cursor:pointer;
	color: #D9AE48;
}

#p_num_xichao_content {
	float: left;
	cursor:pointer;
	color: #D9AE48;
}

#p_num_xichao_bracket {
	float: left;
	cursor:pointer;
	margin-right: 30px;
	color: #D9AE48;
}

#p_article_author_1 {
	float: left;
	margin-right: 18px;
}

#p_article_author_2 >a{
	float: left;
	color: #D9AE48;
	margin-right: 30px;
}

#p_article_time {
	/*text-align: right;*/
	color: rgb(114, 114, 114);
}

#share {
	text-align: right;
	margin-top: 100px;
	font-family: 微软雅黑;
}

#p_share {
	float: left;
	padding-left: 765px;
	padding-top: 2px;
	font-family: 微软雅黑;
	font-size: 12.5px;
}

#read {
	margin-top: 1%;
	margin-left: 70%;
	font-family: 微软雅黑;
}

#p_read {
	padding-left: 60px;
	float: left;
}

#p_read_content {
	float: left;
	color: rgb(114, 114, 114);
	margin-right: 30px;
	margin-left: 5px;
}

#space {
	/*display: none;*/
}

#p_review {
	float: left;
	color: #D9AE48;
	cursor:pointer;
	margin-right: 30px;
}

#p_collection {
	float: left;
	color: #D9AE48;
	cursor:pointer;
	margin-right: 40px;
}

.img_share {
	text-align: right;
}

#button_pay_to {
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: right;
}

#book_info {
	margin-top: 3%;
	margin-left: 10%;
	margin-bottom: 7%;
}

#pic_book {
	float: left;
	margin-bottom: 3%;
}

#p_book_info {
	float: left;
	color: #D9AE48;
	margin-left: 20%;
	font-family: 微软雅黑;
	line-height: 220%;
}

#p_book_info_content {
	margin-left: 60%;
	font-family: 微软雅黑;
	line-height: 220%;
}

#publish_review {
	background-color: #f5ebd1;
	padding-top: 3%;
	padding-bottom: 1%;

}

#p_publish_review {
	margin-left: 10%;
	font-family: 微软雅黑;
	font-size: 20px;
	margin-bottom: 1%;
}

#img_user {
	margin-left: 9%;
	margin-right: 3%;
	float: left;
}

#user_pic_1 {
	z-index: 1;
	overflow: hidden;
	width: 90px;
	height: 90px;
	border-radius: 90px;
	position: relative;
	behavior: url(/static/css/PIE.htc);
}


#p_user_name {
	margin-left: 12%;
}

#input_publish_review {
	display: block;
	background-color: #f5ebd1;
	margin-right: 15%;
	width: 60%;
	height: 100px;
}

#comment_reset_button{
	/*margin-top: 3%;*/
	margin-left: 40%;
}

#comment_publish_button{
	/*margin-top: 3%;*/
	margin-left: 10%;
}

#list_review {
	margin-left: 10%;
	margin-right: 20%;
}

#p_list_review {
	margin-top: 3%;
	margin-bottom: 1%;
	font-family: 微软雅黑;
	font-size: 20px;
}


.comment {
	margin-top: 2%;
	margin-bottom: 3%;
	font-family: 微软雅黑;
	width: 100%;
}

.user_pic_2 {
	width: 80px;
	height: 80px;
	margin-right: 3%;
	display: block;
	float: left;
	z-index: 1;
	overflow: hidden;
	
	border-radius: 80px;
	position: relative;
	behavior: url(/static/css/PIE.htc);
}

.line {
	width: 1px;
	height: 80px;
	background-color: #ffcc99;
	float: left;
}

.p_review_author {
	margin-left: 16%;
	color: #ffcc99;
}

.comment_content {
	margin-left: 16%;
	margin-top: 1%;
}

.p_publish_time {
	margin-top: 1%;
	margin-left: 16%;
	color: gray;
	font-size: 5px;
}

#p_activity_time_1 {
	margin-left: 70%;
	margin-right: 2%;
	float: left;
}

.register-button{
    width: 118px;
    height: 38px;

    font-family: 黑体;
    font-size: 17px;

    border-radius: 8px;
    background-color: #D9AE48;
    color: #ffffff;
}


