#p_title {
	margin-top: 25px;
	font-size: 16px;
	font-family: 黑体;
}


#p_title a{
	display:inline;
	text-decoration: none;
	color: rgb(114, 114, 114);
}

#p_title_1 {
	float: left;
	color: rgb(114, 114, 114);
}

#p_title_2 {
	color: #D9AE48;
} 

#article {
	margin-left: 100px;
	margin-right: 100px;
	word-wrap: break-word;
	word-break: notmal;
}

#article_title {
	margin-top: 54px;
	margin-bottom:8px;
}

#article_title img{
	height:2px;
	width:760px;
	margin-left:100px;
}

#p_article_title {
	text-align: center;
	font-family: 微软雅黑;
	font-size: 25px;
}

#article_content {
	margin-top: 0px;
	font-family: 黑体;
}

#article_content p span{
	position:relative;
	bottom:5px;
	left:2px;
	font-size:10px;
}

#article_content_html {
	font-family: 宋体;
	font-size: 18px;
	margin-bottom: 20px;
}

#p_num_xichao {
	float: left;
	cursor:pointer;
	color: #D9AE48;
}

#p_num_xichao_content {
	float: left;
	cursor:pointer;
	color: #D9AE48;
}

#p_num_xichao_bracket {
	float: left;
	cursor:pointer;
	margin-right: 40px;
	color: #D9AE48;
}

#p_article_author_1 {
	float: left;
	margin-right: 18px;
}

#p_article_author_2 >a{
	float: left;
	color: #D9AE48;
	margin-right: 40px;
}

#p_article_time {
	/*text-align: right;*/
	color: rgb(114, 114, 114);
}

#share {
	text-align: right;
	margin-top: 50px;
	font-family: 微软雅黑;
}

#share-button{
	height: 30px;
	background-color: #fff;
  	background-image: -moz-linear-gradient(top,#fff,#fff);
  	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
  	background-image: -webkit-linear-gradient(top,#fff,#fff);
  	background-image: -o-linear-gradient(top,#fff,#fff);
  	background-image: linear-gradient(to bottom,#fff,#fff);
  	background-repeat: repeat-x;
  	border-radius: 0px;
  	float:right;
   	border: 1px solid #D9AE48;
  	border-radius: 5px;
   	width: 100px;
  	font-family: 微软雅黑;
  	font-size: 14px;
}

.caret{
	margin-left: 2px;
	border-top: 5px solid;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}

#share-option{
	min-width: 96px;
	border-radius: 0px;
}
#share-option>li>a{
	padding: 0px;
}
#share-option a:hover{
	background-image: linear-gradient(to bottom,#fff,#fff);
}

#special-article-paging a{
    border-radius: 0px;
}

#special-article-paging a:hover{
    border: solid 1px #D9AE48;
    background-color: white;
}


#p_share {
	float: left;
	padding-left: 765px;
	padding-top: 2px;
	font-family: 微软雅黑;
	font-size: 12.5px;
}

#read {
	margin-top: 1%;
	margin-left: 70%;
	font-family: 微软雅黑;
}

#p_read {
	padding-left: 100px;
	float: left;
}

#p_read_content {
	float: left;
	color: rgb(114, 114, 114);
	margin-right: 40px;
	margin-left: 5px;
}

#space {
	/*display: none;*/
}

#p_review {
	float: left;
	color: #D9AE48;
	cursor:pointer;
	margin-right: 40px;
}

#p_collection {
	float: left;
	color: #D9AE48;
	cursor:pointer;
	margin-right: 40px;
}

.img_share {
	text-align: right;
}

#button_pay_to {
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: right;
}

#book_info {
	margin-top: 3%;
	margin-left: 10%;
	margin-bottom: 7%;
}

#pic_book {
	float: left;
	margin-left: 220px;
}

#p_book_info {
	float: left;
	color: #BE9F57;
	margin-left: 40px;
	font-family: 微软雅黑;
	line-height: 220%;
	font-weight: bold;
	font-size: 14px;
}

#p_book_info_content {
	margin-left: 580px;
	font-family: 黑体;
	font-size: 14px;
	line-height: 220%;
}

#publish_review {
	background-color: #f5ebd1;
	padding-top: 4%;
	padding-bottom: 3%;
}

#p_publish_review {
	margin-left: 96px;
	font-family: 微软雅黑;
	font-size: 20px;
	margin-bottom: 25px;
}

#img_user {
	width: 120px;
	margin-left: 115px;
	margin-right: 63px;
	float: left;
}

#user_pic_1 {
	z-index: 1;
	overflow: hidden;
	width: 120px;
	height: 120px;
	border-radius: 120px;
	position: relative;
	behavior: url(/static/css/PIE.htc);
}


#p_user_name {
	text-align: center; 
	font-family: 黑体;
	font-size: 16px;  
	color: #D9AE48;
	font-weight: bold;
	margin-top: 13px;
}

#input_publish_review {
	display: block;
	background-color: #f5ebd1;
	width: 740px;
	height: 110px;
	resize: none;
}

.pay_author_div{
	float: right;
	margin: 10px 95px 0; 
}

#comment_pay_button {
	margin: 0;
}

.pay_author_div span{
	font-family: 黑体;
	font-size: 14px;
}

#comment_publish_button{
	margin-top: 10px;
	margin-right: 100px;
	float: right;
}

#list_review {
	margin-left: 10%;
	margin-right: 20%;
}

#p_list_review {
	margin-top: 3%;
	margin-bottom: 3%;
	font-family: 微软雅黑;
	font-size: 20px;
}


.comment {
	margin-top: 2%;
	margin-bottom: 3%;
	font-family: 微软雅黑;
	width: 100%;
}

.user_pic_2 {
	width: 80px;
	height: 80px;
	margin-right: 3%;
	display: block;
	float: left;
	z-index: 1;
	overflow: hidden;
	
	border-radius: 80px;
	position: relative;
	behavior: url(/static/css/PIE.htc);
}

.line {
	width: 1px;
	height: 80px;
	background-color: #ffcc99;
	float: left;
}

.p_review_author {
	margin-left: 16%;
	color: #ffcc99;
}

.comment_content {
	margin-left: 16%;
	margin-top: 1%;
}

.p_publish_time {
	margin-top: 1%;
	margin-left: 16%;
	color: gray;
	font-size: 5px;
}

#p_activity_time_1 {
	margin-left: 70%;
	margin-right: 2%;
	float: left;
}

.button-reply {
	margin-right: 10px;
}

.register-button{
	width: 100px;
	border: 1px rgb(218, 164, 23) solid;
	background-color: white;
    height: 30px;
    font-family: 微软雅黑;
    font-size: 14px;
    border-radius: 5px;
}

.well {
	border: 0 !important;
	background-color: white !important;
	padding-bottom: 0 !important;
	margin-bottom: 30px !important;
}

.media-object {
	width: 120px;
	height: 120px;
	border-radius: 120px;
}

.pull-left {
	width: 160px;
	margin-right: 23px!important;
	border-right: 2px #D9AE48 solid;
}

.media-heading {
	font-family: 黑体;
	font-size: 16px;
	font-weight: bold;
	color: #D9AE48;
}

.media-content {
	margin-top: 8px;
	font-family: 微软雅黑;
	font-size: 14px;
	letter-spacing: 2px;
	line-height: 175%;
	min-height: 70px;
	overflow: hidden;
}

.comment-info{
	margin-top: 5px;
}

.comment-info span{
	font-family: 黑体;
	font-size: 14px;
	margin-right: 10px;
}

.comment-time {
	color: gray;
}

.comment-reply {
	font-family: 黑体;
	margin-right: 10px;
	font-size: 14px;
	color: #D9AE48;
	cursor: pointer;
}

.comment-reply-ul {
	margin: 20px 0;
}

.reply-info{
	margin-bottom: 5px;
	font-family: 黑体;
}

.reply-content{
	min-height: 10px;
}
