.container {
	display: block;

	margin-left: 12%;
	margin-right: 12%;
	margin-top: 2%;
}

#title {
	margin-top: 45px;
	font-family: 黑体;
	font-size: 16px;
	color: rgb(114, 114, 114);
	font-size: 17px;
}

#article_upload {
	margin-top: 4%;
}

#div_pics {
	margin-top: 4%;
}

#pic_4 {
	float: left;
}

#pic_1 {
	margin-left: 1%;
	float: left;
}

#pic_2 {
	margin-left: 2%;
	float: left;
}

#pic_3 {
	margin-left: 2%;
	float: left;
}


.p_triangle {
	padding-top: 8%;
	padding-bottom: 6%;
	color: #ff9900;
	font-size: 35px;
	text-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

.p_triangle:hover {
	color: #ff6600;
}

.p_triangle:active {
	position:relative;
	top:1px;
}

#triangle_left {
	margin-left: 6%;
	float: left;
}

#triangle_right {
	margin-left: 96%;
}

#button_upload_pic {
	margin-right: 75%;
	margin-left: 5%;
	margin-top: 20px;
}

#article_editor {
	margin-top: 5%;
	font-family: 微软雅黑;
}

#p_article_title {
	font-family: 微软雅黑;
	font-size: 20px;
	float: left;
	margin-top: 0px;
}

#input_title {
	margin-left: 2%;
	height: 26px;
	width: 50%;
}

#editor {
	margin-top: 3%;
	margin-bottom: 4%;
}

#book_info {
	color: #D9AE48;
	margin-left: 30%;
	font-family: 微软雅黑;
	line-height: 250%;
}

#book_isbn {
	height: 20px;
}

#book_button {
	height: 30px;
	width: 50px;
	line-height: 30px;
	margin-left: 3%;
}

.input_book_info {
	position: absolute;
	left: 45%;
	line-height: 200%;
	width: 30%;
	top: 77.5%;
}

#input_author {
	margin-top: 3%;
}

#input_publish {
	margin-top: 6%;
}

#input_date {
	margin-top: 9%;
}

#input_page {
	margin-top: 12%;
}

#input_price {
	margin-top: 15%;
}

#input_ISBN{
	margin-top: 18%;
}

#buttons {
	margin-top: 5%;
}

#button_upload_cancel {
	margin-left: 15%;
	float: left;
}

#button_upload_confirm {
	margin-left: 76%;
}

#button_upload_draft {
	margin-left: 19%;
	float: left;
}

.register-button{
    width: 118px;
    height: 38px;

    font-family: 黑体;
    font-size: 17px;
    text-align: center;
    line-height: 35px;

    border-radius: 8px;
    background-color: #D9AE48;
    color: #ffffff;
}

#book_information {
	margin-top: 30px;
}

#book_image {
	margin-left: 230px;
	margin-right: 100px;
	float: left;
}

#div_book_info {
	float: left;
	margin-right: 100px;
}

.p_book_info {
	font-family: 微软雅黑;
	font-size: 15px;
	line-height: 200%;
	color: #D9AE48;
}

.p_book_info_content {
	font-family: 微软雅黑;
	font-size: 15px;
	line-height: 200%;
}

#activity_info {
	margin-bottom: 50px;
	margin-left: 400px;
	margin-right: 200px;
	color: #D9AE48;
}

#div_activity_time {
	margin-bottom: 10px;
}

#p_activity_time {
	float: left;
	margin-right: 10px;
}

#activity_time {
	margin-right: 200px;
	width: 150px;
	height: 22px;
}

#p_activity_place {
	float: left;
	margin-right: 10px;
}

#activity_place {
	margin-right: 200px;
	width: 150px;
	height: 22px;
}