.container {
	display: block;

	margin-left: 12%;
	margin-right: 12%;
	margin-top: 2%;
}

.title {
	margin-top: 45px;
	font-family: 黑体;
	font-size: 16px;
	color: rgb(114, 114, 114);
}

#title a{
	display:inline;
	color: rgb(114, 114, 114);
}


#p_pic {
	margin-top: 35px;
	margin-left: 200px;
	margin-bottom: 10px;
	font-family: 黑体;
	font-size: 16px;
	color: rgb(114, 114, 114);
}

#article_upload {
	margin-top: 4%;
}

#pics{
	width: 1000px;
}

#pic_4 {
	float: left;
}

#pic_1 {
	margin-left: 4px;
	float: left;
}

#pic_2 {
	margin-left: 40px;
	float: left;
}

#pic_3 {
	margin-left: 40px;
	float: left;
}

#pic_5 {
	margin-left: 40px;
	float: left;
}

.p_triangle {
	padding-top: 70px;
	padding-bottom: 70px;
	color: #ff9900;
	font-size: 35px;
	text-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
	
	/* 不可选择文字 */
	-moz-user-select:none;/*火狐*/
	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/
	user-select:none
}

.p_triangle:hover {
	color: #ff6600;
	cursor: pointer;
}

.p_triangle:active {
	position:relative;
	top:1px;
}

#triangle_left {
	margin-left: 10px;
	float: left;
}

#triangle_right {
	margin-left: 970px;
	width: 40px;
}

#button_upload_pic {
	font-family: 微软雅黑;
	font-size: 15px;
	border-radius: 2px;
	margin-right: 75%;
	margin-left: 30px;
	margin-top: 20px;
}

#article_editor {
	position: relative;
	margin-top: 5%;
	font-family: 微软雅黑;
}


#p_article_title {
	font-family: 黑体;
	font-size: 18px;
	position: absolute;
	margin-left: 30px;
	margin-top: 5px;
	width: 130px;
}

#input_title {
	margin-left: 200px;
	margin-right: 20px;
	padding: 0px;
	height: 26px;
	width: 650px;
	font-family: 黑体;
	font-size: 18px;
}

#display-type-select{
	margin-top: -3px;
	float:right;
}
#display-type-select>.active>a, #display-type-select>.active>a:hover, #display-type-select>.active>a:focus {
  color: #fff;
  background-color: #D9AE48;
}

#change-display-list > a{
	font-family: 黑体;
	font-size: 18px;
    color: black;
}
#change-display-list > a:hover{
  cursor: pointer;
}


#label_article {
	font-family: 黑体;
	font-size: 18px;
	float: right;
	margin-top: 3px;
}

#editor {
	margin-top: 3%;
	margin-bottom: 4%;
}

#book_info {
	color: #D9AE48;
	margin-left: 30%;
	font-family: 微软雅黑;
	line-height: 250%;
}

#book_isbn {
	height: 20px;
}

#book_button {
	height: 30px;
	width: 50px;
	line-height: 30px;
	margin-left: 3%;
}

.input_book_info {
	position: absolute;
	left: 45%;
	line-height: 200%;
	width: 30%;
	top: 77.5%;
}

#input_author {
	margin-top: 3%;
}

#input_publish {
	margin-top: 6%;
}

#input_date {
	margin-top: 9%;
}

#input_page {
	margin-top: 12%;
}

#input_price {
	margin-top: 15%;
}

#input_ISBN{
	margin-top: 18%;
}

#search_book_button{
	margin-left: 25px;
	font-family: 微软雅黑;
	font-size: 15px;
	border-radius: 2px;
}

#buttons {
	margin-top: 50px;
	padding-left: 340px;
}
#buttons a{
	font-family: 微软雅黑;
	font-size: 15px;
	border-radius: 2px;
}

#button_upload_cancel {
	height: 27px;
	width: 108px;
	margin-left: 100px;
}

#button_upload_confirm {
	height: 27px;
	width: 108px;
}

#button_upload_draft {
	height: 27px;
	width: 120px;
	margin-left: 100px;
}

.register-button{
    width: 118px;
    height: 38px;

    font-family: 黑体;
    font-size: 17px;
    text-align: center;
    line-height: 35px;

    border-radius: 8px;
    background-color: #D9AE48;
    color: #ffffff;
}

#book_information {
	margin-top: 30px;
}
#book_information p{
	margin: 0px;
}

#book_image {
	margin-left: 360px;
	margin-right: 40px;
    width: 160px;
	float: left;
}

#div_book_info {
	float: left;
    width: 100px;
}

#div_book_info_right{
    float: left;
    width: 440px;
}

.p_book_info {
	font-family: 微软雅黑;
	font-size: 15px;
	line-height: 200%;
	color: #D9AE48;
}

.p_book_info_content {
	font-family: 微软雅黑;
	font-size: 15px;
	line-height: 200%;
}

#activity_info {
	margin-bottom: 50px;
	margin-left: 400px;
	margin-right: 200px;
	color: #D9AE48;
}

#div_activity_time {
	margin-bottom: 10px;
}

#p_activity_time {
	float: left;
	margin-right: 10px;
}

#activity_time {
	margin-right: 200px;
	width: 150px;
	height: 22px;
}

#p_activity_place {
	float: left;
	margin-right: 10px;
}

#activity_place {
	margin-right: 200px;
	width: 150px;
	height: 22px;
}


        #search_book_input{
            margin-bottom: 20px;
            font-size: 18px;
            font-family: 黑体;
            color: #D9AE48;
            text-align: center;
        }
        #book_name{
            
            margin-right: 10px;
            float: left;
        }
        .search_book_result{
            width: 250px;
            float: left;
            position: relative;
            text-align: center;
        }
        .search_book_result h3{
            font-size: 20px;
            font-family: 黑体;
            text-align: center;
        }
        .search_book_result img{
            max-height: 250px;
            min-height: 250px;
            height: auto;
            max-width: 100%;
            width: auto;
            position: relative;
        }
        .search_book_result a:hover{
        	cursor: pointer;
        	border: 1px solid #D9AE48;
        }
        #selected_book_info{
            float:left;
            width: 100%;            
        }