#article-select-part{
	margin-right: 40px;
	float: right;
	/*border: 1px solid #ff0000;*/
}

#article-select-part > label{
	font-family: 黑体;
	font-size: 16.7px;
}

#article-select-part > select{
	width: 125px;
	font-family: 微软雅黑;
	font-size: 12.5px;
}

#article-group-part{
	margin-top: 15px;
	padding-top: 10px; /*外边距内边距*/

	margin-left: 32px;
	padding-right: 20px;
	padding-bottom: 50px; /*延长分割线*/

	width: 25px;

	font-family: 微软雅黑;
	font-size: 25px;


	float: left;
	border-right: 1px solid gray;
}

#article-list-part{
	margin-top: 75px;
	margin-left: 110px;
}


.article-content-full{
	margin-top: 33px;
	width: 936px;
	height: 250px; /*书评栏实际大小*/
}

.article-picture{
	margin: 30px 70px auto 62px;
	width: 130px;
	height: 185px;
	float: left;
}

.article-picture img{
	width: 100%;
	height: 100%;
}

.article-content{
	width: 648px;
	float: right;
}

.article-content h3{
	font-family: 微软雅黑; 
	font-size: 25px;

	text-align: center;
}

.article-info{
	margin-top: 16px;
	font-family: 黑体;
	font-size: 12.5px;
	text-align: center;
}

.article-info span{
	margin: auto 10px auto 10px;
}

.article-content pre{
	margin-top: 22px;
	font-size: 16.7px;
	height: 150px;

	overflow: hidden;	
	white-space: pre-wrap;
	word-wrap: break-word; /*自动换行*/
}

.article-content a{
	float: right;
	font-family: 微软雅黑;
	font-size: 12.5px;
}

.article-paging{
	margin-top: 20px;
	margin-left: 50%;
	margin-right: 40px;
	float: right;
}

.article-paging > div{
	float: left;
	margin-left: 50px;
	text-align: center;
	font-family: 微软雅黑;
	font-size: 16.7px;
}

hr{
	margin-top: 22px;
}
