/*左侧列表图*/
#article-group-title{
	width: 100px;
	height: 200px;
	float: left;
}

#article-group-title > img{
	width: 100%;
	height: 100%;
}

#article-group-content{
	width: 960px;
	margin-left: 200px; /*与左边距离*/
}


/*排序select*/
#article-group-sort{
	text-align: right;
}

#article-group-sort > select{
	width: 160px;
	font-family: 黑体;
	border: 2px solid #888;
}

#article-group-sort > select > option{
	padding: 5px 0 5px;
}


/*列表项*/
#article-list-part{

}

/*一篇文章的长宽*/
.article-list-item{
	margin-top: 20px;
	width: 100%;
	height: 160px;
}

/*左侧文章图*/
.article-list-picture{
	width: 160px;
	height: 160px;
	float: left;
}

.article-list-picture > a{
	width: 100%;
	height: 100%;
}

.article-list-picture > a > img{
	width: 100%;
	height: 100%;

	border-radius: 80px;
}

/*右侧内容*/
.article-list-content{
	margin-left: 200px;
	font-family: 黑体, 冬青黑体;
	width: 760px;
}

.article-list-content > h3{
	font-size: 24px;
	text-align: center;
}

.article-list-info{
	margin-top: 10px;
	font-size: 12.5px;
	text-align: right;
}

.article-list-info span{
	margin: auto 10px auto 10px; /*span间距*/
}

.article-list-content pre{
	margin: 10px;
	padding: 0;
	font-size: 16px;
	line-height: 20px;
	height: 40px;

	border: none;
	background-color: transparent;
	overflow: hidden;	
	white-space: pre-wrap;
	word-wrap: break-word; /*自动换行*/
}

/*分页部分pagination*/
.pagination{
	width: 100%;
	height: 40px;
	text-align: center;
}

.pagination a{
	cursor: pointer;
}
