#p_title_1 {
	float: left;
	font-family: 微软雅黑;
}

#p_title_2 {
	color: #D9AE48;
	font-family: 微软雅黑;
}

#article_title {
	margin-top: 7%;
	margin-right: 10%;
	margin-left: 10%;
}

#p_article_title {
	text-align: center;
	font-family: 微软雅黑;
	font-size: 25px;
}

#article_content {
	margin-top: 4%;
	margin-left: 10%;
	margin-right: 10%;
	font-family: 微软雅黑;
}

#article_content_html {
	margin-left: 10%;
	margin-right: 10%;
	font-family: 微软雅黑;
}

#p_article_author_1 {
	float: left;
	margin-left: 55%;
	margin-right: 2%;
}

#p_article_author_2 {
	float: left;
	margin-right: 4%;
}

#p_article_time_1 {
	float: left;
	margin-right: 2%;
}

#share {
	margin-top: 10%;
	margin-left: 70%;
	font-family: 微软雅黑;
}

#p_share {
	float: left;
	margin-right: 5%;
}

#read {
	margin-top: 1%;
	margin-left: 70%;
	font-family: 微软雅黑;
}

#p_read {
	float: left;
	margin-right: 2%;
}

#p_read_content {
	float: left;
	color: gray;
	margin-right: 10%;
}

#p_review {
	float: left;
	margin-right: 2%;
	color: #D9AE48;
}

#p_review_content {
	float: left;
	margin-right: 10%;
	color: #D9AE48;
}

#p_collection {
	float: left;
	margin-right: 2%;
	color: #D9AE48;
}

#p_collection_content {
	margin-right: 10%;
	color: #D9AE48;
}

#book_info {
	margin-top: 3%;
	margin-left: 10%;
	margin-bottom: 7%;
}

#pic_book {
	float: left;
	margin-bottom: 3%;
}

#p_book_info {
	float: left;
	color: #D9AE48;
	margin-left: 20%;
	font-family: 微软雅黑;
	line-height: 220%;
}

#p_book_info_content {
	margin-left: 60%;
	font-family: 微软雅黑;
	line-height: 220%;
}

#publish_review {
	background-color: #ffcc99;
	padding-top: 3%;
	padding-bottom: 1%;

}

#p_publish_review {
	margin-left: 10%;
	font-family: 微软雅黑;
	font-size: 20px;
}

#user_pic_1 {
	float: left;
	margin-left: 10%;
	margin-right: 3%;
	margin-top: 1%;
	width: 8%;
}

#p_user_name {
	margin-left: 12%;
}

#input_publish_review {
	display: block;
	background-color: #ffcc99;
	margin-right: 15%;
	width: 60%;
	height: 100px;
}

#comment_reset_button{
	margin-top: 3%;
	margin-left: 40%;
}

#comment_publish_button{
	margin-top: 3%;
	margin-left: 10%;
}

#list_review {
	margin-left: 10%;
	margin-right: 20%;
}

#p_list_review {
	margin-top: 3%;
	margin-bottom: 1%;
	font-family: 微软雅黑;
	font-size: 20px;
}

#comment_new {
}

.comment {
	margin-top: 2%;
	margin-bottom: 3%;
	font-family: 微软雅黑;
}

.user_pic_2 {
	width: 10%;
	margin-right: 3%;
	float: left;
}

.line {
	width: 1px;
	height: 80px;
	background-color: #ffcc99;
	float: left;
}

.p_review_author {
	margin-left: 16%;
	color: #ffcc99;
}

.comment_content {
	margin-left: 16%;
	margin-top: 1%;
}

.p_publish_time {
	margin-top: 1%;
	margin-left: 16%;
	color: gray;
	font-size: 5px;
}


