.home-introduction{
	margin-top: 160px;
	width: 700px;
	height: 500px;

	float: right;
}

.home-introduction tr{
	height: 60px;
	text-align: center;
	font-family: 微软雅黑;
}


.home-col-1{
	width: 180px;
	letter-spacing: 5px;

	font-size: 29.2px;
	line-height: 30px;
}

.home-col-2, .home-col-3{
	width: 120px;
	line-height: 30px;
	letter-spacing: 5px;

	font-size: 16.7px;
	border-left: 1px solid #000000;
}

.home-col-4{
	padding-left: 30px;
	padding-right: 10px;
}

.home-col-4 > input, .home-col-5 > input{
	width: 100px;
	height: 40px;

	font-family: 微软雅黑;
	font-size: 20.8px;

	border-radius: 5px;

	background-color: #D9AE48;
}

/*个人介绍*/
.home-introduction div{
	margin: 40px auto;

	width: 670px;
	height: 300px;
	letter-spacing: 2px;
	text-align: center;

	line-height: 25px;
	font-family: 微软雅黑;
	font-size: 18.7px;
}

#home-select{
	font-family: 宋体;
	float: right;
}

#home-select select{
	width: 100px;
}

.home-paging{
	margin-top: 50px;
	text-align: center;

	font-family: 微软雅黑;
	font-size: 12.5px;
}

.home-paging a{
	display: inline;
}


#home-star{
	clear: both;
}

#home-star h2{
	font-family: 黑体;
	font-size: 25px;
	letter-spacing: 4px;
}

.home-star-row{
	margin-top: 10px;
	height: 250px;

	text-align: center;
}

.home-star-row > div{
	margin: 10px 12px;
	width: 180px;

	float: left;
}

.home-star-row img{
	width: 180px;
	height: 180px;

	border-radius: 180px;
	position: relative;
	behavior: url(/static/css/PIE.htc);
}

div.home-star-name{
	margin-top: 10px;
	font-family: 微软雅黑;
	font-size: 16.7px;

	letter-spacing: 2px;
}

#ajax-inner-field{
	height: 350px;
}


/*个人信息*/
h1{
	margin-top: 44px;
	font-family: 微软雅黑;
	font-size: 18.8px;
	display: block;

	font-weight: normal;
	letter-spacing: 2px;
}

#home-personal{
	margin-top: 20px;
	width: 100%;
	height: 520px;
}

.personal-left, .personal-right{
	border-radius: 5px;
}

.personal-left{
	float: left;
	width: 300px;
	height: 100%;

	background-color: #D9AE48;
}

.personal-photo{
	margin-top: 30px;

	height: 180px;
}

/*照片*/
.personal-photo img{
	margin-left: 20px;

	width: 150px;
	height: 150px;

	border-radius: 150px;

	position: relative;
	behavior: url(/static/css/PIE.htc);
}

/*名字*/
.personal-name{
	margin-top: 20px;
	width: 100px;

	float: right;
}

.personal-name div{
	margin-top: 10px;

	font-family: 黑体;
}

#left-select{
	margin-top: 40px;
}

.personal-right{
	width: 780px;
	height: 100%;
	border-right: 1px solid #D9AE48;
	border-bottom: 1px solid #D9AE48;
	float: right;
}

/*左边选择框, 右上角选择框字体*/
#left-select a, .personal-right-up a{
	font-family: 微软雅黑;
	font-size: 18.8px;
	color: #000000;
	text-align: center;
	letter-spacing: 3px;
}

#left-select a{
	height: 32px;
	line-height: 32px;
}

.background-white{
	background-color: #ffffff;
}

.display-none{
	display: none;
}

.personal-right-up{
	width: 100%;
	height: 40px;
	float: right;
	border-top: 1px solid #D9AE48;
	border-bottom: 1px solid #D9AE48;
}

.personal-right-up a{
	padding-top: 13px;
	float: left;
}

.underline{
	border-bottom: 2px solid #D9AE48;
}


.three-tab a{
	width: 33%;
}

.two-tab a{
	width: 50%;
}

.one-tab a{
	width: 100%;
}

.personal-right-bottom{
	width: 100%;
	height: 475px;

	clear: both;
	border: 1px solid #ffffff;
}

/*各个子模块*/
.personal-right-bottom > div{
	margin: 50px auto;
	width: 85%;
	height: 400px;

	/*border: 1px solid blue;*/
}

.home-text{
	font-family: 微软雅黑;
	font-size: 18.8px;
}

.home-button{
	width: 100px;
	height: 35px;
	font-family: 微软雅黑;
	font-size: 18.8px;
	border-radius: 5px;

	background-color: #D9AE48;
	color: #ffffff;
}

.overflow-handle{
	height: 350px;
	overflow: auto;
}

/*个人信息*/
#one1 td{
	height: 40px;
}

#one1 input{
	font-family: 微软雅黑;
	font-size: 18.8px;
	margin-top: 10px;
	width: 120px;
	text-align: center;
}

#radio-sex input{
	width: 50px;
}

#one1 img{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	position: relative;
	behavior: url(/static/css/PIE.htc);
}

/*个人简介*/
#one2 textarea{
	width: 100%;
	height: 40%;
}

#one2 input{
	margin-top: 30px;
	float: right;
}

/*会员卡*/
#one3 div{
	margin-top: 20px;
	margin-left: 250px;
	height: 30px;

	letter-spacing: 2px;
}

#one3 input{
	margin: 80px auto;
}

/*我的关注*/
.home-photo-block{
	overflow: auto;
	height: 370px;
}


.home-photo-row{
	margin-top: 10px;
	height: 120px;

	text-align: center;
}

.home-photo-row > div{
	margin: 10px 12px;
	width: 100px;

	float: left;
}

.home-photo-row img{
	width: 100px;
	height: 100px;

	background-size: 100px 100px;
	border-radius: 100px;
	position: relative;
	behavior: url(/static/css/PIE.htc);
}

#eight td{
	padding: 5px;
}

.delete-icon{
	width: 22px;
	height: 22px;
}

/*祭奠一下上面已经无用的css*/
/*******************分割线*******************/

a{
	display: inline;
	cursor: pointer;
}

ul{
	margin: 0;
	text-decoration: none;
}

/*背景色*/
#content{
	background-color: #f5f5f5;
}

#information > div{
	background-color: #fff;
}

.pagination ul > li > a:hover{
	background-color: #D9AE48;
}

/*封面部分*/
#cover{
	width: 100%;
	height: 565px;
	position: relative;
	/*background-image: url({{user.cover}});*/
	background-size: cover;

	font-family: 黑体;
	color: #fff;
}

#cover > div{
	width: 100%;
	height: 100%;
}

#cover-introduction{
	top: 0;
	right: 0;
	background-color: #000;
	opacity: 0.4;
	width: 340px;
	height: 100%;
	/*border: 1px solid #000;*/
	position: absolute;
}

#button-change-cover{
	margin: 10px 10px 0 0;
	text-align: right;
	font-size: 15px;
	cursor: pointer;
}

#cover-owner{
	margin-top: 10px;
	margin-left: 120px;
	min-height: 400px;
	vertical-align: middle;
	text-align: center;
}

#cover-owner-1{
	font-size: 30px;
	line-height: 30px;
	width: 30px;
	letter-spacing: 30px;

	text-align: center;
	word-break: break-all;
	padding: 5px 5px 5px 5px;
	border-right: 3px solid #fff;
}

#cover-owner-2{
	margin-left: -80px;
	font-size: 100px;
}

#cover-owner-3{
	margin-left: 80px;
	margin-top: 10px;
	font-size: 16px;
	line-height: 20px;
	width: 16px;
	letter-spacing: 16px;

	text-align: center;
	word-break: break-all;
}



/*个人介绍部分*/
#introduction{
	font-family: 黑体;
	margin-top: 0;
	margin-bottom: -50px;
	min-height: 350px;
	width: 100%;
	background-image: url(/static/images/homepage-decoration.png);
	background-size: 100% 100%;
}

/*个人介绍部分，注意分辨率兼容*/
#introduction > div{
	width: 920px;
	/*height: 300px;*/
	margin: auto;
	padding: 50px 120px;
	/*border: 1px solid #000;*/
}

/*左侧图*/
#introduction-left{
	float: left;
}

#introduction-left > img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	behavior: url(/static/css/PIE.htc);
}

#introduction-left > div{
	text-align: center;
	margin-top: 30px;
	font-size: 16px;
}

#introduction-left > div > a, #introduction-left > div > a:hover{
	color: #888;
}

/*右侧介绍*/
#introduction-right{
	margin-left: 280px;
	margin-top: 40px;
}

span#introduction-name{
	font-size: 25px;
}

span#introduction-category{
	margin-left: 20px;
	font-size: 16px;
	color: #D9AE48;
}

#introduction-slogon{
	margin-top: 29px;
	margin-left: 30px;
	margin-right: 70px;
}

#introduction-slogon > pre{
	width: 100%;
	min-height: 100%;
	font-size: 22px;
	line-height: 30px;
	color: #0e050a;
	border: none;
}

/*个人信息部分*/
#information{
	padding-top: 50px;
}

#homepage-settings, #homepage-fans, #homepage-news{
	display: none;
	position: relative;
}

#homepage-info{
	display: block;
	position: relative;
}

/*个人信息四个主分类tab*/
.main-tab, .sub-tabs{
	font-family: 黑体; 
	color: #000;
}

.main-tab{
}


.main-tab-ul{
	width: 100%;
	height: 50px;
	font-size: 16px;
	background-color: #eeeeee;

	border-top: 3px solid #f6f6f6;
	text-align: center;
}

.main-tab-ul > li{
	width: 100px;
	height: 100%;
	float: left;
	line-height: 50px;
}

.main-tab-ul > li > a{
	display: block;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc; 
}

.main-tab-ul > li > a.selected{
	background-color: #fff;
	margin-top: -3px;
	border-top: 3px solid #D9AE48;
}

/*次一级分类tab*/
.sub-tabs{
	margin-top: 20px;
}

#total-count{
	padding: 20px 50px;

	font-size: 25px;
	letter-spacing: 8px;
	color: gray;
	float: right;
}

#total-count > span{
	font-size: 46px;
	color: #D9AE48;
}

.sub-tab .idTabs{
	width: 100%;
	height: 30px;

	font-size: 16px;
	color: gray;
	text-align: center;
}

.sub-tab .idTabs > h3, .sub-tab .idTabs > li{
	margin: 0;
	width: 100px;
	height: 16px;

	font: 16px 黑体;
	color: #a8a7a6;
	float: left;
}

.sub-tab .idTabs > li > a{
	color: #a8a7a6;
}

.sub-tab .idTabs > li{
	width: 80px;
}

.sub-tab .idTabs a.selected{
	color: #f00;
}

/*各分类内容*/
.sub-content{
	width: 840px;
	margin: 50px auto 0 auto;
	min-height: 400px;
}

.sub-content a{
	color: #000;
}

.content-box{
	min-height: 300px;
}

.table-layout{
	display: table;
}

.table-row{
	display: table-row;
}

.table-cell{
	display: table-cell;
	font-size: 15px;
	padding-top: 20px;
	padding-right: 10px;
	letter-spacing: 1px;

	vertical-align: middle;
}

.table-cell img{
	width: 16px;
	height: 16px;
}

.sub-content .pagination{
	margin-top: 40px;
	min-height: 50px;
	text-align: center;
}

/*发布部分*/

/*发布的文章*/
/*total:840px*/
#release-sort-ul{
	display: block;
}

#release-article .col-1{
	width: 490px;
}

#release-article .col-2{
	width: 140px;
}

#release-article .col-3{
	width: 140px;
}

#release-article .col-4{
	padding-right: 0;	
}

#release-article .col-1 > a{
	color: #797979;
	font-weight: bold;
}

#release-article .col-2,
#release-article .col-3,
#release-article .col-4 > a{
	color: #a5a5a5;
}

/*发布的评论*/
#release-comment .col-1{
	width: 260px;
}

#release-comment .col-2{
	width: 350px;
}

#release-comment .col-3{
	width: 160px;
}

#release-comment .col-4{
	padding-right: 0;
}

#release-comment .col-1{
	color: #797979;
	font-weight: bold;
}

#release-comment .col-2 > a, 
#release-comment .col-3,
#release-comment .col-4 > a{
	color: #a5a5a5;
}

/*草稿箱*/
#draft .col-1{
	width: 480px;
}

#draft .col-2{
	width: 300px;
}

#draft .col-3{
	padding-right: 0;
}

#draft .col-1 > a{
	color: #797979;
	font-weight: bold;
}

#draft .col-2,
#draft .col-3 > a{
	color: #a5a5a5;
}

/*收藏部分*/
/*收藏的文章*/
/*收藏的活动*/
#collection-article .col-1, #collection-activity .col-1{
	width: 480px;
}

#collection-article .col-2, #collection-activity .col-2{
	width: 300px;
}

#collection-article .col-3, #collection-activity .col-3{
	padding-right: 0;
}

#collection-article .col-1 > a, 
#collection-activity .col-1 > a{
	color: #797979;
	font-weight: bold;
}

#collection-article .col-2 > a, 
#collection-activity .col-2,
#collection-article .col-3 > a, 
#collection-activity .col-3 > a{
	color: #a5a5a5;
}

/*关注部分*/
/*关注作者*/
/*关注专栏*/
/*我的粉丝部分*/
#focus-user .focus-info, #focus-special .focus-info, #fans-all .focus-info{
	margin-bottom: 20px;
	font-size: 24px;
}

#focus-user .focus-info, #focus-special .focus-info, #fans-all .focus-info, #special-all .focus-info{
	display: inline-block;
	width: 140px;
	padding: 0 10px 0 10px;
	
	/*float: left;*/

	line-height: 30px;
	text-align: center;
	vertical-align: top;
}

#focus-user > div img, #focus-special > div img, #fans-all > div img, #special-all > div img{
	width: 100px;
	height: 100px;
	border-radius: 100px;

	background-size: 100px 100px;
	behavior: url(/static/css/PIE.htc);
}

.focus-info a{
	color: #797979;
}

/*我的专栏，往上看*/
#special-all .content-box .focus-info > div{
	margin-bottom: 20px;
	font-size: 24px;
}


/*曦潮币部分*/
#xichao-coin > .sub-tab h3{
	width: 100%;
	padding-left: 30px;
	text-align: left;
}

#xichao-coin > .sub-content{
	font-size: 18px;
	color: #797979;
}


/*消息中心部分*/
#homepage-news .main-tab-ul > li {
    width: 120px;
    height: 100%;
    float: left;
    line-height: 50px;
}

#news-sub-tabs .content-top{
	margin-bottom: 20px;
	color: #797979;
	font-weight: bold;
}

#news-sub-tabs .content-bottom{
	margin-bottom: 20px;
	text-align: right;
}

#news-sub-tabs .content-bottom > span{
	margin-left: 20px;
	color: #a5a5a5;
}

#news-sub-tabs .content-bottom > span > a{
	margin: 0 10px 0 10px;
	color: #a5a5a5;
}

/*个人信息修改*/
#basicinfo-img{
	float: left;
	width: 100px;
	height: 100px;
	font-family: 黑体;
}

#basicinfo-img > img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

a#change-photo{
	display: block;
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
}

#basicinfo-detail{
	margin-left: 240px;
}

#basicinfo-detail > div{
	min-height: 45px;
}

#basicinfo-detail > div > label{
	font-size: 22px;
	text-align: left;

	display: inline-block;
	width: 120px;

	cursor: auto;
	vertical-align: top;
}

#basicinfo-detail > div input{
	margin: 0;
	/*vertical-align: top;*/
	font-size: 18px;
}

#basicinfo-detail > div > span{
	margin: 0;
	font-size: 18px;
	/*display: inline-block;*/
	vertical-align: top;
}

#change-year, #change-month, #change-day{
	width: 50px;
} 

#basicinfo-detail > #basicinfo-detail-slogon{
	/*height: 200px;*/
}

#basicinfo-detail textarea{
	width: 420px;
	min-height: 150px;
	line-height: 25px;
}

.basicinfo-button{
	margin-top: 20px;
	text-align: left;
	clear: both;
}

.basicinfo-button > a{
	margin-right: 100px;
}

textarea#slogon-after-change{
	background-color: #fff;
	border: none;
	cursor: auto;
	box-shadow: none;
}

/*个人信息修改*/
.basicinfo-change{
	display: none;
}

#card-all{
	margin-top: 50px;
	margin-left: 300px;
}

#card-all > div, #card-all > div > label{
	height: 50px;
	font-size: 20px;
}

/*关注/私信*/
a.button-default{
	padding: 3px 25px;
	font-size: 20px;
	color: #000;
	border: 2px solid #D9AE48;
	/*border-radius: 5px;*/
	cursor: pointer;
}

a.button-default:hover{
	color: #fff;
	background-color: #D9AE48;
}

#focus-and-message{
	display: inline-block;
	float: right;
}

#focus-and-message a{
	display: inline-block;
	width: 80px;
	font-family: 微软雅黑;
	text-align: center;
	padding: 5px 10px;
	margin-left: 30px;
}


/*修改封面*/
#change-cover{
	width: 1160px;
	margin: auto;
	padding-bottom: 50px;

	font-family: 黑体;
	display: none;
}

#arrow-left, #arrow-right{
	padding-top: 70px;
	padding-bottom: 70px;
	color: #F90;
	font-size: 35px;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
	
	/* 不可选择文字 */
	-moz-user-select:none;/*火狐*/
	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/
	user-select:none;
}

#arrow-left:hover, #arrow-right:hover{
	color: #ff6600;
	cursor: pointer;
}

#cover-to-use{
	float: left;
	width: 540px;
	height: 300px;
}

#cover-to-use img{
	width: 540px;
	height: 218px;
}

#upload-cover{
	text-align: center;
	margin-top: 30px;
}

#upload-cover > a, #change-cover-save, #change-cover-cancel{
	background-color: #aaa;
	height: 50px;
	padding: 10px 25px;

	border: 0;
	box-shadow: 2px 2px 5px #888;
}

#cover-default{
	margin-left: 560px;
	width: 600px;
	height: 218px;
	text-align: left;

	padding-top: 120px;
}

#text-default-img{
	font-size: 20px;
	color: gray;
}

#cover-choice{
	padding: 20px 30px;
}

#cover-choice > a{
	padding: 0 5px;
	vertical-align: middle;
}

#cover-choice > img{
	width: 135px;
	height: 55px;
	cursor: pointer;
	border: 3px solid #fff;
}

#change-cover-save-cancel{
	width: 100%;
	text-align: center;
}

#change-cover-save-cancel > a{
	margin: 0 50px;
}

#change-cover-save{
	background-color: #D9AE48;
}
