.home-introduction{
	margin-top: 160px;
	width: 700px;
	height: 500px;

	float: right;
}

.home-introduction tr{
	height: 60px;
	text-align: center;
	font-family: 微软雅黑;
}


.home-col-1{
	width: 180px;
	letter-spacing: 5px;

	font-size: 29.2px;
	line-height: 30px;
}

.home-col-2, .home-col-3{
	width: 120px;
	line-height: 30px;
	letter-spacing: 5px;

	font-size: 16.7px;
	border-left: 1px solid #000000;
}

.home-col-4{
	padding-left: 30px;
	padding-right: 10px;
}

.home-col-4 > input, .home-col-5 > input{
	width: 100px;
	height: 40px;

	font-family: 微软雅黑;
	font-size: 20.8px;

	border-radius: 5px;

	background-color: #D9AE48;
}

/*个人介绍*/
.home-introduction div{
	margin: 40px auto;

	width: 670px;
	height: 300px;
	letter-spacing: 2px;
	text-align: center;

	line-height: 25px;
	font-family: 微软雅黑;
	font-size: 18.7px;
}

#home-select{
	font-family: 宋体;
	float: right;
}

#home-select select{
	width: 100px;
}

.home-paging{
	margin-top: 50px;
	text-align: center;

	font-family: 微软雅黑;
	font-size: 12.5px;
}

.home-paging a{
	display: inline;
}


#home-star{
	clear: both;
}

#home-star h2{
	font-family: 黑体;
	font-size: 25px;
	letter-spacing: 4px;
}

.home-star-row{
	margin-top: 10px;
	height: 250px;

	text-align: center;
}

.home-star-row > div{
	margin: 10px 12px;
	width: 180px;

	float: left;
}

.home-star-row img{
	width: 180px;
	height: 180px;

	border-radius: 180px;
	position: relative;
	behavior: url(/static/css/PIE.htc);
}

div.home-star-name{
	margin-top: 10px;
	font-family: 微软雅黑;
	font-size: 16.7px;

	letter-spacing: 2px;
}

#ajax-inner-field{
	height: 350px;
}


/*个人信息*/
h1{
	margin-top: 44px;
	font-family: 微软雅黑;
	font-size: 18.8px;
	display: block;

	font-weight: normal;
	letter-spacing: 2px;
}

#home-personal{
	margin-top: 20px;
	width: 100%;
	height: 520px;
}

.personal-left, .personal-right{
	border-radius: 5px;
}

.personal-left{
	float: left;
	width: 300px;
	height: 100%;

	background-color: #D9AE48;
}

.personal-photo{
	margin-top: 30px;

	height: 180px;
}

/*照片*/
.personal-photo img{
	margin-left: 20px;

	width: 150px;
	height: 150px;

	border-radius: 150px;

	position: relative;
	behavior: url(/static/css/PIE.htc);
}

/*名字*/
.personal-name{
	margin-top: 20px;
	width: 100px;

	float: right;
}

.personal-name div{
	margin-top: 10px;

	font-family: 黑体;
}

#left-select{
	margin-top: 40px;
}

.personal-right{
	width: 780px;
	height: 100%;
	border-right: 1px solid #D9AE48;
	border-bottom: 1px solid #D9AE48;
	float: right;
}

/*左边选择框, 右上角选择框字体*/
#left-select a, .personal-right-up a{
	font-family: 微软雅黑;
	font-size: 18.8px;
	color: #000000;
	text-align: center;
	letter-spacing: 3px;
}

#left-select a{
	height: 32px;
	line-height: 32px;
}

.background-white{
	background-color: #ffffff;
}

.display-none{
	display: none;
}

.personal-right-up{
	width: 100%;
	height: 40px;
	float: right;
	border-top: 1px solid #D9AE48;
	border-bottom: 1px solid #D9AE48;
}

.personal-right-up a{
	padding-top: 13px;
	float: left;
}

.underline{
	border-bottom: 2px solid #D9AE48;
}


.three-tab a{
	width: 33%;
}

.two-tab a{
	width: 50%;
}

.one-tab a{
	width: 100%;
}

.personal-right-bottom{
	width: 100%;
	height: 475px;

	clear: both;
	border: 1px solid #ffffff;
}

/*各个子模块*/
.personal-right-bottom > div{
	margin: 50px auto;
	width: 85%;
	height: 400px;

	/*border: 1px solid blue;*/
}

.home-text{
	font-family: 微软雅黑;
	font-size: 18.8px;
}

.home-button{
	width: 100px;
	height: 35px;
	font-family: 微软雅黑;
	font-size: 18.8px;
	border-radius: 5px;

	background-color: #D9AE48;
	color: #ffffff;
}

.overflow-handle{
	height: 350px;
	overflow: auto;
}

/*个人信息*/
#one1 td{
	height: 40px;
}

#one1 input{
	font-family: 微软雅黑;
	font-size: 18.8px;
	margin-top: 10px;
	width: 120px;
	text-align: center;
}

#radio-sex input{
	width: 50px;
}

#one1 img{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	position: relative;
	behavior: url(/static/css/PIE.htc);
}

/*个人简介*/
#one2 textarea{
	width: 100%;
	height: 40%;
}

#one2 input{
	margin-top: 30px;
	float: right;
}

/*会员卡*/
#one3 div{
	margin-top: 20px;
	margin-left: 250px;
	height: 30px;

	letter-spacing: 2px;
}

#one3 input{
	margin: 80px auto;
}

/*我的关注*/
.home-photo-block{
	overflow: auto;
	height: 370px;
}


.home-photo-row{
	margin-top: 10px;
	height: 120px;

	text-align: center;
}

.home-photo-row > div{
	margin: 10px 12px;
	width: 100px;

	float: left;
}

.home-photo-row img{
	width: 100px;
	height: 100px;

	background-size: 100px 100px;
	border-radius: 100px;
	position: relative;
	behavior: url(/static/css/PIE.htc);
}

#eight td{
	padding: 5px;
}

.delete-icon{
	width: 22px;
	height: 22px;
}

/*祭奠一下上面已经无用的css*/
/*******************分割线*******************/

a{
	display: inline;
	cursor: pointer;
}

ul{
	margin: 0;
	text-decoration: none;
}

/*封面部分*/
#cover{
	width: 100%;
	height: 500px;
	position: relative;

	font-family: 微软雅黑;
	color: #fff;
}

#cover > div{
	width: 100%;
	height: 100%;
}

#cover img{
	display: block;
	width: 100%;
	height: 100%;	
}

#cover-introduction{
	top: 0;
	right: 0;
	background-color: #000;
	opacity: 0.4;
	width: 350px;
	height: 100%;
	/*border: 1px solid #000;*/
	position: absolute;
}

#change-cover{
	margin: 20px 20px 0 0;
	text-align: right;
	font-size: 15px;
}


#cover-owner{
	margin-top: 20px;
	margin-left: 120px;
	text-align: center;
}

#cover-owner-nick{
	font-size: 30px;
	width: 20px;
	overflow: hidden;

	line-height: 30px;
	text-align: center;
	word-break: break-all;
	padding-right: 20px;
	border-right: 1px solid #fff;
}




/*个人介绍部分*/
#introduction{
	font-family: 黑体;
	margin-top: 50px;
	min-height: 300px;
	background-image: url(/static/images/homepage-decoration.png);
	background-size: 100% 100%;
}

/*个人介绍部分，注意分辨率兼容*/
#introduction > div{
	width: 920px;
	height: 300px;
	margin: auto;
	padding: 70px 120px 70px 120px;
	/*border: 1px solid #000;*/
}

/*左侧图*/
#introduction-left{
	float: left;
}

#introduction-left > img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	behavior: url(/static/css/PIE.htc);
}

#introduction-left > div{
	text-align: center;
	margin-top: 30px;
	font-size: 16px;
}

#introduction-left > div > a, #introduction-left > div > a:hover{
	color: #888;
}

/*右侧介绍*/
#introduction-right{
	margin-left: 280px;
	margin-top: 40px;
}

span#introduction-name{
	font-size: 25px;
}

span#introduction-category{
	margin-left: 20px;
	font-size: 16px;
	color: #D9AE48;
}

#introduction-slogon{
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 40px;

	font-size: 22px;
	line-height: 30px;
}

/*个人信息部分*/
#information{
	padding-top: 50px;
}

#homepage-info, #homepage-fans, #homepage-news{
	display: none;
	position: relative;
}

/*个人信息四个主分类tab*/
.main-tab, .sub-tabs{
	font-family: 微软雅黑; 
	color: #000;
}

.main-tab{
}

.main-tab-ul{
	width: 100%;
	height: 50px;
	font-size: 16px;
	background-color: #D0D0D0;

	text-align: center;
}

.main-tab-ul > li{
	width: 100px;
	height: 100%;
	float: left;
	line-height: 50px;
}

.main-tab-ul > li > a{
	display: block;
}

.main-tab-ul > li > a.selected{
	background-color: #fff;
	margin-top: -3px;
	border-top: 3px solid #D9AE48;
}

/*次一级分类tab*/
.sub-tabs{
	margin-top: 20px;
}

#total-count{
	padding: 20px 50px;

	font-size: 25px;
	letter-spacing: 8px;
	color: gray;
	float: right;
}

#total-count > span{
	font-size: 46px;
	color: #D9AE48;
}

.sub-tab .idTabs{
	width: 100%;
	height: 30px;

	font-size: 16px;
	color: gray;
	text-align: center;
}

.sub-tab .idTabs > h3, .sub-tab .idTabs > li{
	margin: 0;
	width: 100px;
	height: 16px;

	font: 16px 微软雅黑;
	float: left;
}

.sub-tab .idTabs > li{
	width: 80px;
}

.sub-tab .idTabs a.selected{
	color: #f00;
}

/*各分类内容*/
.sub-content{
	width: 840px;
	margin: 50px auto;
	min-height: 400px;
}

.sub-content a{
	color: #000;
}

.content-box{
	min-height: 300px;
}

.table-layout{
	display: table;
}

.table-row{
	display: table-row;
}

.table-cell{
	display: table-cell;
	font-size: 15px;
	padding-top: 20px;
	padding-right: 10px;
	letter-spacing: 1px;

	vertical-align: middle;
}

.table-cell img{
	width: 16px;
	height: 16px;
}

.sub-content .pagination{
	margin-top: 40px;
	min-height: 50px;
	text-align: center;
}

/*发布部分*/

/*发布的文章*/
/*total:840px*/
#release-article .col-1{
	width: 490px;
}

#release-article .col-2{
	width: 140px;
}

#release-article .col-3{
	width: 140px;
}

#release-article .col-4{
	padding-right: 0;
}


/*发布的评论*/
#release-comment .col-1{
	width: 260px;
}

#release-comment .col-2{
	width: 350px;
}

#release-comment .col-3{
	width: 160px;
}

#release-comment .col-4{
	padding-right: 0;
}


/*草稿箱*/
#draft .col-1{
	width: 480px;
}

#draft .col-2{
	width: 300px;
}

#draft .col-3{
	padding-right: 0;
}


/*收藏部分*/
/*收藏的文章*/
/*收藏的活动*/
#collection-article .col-1, #collection-activity .col-1{
	width: 480px;
}

#collection-article .col-2, #collection-activity .col-2{
	width: 300px;
}

#collection-article .col-3, #collection-activity .col-3{
	padding-right: 0;
}

/*关注部分*/
/*关注作者*/
/*关注专栏*/
/*我的粉丝部分*/
#focus-user .focus-info, #focus-special .focus-info, #fans-all .focus-info{
	display: inline-block;
	width: 144px;
	padding: 0 10px 0 10px;
	margin-bottom: 30px;
	/*float: left;*/

	font-size: 24px;
	line-height: 30px;
	text-align: center;
	vertical-align: top;
}

#focus-user > div img, #focus-special > div img, #fans-all > div img{
	width: 100px;
	height: 100px;
	border-radius: 100px;

	background-size: 100px 100px;
	behavior: url(/static/css/PIE.htc);
}

.focus-info > div{
	padding-bottom: 20px;
}

/*曦潮币部分*/
#xichao-coin > .sub-tab h3{
	width: 100%;
	padding-left: 30px;
	text-align: left;
}

#xichao-coin > .sub-content{
	font-size: 18px;
}


/*消息中心部分*/
#homepage-news .main-tab-ul > li {
    width: 120px;
    height: 100%;
    float: left;
    line-height: 50px;
}

#news-sub-tabs .content-top{
	margin-bottom: 20px
}

#news-sub-tabs .content-bottom{
	margin-bottom: 20px;
	text-align: right;
}

#news-sub-tabs .content-bottom > span{
	margin-left: 20px;
}

#news-sub-tabs .content-bottom > span > a{
	margin: 0 10px 0 10px;
}