h2{
	font: 20.8px 黑体;
	font-size: 20.8px;
	letter-spacing: 2px;
}

#index-up{
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 580px;

	box-shadow: 3px 3px 6px 0px #000; /*阴影*/
	overflow: hidden;
}

#index-up > div{
	position: absolute;
	width: 1070px;
	height: 100%;

	background-size: 100% 100%;
	box-shadow: -10px 0px 40px 1px #000; /*阴影*/
	top: 0;
}

.index-up-middle-layer{
    width: 1070px;
    height: 580px;
    position: absolute;
}

.index-up-content{
	margin-top: 40px;
	margin-left: 38px;
}

.index-up-content-left{
	width: 150px;
    height: 450px;
    
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    /*height: 240px;*/
	

	float: left;
    padding-top: 20px;
    
}

.index-up-content-left h3{
    margin-top: 85px;
    margin-left: 50px;
	font-family: 黑体;
	font-size: 22px;
	font-weight: bold;

	width: 10px;
    line-height: 25px;

	text-align: center;
	word-break: break-all;
	color: #fff;
    position: absolute;
}

.index-up-content-left > h4{
    margin-left: 100px;
    position: relative;
    font-family: 黑体;
    font-size: 14px;
    font-weight: bold;

    width: 10px;
    line-height: 16px;

    text-align: center;
    word-break: break-all;
    color: #fff;
    position: absolute;
    bottom: 137px;
}

.index-up-content-right{
	margin-left: 30px;
	width: 550px;
	height: 690px;

	font-family: 黑体;
	font-size: 16px;
    color: white;

	float: left;
}

.index-up-content-right > div{
	margin-left: 20px;
	width: 690px;
}

div.index-special-abstract{
	margin-top: 115px;
	height: 83px;
    font-size: 17px;
    line-height: 20px;
	/*border: 1px solid red;*/

	line-height: 30px;

	word-wrap:break-word;
	overflow: hidden;
}

.index-special-recommend{
	margin-top: 30px;
}

.index-special-recommend tr{
	height: 30px;
}

.index-special-recommend td{
    white-space:nowrap;
    overflow: hidden;
    text-align: left;
    font-family: 黑体;
    color: white;
}

.index-up-content-right a{
	float: left;
	color: white;
}

#index-middle{
	margin-top: 30px;
	width: 760px;
	/*height: 300px;*/
	font-family: 黑体;
    float:left;
}

#index-middle h2, #index-bottom h2{
	padding-bottom: 10px;
	border-bottom: 2px solid gray;
    text-align: center;
    font: 30px liukai;
    font-weight: bold;
}

.index-hot-entry{
    width: 750px;
    height: 190px;
    margin-top: 20px;
    background-color: #white;
      -webkit-box-shadow:2px 2px 3px 0px #f0f0f0;  
    -moz-box-shadow:2px 2px 3px 0px #f0f0f0;  
    box-shadow:2px 2px 3px 0px #f0f0f0;


  background-image: -moz-linear-gradient(top,#fbfbfb,#fbfbfb);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbfbfb),to(#fbfbfb));
  background-image: -webkit-linear-gradient(top,#fbfbfb,#fbfbfb);
  background-image: -o-linear-gradient(top,#fbfbfb,#fbfbfb);
  background-image: linear-gradient(to bottom,#fbfbfb,#fbfbfb);
}

#index-middle a:hover{
    border-color: #D9AE48;
    border-width: 1px;
}

.index-hot-entry-left{
    float:left;
    width: 160px;
    height: 160px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.index-hot-entry-left-num{
    height: 15px;
    width: 35px;
    background-color: black;
    color: white;
    opacity: 0.75;
    font-family: 黑体;
    font-size: 22px;
    text-align: center;
    position: relative;
    padding-top: 7px;
    padding-bottom: 13px;
}

.index-hot-entry-left-title{
    width: 150px;
    height: 26px;
    background-color: black;
    color: white;
    opacity: 0.67;
    position: relative;
    margin-top: 90px;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
}

.index-hot-entry-left-title > p{
    font-size: 14px;
    font-family: 黑体;
    text-align: center;
    height: 18px;
    overflow: hidden;
}

.index-hot-entry-right{
    width: 550px;
    height: 160px;
    position: absolute;
    margin-left: 210px;
    margin-top: 20px;
}

.index-hot-entry-right-title{
    text-align: left;
    font-size: 22px;
    font-family: 黑体;
    margin-bottom: 10px;
    font-weight: bold;
}

.index-hot-entry-right-intro{
    width: 525px;
    height: 60px;
    margin-top: 10px;
    font-family: 黑体;
    color: white;
    padding: 10px;
    background-color: #313131;
}

.index-hot-entry-right-intro > p{
    height: 60px;
    overflow: hidden;
    position: relative;
    max-height: 60px;
}

#index-right{
    float: right;
    width: 360px;
    position: relative;
    margin-left: 40px;
    margin-top: 28px;
}

#index-right h2, #index-right h2{
	padding-bottom: 10px;
	/*border-bottom: 2px solid gray;*/
    text-align: center;
    font: 30px liukai;
    font-weight: bold;
    margin-bottom: -10px;
}

/*******************热门活动*******************/
.index-hot-activity{
     margin-top: 26px;   
}

.index-hot-activity-img{
    width: 350px;
    height: 215px;
    padding: 5px;
}

.index-hot-activity-img > div{
    width: 100%;
    height: 100%;
    background-color: grey;
}

.index-hot-activity{
     margin-top: 26px;   
}

.index-hot-activity > h3{
    text-align: center;
    font-size: 20px;
}

/*******************热门观点*******************/

.index-right-point{
    margin-top: 35px;
}

.index-hot-point{
     margin-top: 26px;   
}

.index-hot-point > h3{
    text-align: center;
    font-size: 20px;
}

.index-hot-point-img{
    width: 350px;
    height: 215px;
    padding: 5px;
}

.index-hot-point-img > div{
    width: 100%;
    height: 100%;
    background-color: grey;
}


/*******************广场动态*******************/

.index-right-square{
    margin-top: 60px;
}

.index-hot-square > h4{
    text-align: center;
    font-size: 16px;
    font-family: 黑体;
    margin-top: 0px;
}
.index-hot-square > h5{
    text-align: right;
    font-size: 13px;
    font-family: 黑体;
}

.index-hot-square > p{
    font-size: 14px;
    font-family: 宋体;
    height: 38px;
    overflow: hidden;
}

/**************************************/
.index-hot{
	width: 205px;
	height: 100%;
	float: left;
	margin-right: 12px;
	margin-bottom: 30px;

	overflow: hidden;
}

.index-hot img{
	width: 205px;
	height: 205px;
}

.index-hot-title, .index-bottom-title{
	margin-top: 10px;
	text-align: center;
	font-size: 16.7px;
}

.index-hot-author, .index-bottom-author{
	margin-top: 10px;
	font-family: 宋体;
	font-size: 11px;
	color: gray;
	word-break: break-all;
	
	float: right;
}

.index-hot-abstract, .index-bottom-abstract{
	margin-top: 10px;
	height: 40px;

	/*text-align: center;*/
	font-family: 微软雅黑;
	font-size: 14px;
}

.index-view-more{
	float: right;
	font: 16.7px 微软雅黑;
}

#index-bottom{
	clear: both;
	height: 400px;
	padding-top: 20px;
	font-family: 黑体;
}

#index-bottom > div{
	width: 48%;
	float: left;
}

.index-bottom-detail{
	margin-top: 20px;
	width: 100%;
	height: 240px;
}

.index-bottom-img{
	width: 240px;
	height: 240px;
	float: left;
}

.index-bottom-img img{
	width: 100%;
	height: 100%;
}

.index-bottom-article{
	margin-left: 20px;
	width: 240px;
	height: 240px;
	float: left;
}

.index-bottom-title{
	margin-top: 0px
}
