#index-up{
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 485px;

	box-shadow: 5px 5px 10px 1px #000; /*阴影*/
	overflow: hidden;
}

#index-up > div{
	position: absolute;
	width: 973px;
	height: 100%;

	background-size: 100% 100%;
	box-shadow: -5px 0px 40px 1px #000; /*阴影*/
	top: 0;
}

.index-up-content{
	margin-top: 40px;
	margin-left: 38px;
}

.index-up-content-left{
	width: 65px;
	/*height: 240px;*/
	border-radius: 5px;

	background-color: #000;
	opacity: 0.7;

	float: left;
}

.index-up-content-left h3{
	margin: 20px auto 20px;

	font-family: 微软雅黑;
	font-size: 18.8px;
	font-weight: bold;

	width: 10px;

	text-align: center;
	word-break: break-all;
	color: #fff;
}

.index-up-content-right{
	margin-left: 30px;
	width: 550px;
	height: 375px;

	font-family: 黑体;
	font-size: 16.7px;

	background-color: #fff;
	opacity: 0.8;

	float: left;
}

.index-up-content-right > div{
	margin-left: 20px;
	width: 500px;
}

div.index-special-abstract{
	margin-top: 30px;
	height: 120px;
	/*border: 1px solid red;*/

	line-height: 30px;

	word-wrap:break-word;
	overflow: hidden;
}

.index-special-recommend{
	margin-top: 30px;
}

.index-special-recommend tr{
	height: 30px;
}

.index-special-recommend td{
    white-space:nowrap;
    overflow: hidden;
    text-align: left;
    font-family: 微软雅黑;
}

.index-up-content-right a{
	float: left;
	color: #000;
}

#index-bottom{
	margin-top: 100px;
	width: 100%;
	/*height: 300px;*/
	font-family: 黑体;

	border-top: 2px solid gray;
}

#index-bottom h2{
	margin-top: -35px;
	font-size: 20.8px;
	letter-spacing: 2px;
}

.index-hot{
	width: 205px;
	height: 390px;
	float: left;
	margin-right: 12px;
	margin-bottom: 30px;

	overflow: hidden;
}

.index-hot img{
	width: 205px;
	height: 205px;
}

.index-hot-title{
	margin-top: 10px;
	text-align: center;
	font-size: 16.7px;
}

.index-hot-author{
	margin-top: 10px;
	font-family: 宋体;
	font-size: 11px;
	color: gray;
	word-break: break-all;
	
	float: right;
}

.index-hot-abstract{
	margin-top: 10px;
	height: 40px;

	/*text-align: center;*/
	font-family: 微软雅黑;
	font-size: 12.5px;
}
