/*#login-current-pos{
    height: 88px;
}*/

#login-content{
    height: 482px;
    position: relative;
}

#login-lantern{
    position: absolute;
    left: 0; top: 0;

    height: 428px;
    
    z-index: 1;
    float: left;
}



#login-outside-circle{
    position: absolute;
    left: 627px; top: -27px;

    height: 482px;
    width: 482px;
    z-index: 2;

    opacity: 0.5;
}

#login-inside-circle{
    position: absolute;
    left: 643px; top: -7px;

    height: 442px;
    width: 442px; /*inside circle diameter*/
    z-index: 3;

    background-image: url("/static/images/login-gray-circle.png");
    background-size: 442px 442px;
    background-repeat: no-repeat;
}

#login-form-block{ /*不包括点击注册一行*/
    width: 299px;
    /*height: 228px;*/
    margin: 112px auto 102px auto;
    /*background-color: #aaaaaa;*/
}

.login-userinfo > input{
    width: 299px;
    height: 40px;
    margin: 0 auto 24px auto;

    font-size: 16px;
    font-family: 微软雅黑;
    background: #ffffff;
}

#login-autologin{
    margin-top: 0;
    height: 62px;
    width: 100%;
    font-size: 14px;
    float: left;
    font-family: 微软雅黑;

}

#login-autologin > a{
    float: right;
}

#login-submit{
    margin-left: 30%;
}

#login-submit > input{
    width: 118px;
    height: 38px;

    background-color: #D9AE48;
    color: white;
    font-family: 微软雅黑;
    font-size: 20px;
}

#login-submit a{
    width: 118px;
    height: 38px;

    font-family: 微软雅黑;
    font-size: 12px;
}

.login-error-tip {
    font-size: 12px;
    position: absolute;
    padding: 4px 7px;
    background-color: #DF4D3F;
    border-radius: 2px;
    color: #FFF;
    /*display: none;*/
}

.login-error-tip:after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -4px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px;
    border-color: #DF4D3F transparent transparent;
}

.login-error-1{
    margin-left: -305px;
    margin-top: -60px;
}

.login-error-2{
    margin-top: -95px;
}