/*#login-current-pos{
    height: 88px;
}*/

#login-content{
    height: 482px;
    position: relative;
}

#login-lantern{
    position: absolute;
    left: 0; top: 0;

    height: 428px;
    
    z-index: 1;
    float: left;
}



#login-outside-circle{
    position: absolute;
    left: 600px; top: -27px;

    height: 482px;
    width: 482px;
    z-index: 2;

    border-radius: 482px;
    background-color: #fff;
    behavior: url(/static/css/PIE.htc);

    opacity: 0.5;
    filter:alpha(opacity=50); /*IE8适配*/
}

#login-inside-circle{
    position: absolute;
    left: 616px; top: -7px;

    height: 442px;
    width: 442px; /*inside circle diameter*/
    z-index: 3;

    border-radius: 442px;
    background-color: #e5e5e5;
    behavior: url(/static/css/PIE.htc);
}

#login-form-block{ /*不包括点击注册一行*/
    width: 299px;
    /*height: 228px;*/
    margin: 112px auto 102px auto;
    /*background-color: #aaaaaa;*/
}

.login-userinfo{
    width: 299px;
    height: 40px;

    margin: 0 auto 24px auto;
    background-color: white;
    border: 1px solid gray;
}

.login-userinfo div{
    float: left;
    width: 90px;
}

.login-userinfo label{
    margin-left: 10px;
    font-family: 微软雅黑;
    font-size: 16.7px;

    line-height: 40px;
}

.login-userinfo input{
    width: 200px;
    height: 40px;

    line-height: 40px;
    margin-right: 0px;

    font-size: 12.5px;
    font-family: 微软雅黑;
    border-color: transparent;
}

#login-autologin{
    margin-top: 0;
    height: 62px;
    width: 100%;
    font-size: 12px;
    float: left;
    font-family: 微软雅黑;

}

#login-autologin > a{
    float: right;
}

#login-submit{
    margin-left: 30%;
}

#login-submit > input{
    width: 118px;
    height: 38px;

    border-radius: 8px;
    background-color: #D9AE48;
    color: white;
    font-family: 微软雅黑;
    font-size: 17px;

    behavior: url(/static/css/PIE.htc);
}

#login-submit a{
    width: 118px;
    height: 38px;

    font-family: 微软雅黑;
    font-size: 12px;
}

.login-error-not-match{
    margin-top: -95px;
}

.login-error-empty{
    margin-top: -95px;
}

#login-sendmail > input{
    margin-left: 15%;
    height: 38px;
    width: 70%;

    border-radius: 8px;
    background-color: #D9AE48;
    color: white;
    font-family: 微软雅黑;
    font-size: 17px;
}

.login-yellow{
    color: #D9AE48;
}
