*{
	margin: 0;
	padding: 0;
}

body{
    position: relative;
    width: 100%;
    margin: auto;
}

input{
    border: solid 1.5px #aaaaaa;
    
}

a{
	text-decoration: none;
    display: block;
}

.clear{
    clear: both;
}


.main-color{
    color: #D9AE48;
}

/*******************字体*****************/
@font-face { 
  font-family: 尚黑; /*这里是说明调用来的字体名字*/ 
  src: url('/static/font/MFShangHei_Noncommercial-Regular.otf'); /*这里是字体文件路径*/ 
} 

/*******************header*****************/
ul{
    list-style:none; /*去黑点*/
    padding-left: 0;
}

#header{
    width: 1085px;
    margin: auto;
}

#nav-bar-header{
    height: 144px;
    width: 100%;
    padding-top: 60px;
}

#nav-bar-logo{
    float: left;
    margin-top: -10px;
}

#nav-bar-button{
    float: right;
}

.nav-bar-login{
    width: 60px;
    float: left;
    text-align: center;
}

.nav-bar-login-first{
    border-right: 2px solid #000000;
    width: 300px;
    text-align: right;
    padding-right: 15px; /*右对齐，有padding*/
}

.nav-bar-login > a{
    text-decoration: none;
    color: #000000;
    font-family: 微软雅黑;
    font-size: 12.5px;
}

#nav-bar-search{
	margin-top: 30px;
    height: 18px;
    float: right;
}

#nav-bar-search > input{
    width: 200px;
    height: 25px;
    font-size: 16px;
}

input:hover{
    border:solid 1.5px gray;
}

input:focus{
    border:solid 1.5px #00aaff; /*浅蓝*/
}

#nav-bar{
    position: relative;
    height: 34px;
    width: 100%;
    margin: auto;
}

#nav-bar > hr{
    margin: auto;
    width: 100%;
    color: #000000;
    background-color: #000000;
    height: 1px;
    border-width: 0;
}

.hover{
    background-color: #D9AE48;
}

.nav-bar-item{
    width: 20%;
    height: 30px;
    margin: 2px auto 2px auto;
    float: left;
    
    font-family: 微软雅黑;
    font-size: 16.7px;
    text-align: center; /*水平居中*/
    line-height: 30px; /*垂直居中*/
}

.nav-bar-item > a{
    text-decoration: none;
    color: #000000;
}



/*******************body*****************/
/*content对齐*/
#content{
    width: 1085px;
    margin: auto
}

.current-position{
    position: relative;
    height: 62px;
    margin-bottom: 26px;
}

.current-position p{
    position: absolute;
    bottom: 0;
}

.current-position-2{
    margin-top: 44px;
    font-family: 微软雅黑;
    font-size: 16.7px;

    color: #727272;
}

.input-button{
    /*
    width: 118px;
    height: 38px;*/

    font-family: 黑体;
    font-size: 20px;

    background-color: #D9AE48;
    color: #ffffff;
}



/*******************others*****************/
.error-tip {
    font-size: 12px;
    position: absolute;
    padding: 4px 7px;
    background-color: #DF4D3F;
    border-radius: 2px;
    color: #FFF;
    /*display: none;*/
}

.error-tip:after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -4px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px;
    border-color: #DF4D3F transparent transparent;
}
