#step-nav {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.step-item {
    width: 33%;
    font-size: 24px;
    font-family: 黑体;
    line-height: 32px;
    border-bottom: 5px solid rgb(166, 166, 166);
}
.step-item * {
    display: inline-block;
    color: rgb(166, 166, 166);
}
.step-num {
    margin-left: 30%;
    color: white;
    background-color: rgb(166, 166, 166);
    border-radius: 50%;
    width: 32px;
    text-align: center;
}

form {
    margin-top: 64px;
}
.register-table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 16px;

}
.register-table *{
    font-family: 微软雅黑;
    font-size: 24px;
    line-height: 32px;
    height: 32px;
    vertical-align: text-top;
}

input#email, input#nick, input#password, input#confirm, input#captcha{
    width: 300px;
    height: 32px;
    line-height: 32px;
    /*float: right;*/
    margin: 0px;
    font-size: 24px;
    border: 2px solid black;
}
input#captcha {
    width: 172px;
}
.next-step {
    padding: 4px 16px;
    width: 120px;
    margin: 48px auto;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    font-family: 黑体;
    border: 2px solid rgb(217, 174, 73);
    border-radius: 2px;
}

img#avatar_user{
    width: 200px;
    height: 200px;
    margin-left: 20%;
    vertical-align: text-top;
}


#avatar_button{
    width: 200px;
    height: 200px;
    margin-left: 20%;
    vertical-align: text-top;
    margin-top: -200px;
    font-size: 200px;
    line-height: 180px;
    text-align: center;
    color: grey;
    display: none;
}

.register-error{
    margin-left: -316px;
    margin-top: -40px;

    display: none;
}
