
.register-form-field{
    height: 40px;

    margin-bottom: 30px;
}

/*.register-not-first-form{
    margin-bottom: 30px;
}*/


td.register-label{
    width: 120px;
}

.register-label > label{
    font-family: 微软雅黑;
    font-size: 20px;
    line-height: 40px;
}


input#email, input#nick, input#password, input#confirm{
    width: 300px;
    height: 40px;
    /*float: right;*/

    font-size: 20px;
}

/*override*/
input#photo{
    border-width: 0;
}


.register-button{
	margin: 18px auto 48px 120px;
    width: 118px;
    height: 38px;

    font-family: 黑体;
    font-size: 20px;

    background-color: #D9AE48;
    color: #ffffff;
    float: left;
}
