
.register-form-field{
    height: 40px;

    margin-bottom: 30px;
}


td.register-label{
    width: 120px;
}

.register-label > label{
    font-family: 微软雅黑;
    font-size: 17px;
    line-height: 40px;
}

input#email, input#nick, input#password, input#confirm{
    width: 300px;
    height: 40px;
    /*float: right;*/

    font-size: 20px;
}

img#avatar_user{
    width: 200px;
    height: 200px;
    margin-left: 65px;
}

#register-avatar > div{
    float: left;
}

#default-avatar-gallery{
    margin-left: 50px; 
    margin-top: 120px;
    /*border: 1px solid #ff0000;*/
}

#avatar_button{
    font-family: 微软雅黑;
    font-size: 14px;

    border-radius: 5px;
    /*background-color: #D9AE48;*/
    color: gray;
}

img.default_avatar{
    width: 80px;
    height: 80px;
    border: 2px solid #ffffff;
}

.register-button{
	margin: 48px auto 48px 120px;
    width: 118px;
    height: 38px;

    font-family: 黑体;
    font-size: 17px;

    border-radius: 8px;
    background-color: #D9AE48;
    color: #ffffff;
    float: left;
}

.register-error{
    margin-left: 120px;
    margin-top: -70px;

    display: none;
}