.special_background{
    margin-top: -68px;
    height: 578px;
    width: 1160px;
    background-color: #f0f0f0;
    position: absolute;
    z-index: -500;
}

#special-search{
    margin-top: 51px;
    float: left;
    font-family: 微软雅黑;
    font-size: 20px;
}

#special-search  input{
    height: 25px;
}

/*排序选择器*/
#sort_select{
    font-family: 微软雅黑;
    float:right; 
    margin-top: 51px;
}

.special-part1{
	clear: both;
}

/*专栏图*/
img#special-part1-img1{
	margin-top: 15px;
	margin-left: 15px;
	width: 330px;
	height: 330px;

    border-radius: 330px;
    position: relative;
    behavior: url(/static/css/PIE.htc);
}
#special-part1-img2{
    margin-top: 20px;
    margin-left: 0px;
    border-left: 0px;
    position: absolute;
    
    width: 362px;
    height: 362px;
}


#special-part1-content, .special-part1-right > a, .special-part2-left > a{
	font-family: 宋体;
	font-size: 16.7px;
    width: 760px;
}

/*专栏图片区域*/
.special-part1-left{
	width: 360px;
	height: 548px;
	margin-top: 50px;
    float:left;
}

/*专栏标题*/
/*圆上面的竖线*/
.special-part1-left > h2{
	width: 25px;
	height: 180px;

	font-family: 黑体;
	font-size: 24px;
	line-height: 80px;
}

.special-part1-left > h2{
	margin-left: 180px;
    margin-top: -50px;
	padding-left: 20px;
	border-left: 2px solid #000000;
}

.special-part1-left > div{
	margin-left: 160px;
	border-left: 2px solid #000000;
}


.special-part1-right{
	font-family: 微软雅黑;
    float:right;
}


#special-part1-content > hr{
    margin-top: 10px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1.5px solid #000000;
}

#special-part1-content > a{ 
    text-align: center;
    font-size: 35px; 
    font-family: 黑体;
/*    border-bottom: 2.5px solid #000000;*/
}

#author-coin{
    margin-top: 5px;
    text-align: right;
    font-size: 14px;
    font-family: 黑体;
    margin-right: 10px;
}

/*专栏简介*/
#special-part1-content > p{
    margin-top: 21px;
	font-family: 楷体;
    font-size: 18px;
	overflow-y: auto;
    word-wrap: break-word;
    height: 100px;
}

/* 专栏最新文章 */

#latest-article{
    text-align: left;
    font-family: 宋体;
    font-size: 18px;
    background-repeat:no-repeat;
            background-size: 100% 100%;
            height: 170px;  
                padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 30px;
            padding-right: 30px;
}

#coin-image{
    width: 21px;
    height: 21px;
}

/* More按钮 */
.special-part1-right-more{
	margin-top: 10px;
    font-family: 楷体;
    font-size: 20px;
	letter-spacing: 1px;
    float:right;
}

/* 页码 */
#special-paging{
	margin-top: 320px;
	margin-bottom: 50px;
	float: right;
}

#special-paging > div{
	float: left;
	margin-left: 50px;
	text-align: center;
	font-family: 微软雅黑;
	font-size: 16.7px;
}
