.current-position{
    margin-top: 50px;
	font-family: 微软雅黑;
/*	font-size: 14px;*/
}

/*********************专栏介绍*********************/
#special-info-part{
	width: 100%;
	height: 360px;
	/*border: 2px solid #000000;*/
}

/*左侧信息*/
#special-info{
	width: 760px;
	height: 360px;
	
	float: left;
	/*border: 1px solid #ff0000;*/
}

#special-name{
	width: 100%;
	height: 360px;

	/*float: left;*/
	/*border: 1px solid #ff0000;*/
}


#special-cover{
	width: 360px;
	height: 360px;
	float: left;
}

#special-cover img{
	margin-top: 10px;
	margin-left: 10px;
	width: 340px;
	height: 340px;

    border-radius: 340px;
}

#special-introduction{
	width: 360px;
	height: 320px;
	margin-left: 38px;

	float: left;
	/*border: 1px solid #000000;*/
}

#special-introduction h2{
	margin-top: 0px;
	margin-bottom: 20px;
	height: 26px;
	text-align: center;	
    font-size: 24px;
    font-family: 黑体;
    line-height: 26px;
	overflow: hidden;
}
#special-introduction-content{
	margin-left: 10px;
	height: 120px;
	font-size: 14px;
    font-family: 黑体;
	overflow-y: hidden;
	word-wrap:break-word;
}
#special-introduction-table{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}
/*
#special-introduction p{
	height: 80px;
	font-size: 15px;
	font-family: 黑体;

	margin-top: 40px;
	overflow: auto;
}

#special-introduction table{
	margin-top: 20px;
	width: 300px;
	height: 60px;
	font-size: 13px;
	font-family: 黑体;

	overflow: auto;
}
*/
#special-introduction-share{
	margin-top: 45px;

	width: 100px;
    height: 38px;

    float: left;
}

#share-button{
	height: 35px;
	background-color: #fff;
  background-image: -moz-linear-gradient(top,#fff,#fff);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
  background-image: -webkit-linear-gradient(top,#fff,#fff);
  background-image: -o-linear-gradient(top,#fff,#fff);
  background-image: linear-gradient(to bottom,#fff,#fff);
  background-repeat: repeat-x;
  border-radius: 0px;
  float:left;
  	border: 2px solid #D9AE48;
  	border-radius: 2px;
  	width: 105px;
  	font-family: 黑体;
  	font-size: 20px;
  	color: #D9AE48;
}

.caret{
	border-top: 5px solid;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}


#share-option{
	min-width: 96px;
	border-radius: 0px;
}
#share-option>li>a{
	padding: 0px;
}
#share-option a:hover{
	background-image: linear-gradient(to bottom,#fff,#fff);
}

#special-memo{
	height: 40px;
	width: 360px;
    margin-left: 400px;
    margin-top: 320px;
    position: absolute;
	/*border: 1px solid #0000ff;*/
}

#special-memo > a{
    float:left;
    height: 69px;
    margin-top: 5px;
}

#special-memo-input > input{
    width: 105px;
    height: 35px;
    background-color: white;
    color: #D9AE48;
    font-size: 20px;
    font-family: 黑体;
    border-radius: 2px;
    border: 2px solid #D9AE48;
}

.delete-button{
    width: 105px;
    height: 35px;
    background-color: white;
    color: #D9AE48;
    font-size: 20px;
    font-family: 黑体;
    border-radius: 2px;
    border: 2px solid #D9AE48;
}

#special-memo-input > p{
    font-size: 15px;
    float:right;
    margin-left: 25px;
    margin-top: 7px;
    margin-right: 10px;
}



/*专栏作者信息*/
#special-auther{
	position: relative;
	width: 360px;
	height: 360px;

	float: right;
	border: 1px solid #D9AE48;
}

#special-auther img{
	position: absolute;
	width: 100%;
	height: 100%;
}

#special-author-inner{
	position: absolute;

	width: 180px;
	height: 360px;

	/*border: 1px solid #000000;*/
}	

#special-author-inner img{
    margin-left: 27px;
    margin-top: 27px;
	width: 125px;
	height: 125px;

	/*z-index: 2;*/
	/*border: 1px solid #000000;*/
}

#special-author-right{
    width: 170px;
    height: 260px;
    margin-top: 50px;
    overflow-y: hidden;
    border-left: 1px solid #D9AE48;
    float: left;
    margin-left: 180px;
}

#special-author-right > p{
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 黑体;
    font-weight: bold;
    color: #D9AE48;
}

#special-author-right > a{
    color: grey;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 16px;
    overflow: hidden;
}

#special-transparent-circle{
	z-index: 2;
}

#special-auther-pic{
	z-index: 1;
	overflow: hidden;
}

#special-author-inner h2{
	margin: 160px 0px 0px 14px;

	font-family: 黑体;
	font-size: 18px;
    width: 160px;
    line-height: 20px;
	text-align: center;
	overflow: auto;
}

#special-author-inner input{
	margin: 10px 0 0 40px;
    width: 105px;
    height: 35px;
    background-color: white;
    color: #D9AE48;
    font-size: 20px;
    font-family: 黑体;
    border-radius: 2px;
    border: 1px solid #D9AE48;
	/*border: 1px solid #D9AE48;*/
}

.special-button{
	font-family: 黑体;
	font-size: 18px;

	background-color: #ffffff;
    color: #D9AE48;

    width: 105px;
    height: 33px;
	text-align: center;
}

#special-author-inner p{
	margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;

	height: 100px;
    width: 150px;
	font-family: 微软雅黑;
	font-size: 14px;

	overflow: hidden;
}



/**********************专栏文章信息**********************/

#special-bottom{
    width: 1160px;
}

#special-article-part{
	margin-top: 40px;
    width: 760px;
    float:left;
}

/*左侧信息*/
#special-article-info{
	width: 760px;
	float: left;
	/*height: 1000px;*/
	/*border: 1px solid #000000;*/
}

#special-article-info > hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

#special-title{
	height: 40px;
}

.special-article-entry{
    height: 140px;
    margin-left: 10px;
    margin-right: 10px;
    /*border-bottom: 1px solid #D9AE48;*/
}

.special-article-entry input{
    width: 105px;
    height: 35px;
    background-color: white;
    color: #D9AE48;
    font-size: 20px;
    font-family: 黑体;
    border-radius: 2px;
    border: 2px solid #D9AE48;
}

#special-article h3{
	margin-top: 5px;
	margin-bottom: 15px;
	color: #D9AE48;
	font-size: 22px;
    font-family: 黑体;
}


#special-article p{
	font-family: 黑体;
	font-size: 14px;
    height: 42px;
    overflow: hidden;
}

#special-article a{
      -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
    margin-bottom: 10px;
    /*border: 1px solid #D9AE48;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.055);
}

#special-article a:hover{
    box-shadow: 0 1px 3px #D9AE48;
}

#special-article table{
	padding-top: 20px;
	padding-bottom: 30px;

	float: left;
	/*border: 1px solid #D9AE48;*/
}

#special-article td{
	padding-right: 15px;
	font-family: 黑体;
	font-size: 13px;
}

#special-article input{
	margin-top: 6px;
	float: right;
	/*border: 1px solid #D9AE48;*/
}


#special-article hr{
	color: #D9AE48;
    margin-top: 2px;
    margin-bottom: 2px;
	clear: both;
}


/*其他作品*/
#special-other-works{
	margin-left: 202px;
	
	padding-left: 18px;

	height: 282px;

	float: left;
	border-left: 1px solid #D9AE48;
	/*border: 1px solid #D9AE48;*/
}

#special-other-works h3{
	font-family: 黑体;
	font-size: 18px;
	color: #D9AE48;
}

#special-other-works ul{
	margin-top: 48px;
	font-family: 微软雅黑;
	font-size: 14px;
}




/**********************类似专栏*********************/
#special-related{
	width: 360px;
    margin-top:40px;
    float:right;
}

.special-related-entry{
    margin-top: 20px;
    width: 160px;
    float: left;
}
.special-related-entry h3{
    font-size: 16px;
    font-family: 黑体;
    height: 25px;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.special-related-entry h4{
    font-size: 12px;
    font-family: 黑体;
    height: 15px;
    line-height: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #D9AE48;
}

.special-related-entry p{
    font-size: 12px;
    font-family: 黑体;
    height: 15px;
    line-height: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: grey;
}

.special-related-img{
    width: 160px;
    height: 200px;
}

.special-separate-block{
	height: 35px;
    width: 100%;
    position: relative;
	/*border: 1px solid #000000;*/
	background-color: #ebce98;
}

.special-separate-block > h3{
    font-size: 24px;
    font-family: 微软雅黑;
    margin-top: 0px;
    margin-left: 10px;
}

#special-related td{/*
	width: 112px;
	height: 160px;*/
	padding-right: 60px;
}

#special-related img{
	width: 122px;
	height: 160px;
}

#special-related-name td{
	padding-top: 10px;

	padding-right: 0;
	font-family: 黑体;
	font-size: 16px;
	/*border: 1px solid #000000;*/
}

#special-related-auther td, #special-related-subscription td{
	/*padding-top: 10px;*/

	padding-right: 0;
	font-family: 黑体;
	font-size: 13px;
	/*border: 1px solid #000000;*/
}

#special-related-auther td{
	color: #D9AE48;
}


/**********************换页*********************/

#special-paging{
	margin-top: 0px;
	margin-right: 0px;
}

#special-paging > div{
	float: left;
	margin-left: 50px;
	text-align: center;
	font-family: 微软雅黑;
	font-size: 16.7px;
}

.pager li>a:hover{
    background-color: #D9AE48;
}
