

.special_background{
    margin-top: -110px;
    height: 598px;
    background-color: #f5f5f5;
    position: absolute;
    z-index: -500;
}
/*
@media screen and (min-width: 1161px) {
            #top-background, #top-background > img {width: 100%;}
            #navbar-info {position: fixed; width: 100%;}
}
*/
/*
@media screen and (min-width: 1160px) {
.special_background{
    
}
} 
*/

#special-search{
    margin-top: 51px;
    float: left;
    font-family: 微软雅黑;
    font-size: 20px;
}

#special-search  input{
    height: 25px;
}



/*排序选择器*/
#sort{
    width: 160px;
    font-family: 黑体;
    border: 2px solid #000;
}

#sort_select{
    font-family: 微软雅黑;
    float:right; 
    margin-top: 10px;
}

#display-type-select>.active>a, #display-type-select>.active>a:hover, #display-type-select>.active>a:focus {
  color: #fff;
  background-color: #D9AE48;
}
#change-display-list > a{
    color: black;
}
#change-display-all > a{
    color: black;
}


#display-type-select{
    font-family: 黑体;
    float: left;
    position: relative;
    margin-top: -2px;
    margin-right: 40px;
}

a:hover{
    cursor: pointer;
}

.special-part1{
	clear: both;
}

/***************list视图***************/
#display-list{
    margin-top: 10px;
}

.special-left-top{
    position: relative;
    margin-left: 170px;
}
/*专栏图*/
img#special-part1-img1{
	margin-top: 10px;
	margin-left: 10px;
	width: 340px;
	height: 340px;

    border-radius: 340px;
    position: relative;
    behavior: url(/static/css/PIE.htc);
}

#special-part1-img2{
    margin-left: 0px;
    margin-top: 20px;
    border-left: 0px;
    position: absolute;
    
    width: 362px;
    height: 362px;
}


#special-part1-content, .special-part1-right > a, .special-part2-left > a{
	font-family: 宋体;
	font-size: 16.7px;
    width: 760px;
}

/*专栏图片区域*/
.special-part1-left{
	width: 360px;
	height: 570px;
    margin-top: 28px;
    float:left;
}

/*专栏标题*/
/*圆上面的竖线*/
/*
.special-part1-left > h2{
	width: 25px;
	height: 180px;

	font-family: 黑体;
	font-size: 24px;
	line-height: 80px;
}
*/



.special-part1-left > h2{
	margin-left: 180px;
    margin-top: -50px;
	padding-left: 20px;
	border-left: 2px solid #000000;
}

.special-part1-left > div{
	margin-left: 160px;
	border-left: 2px solid #000000;
}


.special-part1-right{
	font-family: 微软雅黑;
    float:right;
}

#special-part1-content > a{ 
    text-align: center;
    font-size: 35px; 
    font-family: 黑体;
/*    border-bottom: 2.5px solid #000000;*/
}

#author-coin{
    margin-top: 5px;
    text-align: right;
    font-size: 14px;
    font-family: 黑体;
    margin-right: 10px;
}

#author-coin > h4{
    font-size: 14px;
}

/*专栏简介*/
#special-part1-content > p{
    margin-top: 5px;
	font-family: 楷体;
    font-size: 18px;
	overflow-y: auto;
    word-wrap: break-word;
    height: 70px;
    color: #D9AE48;
    overflow-y: hidden;
    margin-bottom: 0px;
    line-height: 25px;
}

#special-part1-content h2{
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 24px;
    font-family: 黑体;
    height: 35px;
}

#special-part1-content > img{
        margin-top: -10px;
    width: 360px;
    margin-left: 200px;
}

/* 专栏最新文章 */

#latest-article{
    margin-top: -10px;
    text-align: left;
    font-family: 黑体;
    font-size: 16px;
    background-repeat:no-repeat;
            background-size: 100% 100%;
            height: 170px;  
                padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 30px;
            padding-right: 30px;
}

#coin-image{
    width: 21px;
    height: 21px;
}

/* More按钮 */
.special-part1-right-more{
	margin-top: 10px;
    font-family: 楷体;
    font-size: 20px;
	letter-spacing: 1px;
    float:right;
}

/* 页码 */
#special-paging{
    margin-top: -10px;
	margin-bottom: 50px;
    width: 100%;
}

#special-paging > div{
	margin-left: 50px;
	text-align: center;
	font-family: 微软雅黑;
	font-size: 16.7px;
}

.pager li>a:hover{
    text-decoration: none;
    background-color: #D9AE48;
}

.pager li>a, .pager li>span {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/***************all视图***************/
#display-all{
    margin-top: 20px;
}

#seperator{
    clear: both;
}

.special-allView-pic{
	margin-top: 10px;
	margin-left: 10px;
	width: 240px;
	height: 240px;

    border-radius: 240px;
    position: relative;
}

.special-allView-pic-circle{
    width: 260px;
    height: 260px;
}

.special-allView-element{
    float:left;
    width: 260px;
    margin-bottom: 50px;
}

.special-allView-element  h2{
    font-size: 25px;
    font-family: 黑体;
}

.special-allView-element > a{
    font-size: 24px;
    font-family: 黑体;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
}

#author-coin-allView > h4{
    font-size: 15px;
    font-family: 黑体;
    margin-top: -15px;
    text-align: center;
}

.special_background_allView{
    margin-top: -20px;
    height: 400px;
    width: 1160px;
    background-color: #f5f5f5;
    position: absolute;
    z-index: -500;
}
