.square-headline{
	/*margin-top: 30px;*/
	width: 557px;

	float: left;
	/*border: 1px solid red;*/
}

@font-face { 
font-family: liukai;
src: url(../fonts/liukai.ttf);
} 

.square-headline h2{
	font-family: liukai, KaiTi, STKaiti;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 10px;
}
.hot-title{  
    font-size: 25px;
    font-weight: bold;
}
.opinion-title{
	position:relative;
	left:39%;
}
.opinion-author-text{
	position:relative;
	left:24%;
	top:-14px;
}
.opinion-line{
	position:relative;
	bottom:120px;
}
.opinion-headline-text{
	position:relative;
	bottom:220px;
    left:1%;
	font-family:liukai, KaiTi, STKaiti;
	font-size:24px;
	line-height:1.5;
	color:#D9AE48;

　　word-wrap:break-word;
}
.opinion-box{
/*	background: url(../images/rectangle.png) no-repeat;*/
	height:438px;
	width:819px;
	/*border: 2px solid #dddddd;*/
}
.square-hot{
	margin-top: 35px;
	height: 513px;
	width: 557px;
	border: 2px solid #dddddd;
}

#square-hot-article{
	font-family: 宋体;
	font-size: 18px;
    table-layout:fixed;
    width:30em;
}


#square-part1-content{
	position:relative;
	bottom:120px;
    table-layout:fixed;
    width:703px;
}

#square-hot-article td,#square-part1-content td{
	padding-top: 25px;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一 起使用。*/
    -moz-text-overflow: ellipsis;
}

#square-hot-article td > a,#square-part1-content td > a{
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一 起使用。*/
    -moz-text-overflow: ellipsis;
}

a.text-more{
    position:relative;
    top:-120px;
}

#square-hot-article img, #square-part1-content img{
	width: 14px;
	height: 14px;
	opacity: 65%;
}

td.square-col-1{
	width: 340px;
	padding-left: 15px;
}

td.square-col-2{
    width:6em;
	position:relative;
	left:9%;
}

td.square-col-3{
	width: 18px;
	color: gray;
	position:relative;
	left:10%;
	top:-2px;
}

.square-col-4{
	width: 80px;
	color: gray;
}

.square-col-final{
	color: gray;
	position:relative;
	left:12%;
}

a.square-more{
	text-align: right;
	font-size: 20px;

	margin-top: 10px;
	margin-right: 20px;
	color: gray;
	letter-spacing: 1px;
	
	position:relative;
	left:-5%;
	top:-5%;
}

.square-recommend{
	margin-left: 44px;
	width: 460px;
}
#recomment-box{
	margin:1.5%;
	background:rgba(0,0,0,0.4) none repeat scroll !important;
	position:relative;
	top:-57%;
}
#recommend-content{
/*	padding-left: 2px;
	padding-top: 7px;*/

}

#recommend-content h3{
	text-align: center;
	font-family: 宋体;
	font-size: 25px;
	position:relative;
	top:40px;
}

#recommend-title{
	/*margin: 16px auto auto auto;*/
	text-align: center;
	position:relative;
	top:40px;
}


#recommend-title span{
	margin-left: 8px;
	font-family: 宋体;
	font-size: 12.5px;
	color: white;
}

#pre-read{
	height: 200px;
    width: 450px;
	font-family: 宋体;
	font-size: 14px;
	text-align:left;
	color:white;

	overflow: hidden;	
	word-wrap: break-word; /*自动换行*/

	position:relative;
	top:40px;
    left:9%;

}

#recommend-img{
	padding: 1.5%;

	z-index:-1;

}

#recommend-img img{
	height: 500px;
	width: 557px;
}
.square-part1-right{
	position:relative;
	top:210px;
	left:-67px;

	width: 700px;
	height: 360px;
}
.square-part1-img2{
    position: absolute; 
    width: 362px;
    height: 362px;
    
}
.square-inside-circle{
    width: 362px;
    height: 362px;
    z-index: 1;
    border-radius: 50%;
    background-color: #f1f1f1;
/*    box-shadow: 3px 1px 3px #aaa;*/
}

img#square-part1-img1{
	margin-top: 15px;
	margin-left: 15px;
	width: 330px;
	height: 330px;
    border-radius: 330px;
    position: relative;
}
#square-part1-content, .square-part1-right > a, .square-part2-left > a{
	font-family: 宋体;
	font-size: 16.7px;
}

#square-part1-content td{
	padding-top: 12px;

}

.square-part1, .square-part2 {
	height: 730px;
	clear: both;

}

/*专栏图片区域*/
.square-part1-left, .square-part2-right{
	width: 360px;
	height: 730px;
	float: left;
}



.square-part1-left{
	float: left;
}

.square-part2-right{
	float: right;
}

/*专栏标题*/
.square-part2-right > h2, .square-part1-left > h2{
	width: 25px;
	height: 190px;

	font-family: liukai, KaiTi, STKaiti;
	font-size: 48px;
	font-weight:bold;
	line-height: 80px;
}

.square-part1-left > h2{
	margin-left: 187px;
	padding-left: 20px;
	border-left: 1px solid #000000;
}

.square-part2-right > h2{
	margin-right: 187px;
	padding-right: 20px;
	border-right: 1px solid #000000;
	float: right;
}

/*专栏图*/
img#square-part1-img, img#square-part2-img, img#square-part3-img{
	margin-top: 40px;

	width: 375px;
	height: 375px;

	border-radius: 375px;
	position: relative;
	behavior: url(/static/css/PIE.htc); /*IE8适配*/
}

/*圆下面的竖线*/
.square-part1-left > div, .square-part2-right > div{
	margin-top: 40px;
	height: 58px;
}

.square-part1-left > div{
	margin-left: 187px;
	border-left: 1px solid #000000;
}

.square-part2-right > div{
	margin-right: 187px;
	border-right: 1px solid #000000;
}


/*专栏文章区域*/
.square-part1-right, .square-part2-left{
	margin-top: 45px;
}

.square-part1-right{
	float: right;
}

.square-part2-left
{
	float: left;
}

.square-part1-right > a, .square-part2-left > a{
	margin-top: 25px;

	letter-spacing: 1px;
	float: right;
}
