.square-headline{
	/*margin-top: 30px;*/
	width: 557px;

	float: left;
	/*border: 1px solid red;*/
}

.square-headline h2{
	font-family: liukai, KaiTi, STKaiti;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 5px;
    position: relative;
    top:-15px;
    left:4%;
}
.hot-title{  
    font-size: 20px;
    font-weight: bold;
}
.opinion-title{
	position:relative;
	margin-bottom: 20px;
	left:39%;
}
.opinion-author-text{
	position:relative;
	left:24%;
	top:-14px;
}
.opinion-line{
	position:relative;
	bottom:120px;
}
.opinion-headline-text{
	position:relative;
	bottom:200px;
    left:1%;
	font-family:liukai, KaiTi, STKaiti;
	font-size:24px;
	line-height:1.5;
	color:#D9AE48;

　　word-wrap:break-word;
}
.opinion-box{
/*	background: url(../images/rectangle.png) no-repeat;*/
	height:438px;
	width:819px;
	/*border: 2px solid #dddddd;*/
}
.square-hot{
	position: relative;
    top:-25px;
	height: 350px;
	width: 780px;
	border: 1px solid #D9AE48;
}
.square-hot2{
	position: relative;
    top:-25px;
    left:43%;
	height: 350px;
	width: 360px;
	border: 1px solid #D9AE48;
}
#square-hot-article{
	font-family: 黑体;
	font-size: 14px;
    table-layout:fixed;
    width:452px;
    line-height: 1;
}


#square-part1-content{
	position:relative;
	bottom:150px;
    table-layout:fixed;
    width:703px;
}

#square-hot-article td,#square-part1-content td{
	padding-top: 20px;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一 起使用。*/
    -moz-text-overflow: ellipsis;
}

#square-hot-article td > a,#square-part1-content td > a{
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一 起使用。*/
    -moz-text-overflow: ellipsis;
}

a.text-more{
    position:relative;
    top:-120px;
}

#square-hot-article img, #square-part1-content img{
	width: 14px;
	height: 14px;
	opacity: 65%;
}
#square-pic-left{
    height: 300px;
    width: 300px;
    position: relative;
    left: 5%;
    top: 22px;
    border: 1px solid #D9AE48;
}
td.square-col-1{
	width: 340px;
	padding-left: 15px;
}
td.square-col-2{
    width: 155px;
}
td.square-col-2 >a{
	position:relative;
	left:8%;
    color:#6e6e6e;
}

td.square-col-3{
	width: 14px;
	color: #6e6e6e;
	position:relative;
/*	left:6%;*/
	top:-1px;
}

td.square-col-4{
	width: 80px;
	color: #6e6e6e;
}

td.square-col-final{
	color: #6e6e6e;
	position:relative;
	left:2%;
}

a.square-more{
	text-align: right;
	font-size: 20px;

	margin-top: 10px;
	margin-right: 20px;
	color: gray;
	letter-spacing: 1px;
	
	position:relative;
	left:-5%;
	top:-5%;
}

.square-recommend{
	margin-left: 44px;
	width: 460px;
}
#recomment-box{
	margin:1.5%;
    position: relative;
    top: -48px;
}
#recommend-content{
/*	padding-left: 2px;
	padding-top: 7px;*/

}

#recommend-content h3{
	text-align: center;
	font-family: 黑体;
	font-size: 18px;
	position:relative;
	top:40px;
}

#recommend-title{
	text-align: center;
	position:relative;
	top:28px;
}


#recommend-title span{
/*	margin-left: 8px;*/
	font-family: 黑体;
	font-size: 12.5px;
}
#recommend-text{
	height: 120px;
    width: 155px;
	font-family: 黑体;
	font-size: 14px;
	text-align:left;

	overflow: hidden;	
	word-wrap: break-word; /*自动换行*/
    display: -webkit-box;  
    -webkit-line-clamp: 6;  
    -webkit-box-orient: vertical;


}
#pre-read{
	height: 60px;
    width: 300px;
	font-family: 黑体;
	font-size: 12.5px;
	text-align:left;

	overflow: hidden;	
	word-wrap: break-word; /*自动换行*/
    display: -webkit-box;  
    -webkit-line-clamp: 3;  
    -webkit-box-orient: vertical;

	position:relative;
	top:40px;
    left: 4%;

}

#recommend-img{
	padding: 1.5%;
    width: 180px;
	z-index:-1;
    float: left;

}

#recommend-img img{
	height: 160px;
	width: 160px;
    border: 1px solid #D9AE48;
    margin: 10px;
}
.square-part1-right{
	position:relative;
	top:210px;
	left:-67px;

	width: 700px;
	height: 360px;
}
.square-part1-img2{
    margin-top: 30px;
    border-left: 0px;
    position: absolute;
}
.square-inside-circle{
    width: 362px;
    height: 362px;
    z-index: 1;
    border-radius: 50%;
    background-color: #f1f1f1;
/*    box-shadow: 3px 1px 3px #aaa;*/
}

img.square-part1-img1{
	margin-top: 15px;
	margin-left: 15px;
	width: 330px;
	height: 330px;
    border-radius: 330px;
    position: relative;
}
#square-part1-content, .square-part1-right > a, .square-part2-left > a{
	font-family: 黑体;
	font-size: 14px;
}

#square-part1-content td{
	padding-top: 12px;

}

.square-part1 {
	height: 730px;
	clear: both;
    position: relative;
    top: -70px;

}
.square-part2{
    height: 730px;
	clear: both;
    position: relative;
    top: -120px;
}
.square-part3{
    height: 730px;
	clear: both;
    position: relative;
    top: -170px;
}

/*专栏图片区域*/
.square-part1-left, .square-part2-right{
	width: 360px;
	height: 730px;
	float: left;
}



.square-part1-left{
	float: left;
}

.square-part2-right{
	float: right;
}

/*专栏标题*/
.square-part2-right > h2, .square-part1-left > h2{
	width: 25px;
	height: 190px;

	font-family: liukai, KaiTi, STKaiti;
	font-size: 48px;
	font-weight:bold;
	line-height: 80px;
}

.square-part1-left > h2{
	margin-left: 187px;
	padding-left: 20px;
	border-left: 1px solid #000000;
}

.square-part2-right > h2{
	margin-right: 187px;
	padding-right: 20px;
	border-right: 1px solid #000000;
	float: right;
}

/*专栏图*/
img#square-part1-img, img#square-part2-img, img#square-part3-img{
	margin-top: 40px;

	width: 375px;
	height: 375px;

	border-radius: 375px;
	position: relative;
	behavior: url(/static/css/PIE.htc); /*IE8适配*/
}

/*圆下面的竖线*/
.square-part1-left > div, .square-part2-right > div{
	/*margin-top: 40px;*/
	height: 362px;
	width: 362px;
}

.square-part1-left > div{
	/*margin-left: 187px;*/
	/*border-left: 1px solid #000000;*/
}

.square-part2-right > div{
	margin-right: 187px;
	border-right: 1px solid #000000;
}


/*专栏文章区域*/
.square-part1-right, .square-part2-left{
	margin-top: 25px;
}

.square-part1-right{
	float: right;
}

.square-part2-left
{
	float: left;
}

.square-part1-right > a, .square-part2-left > a{
	margin-top: 25px;
    position: relative;
    left:25px;
	letter-spacing: 1px;
	float: right;
}
#sort-sq1,#sort-sq2,#sort-sq3{
    width: 160px;
    font-family: 黑体;
    border: 2px solid #000;
    position: relative;
    top: -150px;
    left: 81%
}